.button {
  box-sizing: border-box;

  &:hover {
    background-color: var(--color-button-hover);
    box-shadow: var(--elevation5);
  }

  &:active {
    background-color: var(--color-button-active);
    box-shadow: var(--elevation5);

    &:disabled {
      background-color: var(--color-button-disabled);
    }
  }
}

.size_xs {
  padding: var(--size-space-xs) var(--size-space-sm);
  font-size: var(--font-size16);
  line-height: var(--line-height160);
  letter-spacing: var(--letter-spacing-normal);
  background-color: var(--color-button-normal);
  border-radius: var(--size-radius-md);
  box-shadow: var(--elevation1);
}

.size_sm {
  padding: var(--size-space-sm) var(--size-space-md);
  font-size: var(--font-size18);
  line-height: var(--line-height170);
  letter-spacing: var(--letter-spacing-normal);
  background-color: var(--color-button-normal);
  border-radius: var(--size-radius-lg);
  box-shadow: var(--elevation2);
}

.size_md {
  padding: var(--size-space-md) var(--size-space-lg);
  font-size: var(--font-size20);
  line-height: var(--line-height175);
  letter-spacing: var(--letter-spacing-normal);
  background-color: var(--color-button-normal);
  border-radius: var(--size-radius-xl);
  box-shadow: var(--elevation3);
}

.size_lg {
  padding: var(--size-space-lg) var(--size-space-xl);
  font-size: var(--font-size22);
  line-height: var(--line-height175);
  letter-spacing: var(--letter-spacing-normal);
  background-color: var(--color-button-normal);
  border-radius: var(--size-radius-xxl);
  box-shadow: var(--elevation4);
}

.disabled {
  background-color: var(--color-button-disabled);
  box-shadow: var(--elevation1);
}

.full_width {
  width: 100%;
}

.loading {
  cursor: progress;
}

.click {
  cursor: pointer;
}
