/* bg-color.css */


.bg_white { background-color: #fff; }
.bg_black { background-color: #000; }
.bg_transparent { background-color: transparent; }
.bg_brand50 { background-color: ; }
.bg_brand100 { background-color: ; }
.bg_brand200 { background-color: ; }
.bg_brand300 { background-color: ; }
.bg_brand400 { background-color: ; }
.bg_brand500 { background-color: ; }
.bg_brand600 { background-color: ; }
.bg_brand700 { background-color: ; }
.bg_brand800 { background-color: ; }
.bg_brand900 { background-color: ; }
.bg_brand1000 { background-color: ; }
.bg_brand1100 { background-color: ; }
.bg_brand1200 { background-color: ; }
.bg_grey50 { background-color: #f2f2f2; }
.bg_grey100 { background-color: #e6e6e6; }
.bg_grey200 { background-color: #ccc; }
.bg_grey300 { background-color: #b3b3b3; }
.bg_grey400 { background-color: #999; }
.bg_grey417 { background-color: #959595; }
.bg_grey500 { background-color: #7f7f7f; }
.bg_grey536 { background-color: #767676; }
.bg_grey600 { background-color: #666; }
.bg_grey700 { background-color: #4d4d4d; }
.bg_grey800 { background-color: #333; }
.bg_grey900 { background-color: #1a1a1a; }
.bg_opacity_grey0 { background-color: rgb(0 0 0 / 0%); }
.bg_opacity_grey50 { background-color: rgb(0 0 0 / 5%); }
.bg_opacity_grey100 { background-color: rgb(0 0 0 / 10%); }
.bg_opacity_grey200 { background-color: rgb(0 0 0 / 20%); }
.bg_opacity_grey300 { background-color: rgb(0 0 0 / 30%); }
.bg_opacity_grey400 { background-color: rgb(0 0 0 / 40%); }
.bg_opacity_grey417 { background-color: rgb(0 0 0 / 41.7%); }
.bg_opacity_grey500 { background-color: rgb(0 0 0 / 50%); }
.bg_opacity_grey536 { background-color: rgb(0 0 0 / 53.6%); }
.bg_opacity_grey600 { background-color: rgb(0 0 0 / 60%); }
.bg_opacity_grey700 { background-color: rgb(0 0 0 / 70%); }
.bg_opacity_grey800 { background-color: rgb(0 0 0 / 80%); }
.bg_opacity_grey900 { background-color: rgb(0 0 0 / 90%); }
.bg_blue50 { background-color: #e8f1fe; }
.bg_blue100 { background-color: #d9e6ff; }
.bg_blue200 { background-color: #c5d7fb; }
.bg_blue300 { background-color: #9db7f9; }
.bg_blue400 { background-color: #7096f8; }
.bg_blue500 { background-color: #4979f5; }
.bg_blue600 { background-color: #3460fb; }
.bg_blue700 { background-color: #264af4; }
.bg_blue800 { background-color: #0031d8; }
.bg_blue900 { background-color: #0017c1; }
.bg_blue1000 { background-color: #00118f; }
.bg_blue1100 { background-color: #000071; }
.bg_blue1200 { background-color: #000060; }
.bg_light_blue50 { background-color: #f0f9ff; }
.bg_light_blue100 { background-color: #dcf0ff; }
.bg_light_blue200 { background-color: #c0e4ff; }
.bg_light_blue300 { background-color: #97d3ff; }
.bg_light_blue400 { background-color: #57b8ff; }
.bg_light_blue500 { background-color: #39abff; }
.bg_light_blue600 { background-color: #008bf2; }
.bg_light_blue700 { background-color: #0877d7; }
.bg_light_blue800 { background-color: #0066be; }
.bg_light_blue900 { background-color: #0055ad; }
.bg_light_blue1000 { background-color: #00428c; }
.bg_light_blue1100 { background-color: #00316a; }
.bg_light_blue1200 { background-color: #00234b; }
.bg_cyan50 { background-color: #e6fcff; }
.bg_cyan100 { background-color: #c8f8ff; }
.bg_cyan200 { background-color: #99f2ff; }
.bg_cyan300 { background-color: #79e2f2; }
.bg_cyan400 { background-color: #2bc8e4; }
.bg_cyan500 { background-color: #01b7d6; }
.bg_cyan600 { background-color: #00a3bf; }
.bg_cyan700 { background-color: #008da6; }
.bg_cyan800 { background-color: #008299; }
.bg_cyan900 { background-color: #006f83; }
.bg_cyan1000 { background-color: #006173; }
.bg_cyan1100 { background-color: #004c59; }
.bg_cyan1200 { background-color: #003741; }
.bg_green50 { background-color: #e6f5ec; }
.bg_green100 { background-color: #c2e5d1; }
.bg_green200 { background-color: #9bd4b5; }
.bg_green300 { background-color: #71c598; }
.bg_green400 { background-color: #51b883; }
.bg_green500 { background-color: #2cac6e; }
.bg_green600 { background-color: #259d63; }
.bg_green700 { background-color: #1d8b56; }
.bg_green800 { background-color: #197a4b; }
.bg_green900 { background-color: #115a36; }
.bg_green1000 { background-color: #0c472a; }
.bg_green1100 { background-color: #08351f; }
.bg_green1200 { background-color: #032213; }
.bg_lime50 { background-color: #ebfad9; }
.bg_lime100 { background-color: #d0f5a2; }
.bg_lime200 { background-color: #c0f354; }
.bg_lime300 { background-color: #ade830; }
.bg_lime400 { background-color: #9ddd15; }
.bg_lime500 { background-color: #8cc80c; }
.bg_lime600 { background-color: #7eb40d; }
.bg_lime700 { background-color: #6fa104; }
.bg_lime800 { background-color: #618e00; }
.bg_lime900 { background-color: #507500; }
.bg_lime1000 { background-color: #3e5a00; }
.bg_lime1100 { background-color: #2c4100; }
.bg_lime1200 { background-color: #1e2d00; }
.bg_yellow50 { background-color: #fbf5e0; }
.bg_yellow100 { background-color: #fff0b3; }
.bg_yellow200 { background-color: #ffe380; }
.bg_yellow300 { background-color: #ffd43d; }
.bg_yellow400 { background-color: #ffc700; }
.bg_yellow500 { background-color: #ebb700; }
.bg_yellow600 { background-color: #d2a400; }
.bg_yellow700 { background-color: #b78f00; }
.bg_yellow800 { background-color: #a58000; }
.bg_yellow900 { background-color: #927200; }
.bg_yellow1000 { background-color: #806300; }
.bg_yellow1100 { background-color: #6e5600; }
.bg_yellow1200 { background-color: #604b00; }
.bg_orange50 { background-color: #ffeee2; }
.bg_orange100 { background-color: #ffdfca; }
.bg_orange200 { background-color: #ffc199; }
.bg_orange300 { background-color: #ffa66d; }
.bg_orange400 { background-color: #ff8d44; }
.bg_orange500 { background-color: #ff7628; }
.bg_orange600 { background-color: #fb5b01; }
.bg_orange700 { background-color: #e25100; }
.bg_orange800 { background-color: #c74700; }
.bg_orange900 { background-color: #ac3e00; }
.bg_orange1000 { background-color: #8b3200; }
.bg_orange1100 { background-color: #6d2700; }
.bg_orange1200 { background-color: #541e00; }
.bg_red50 { background-color: #fdeeee; }
.bg_red100 { background-color: #ffdada; }
.bg_red200 { background-color: #fbb; }
.bg_red300 { background-color: #ff9696; }
.bg_red400 { background-color: #ff7171; }
.bg_red500 { background-color: #ff5454; }
.bg_red600 { background-color: #fe3939; }
.bg_red700 { background-color: #fa0000; }
.bg_red800 { background-color: #ec0000; }
.bg_red900 { background-color: #ce0000; }
.bg_red1000 { background-color: #a90000; }
.bg_red1100 { background-color: #850000; }
.bg_red1200 { background-color: #620000; }
.bg_magenta50 { background-color: #f3e5f4; }
.bg_magenta100 { background-color: #ffd0ff; }
.bg_magenta200 { background-color: #ffaeff; }
.bg_magenta300 { background-color: #ff8eff; }
.bg_magenta400 { background-color: #f661f6; }
.bg_magenta500 { background-color: #f137f1; }
.bg_magenta600 { background-color: #db00db; }
.bg_magenta700 { background-color: #c000c0; }
.bg_magenta800 { background-color: #a0a; }
.bg_magenta900 { background-color: #8b008b; }
.bg_magenta1000 { background-color: #6c006c; }
.bg_magenta1100 { background-color: #500050; }
.bg_magenta1200 { background-color: #3b003b; }
.bg_purple50 { background-color: #f1eafa; }
.bg_purple100 { background-color: #ecddff; }
.bg_purple200 { background-color: #ddc2ff; }
.bg_purple300 { background-color: #cda6ff; }
.bg_purple400 { background-color: #bb87ff; }
.bg_purple500 { background-color: #a565f8; }
.bg_purple600 { background-color: #8843e1; }
.bg_purple700 { background-color: #6f23d0; }
.bg_purple800 { background-color: #5c10be; }
.bg_purple900 { background-color: #5109ad; }
.bg_purple1000 { background-color: #41048e; }
.bg_purple1100 { background-color: #30016c; }
.bg_purple1200 { background-color: #21004b; }
.bg_primary { background-color: #fff; }
.bg_secondary { background-color: #e6e6e6; }
.bg_tertiary { background-color: #f2f2f2; }
.bg_primary_dark { background-color: #1a1a1a; }
.bg_secondary_dark { background-color: #4d4d4d; }
.bg_tertiary_dark { background-color: #333; }
.bg_information { background-color: #0877d7; }
.bg_information_contrast { background-color: #fff; }
.bg_success { background-color: #197a4b; }
.bg_success_contrast { background-color: #fff; }
.bg_alert { background-color: #ec0000; }
.bg_alert_contrast { background-color: #fff; }
.bg_warning { background-color: #c74700; }
.bg_warning_contrast { background-color: #fff; }
.bg_information_dark { background-color: #39abff; }
.bg_success_dark { background-color: #1d8b56; }
.bg_alert_dark { background-color: #fe3939; }
.bg_warning_dark { background-color: #fb5b01; }

@media screen and (width <= 575px){



.bg_sp_white { background-color: #fff; }
.bg_sp_black { background-color: #000; }
.bg_sp_transparent { background-color: transparent; }
.bg_sp_brand50 { background-color: ; }
.bg_sp_brand100 { background-color: ; }
.bg_sp_brand200 { background-color: ; }
.bg_sp_brand300 { background-color: ; }
.bg_sp_brand400 { background-color: ; }
.bg_sp_brand500 { background-color: ; }
.bg_sp_brand600 { background-color: ; }
.bg_sp_brand700 { background-color: ; }
.bg_sp_brand800 { background-color: ; }
.bg_sp_brand900 { background-color: ; }
.bg_sp_brand1000 { background-color: ; }
.bg_sp_brand1100 { background-color: ; }
.bg_sp_brand1200 { background-color: ; }
.bg_sp_grey50 { background-color: #f2f2f2; }
.bg_sp_grey100 { background-color: #e6e6e6; }
.bg_sp_grey200 { background-color: #ccc; }
.bg_sp_grey300 { background-color: #b3b3b3; }
.bg_sp_grey400 { background-color: #999; }
.bg_sp_grey417 { background-color: #959595; }
.bg_sp_grey500 { background-color: #7f7f7f; }
.bg_sp_grey536 { background-color: #767676; }
.bg_sp_grey600 { background-color: #666; }
.bg_sp_grey700 { background-color: #4d4d4d; }
.bg_sp_grey800 { background-color: #333; }
.bg_sp_grey900 { background-color: #1a1a1a; }
.bg_sp_opacity_grey0 { background-color: rgb(0 0 0 / 0%); }
.bg_sp_opacity_grey50 { background-color: rgb(0 0 0 / 5%); }
.bg_sp_opacity_grey100 { background-color: rgb(0 0 0 / 10%); }
.bg_sp_opacity_grey200 { background-color: rgb(0 0 0 / 20%); }
.bg_sp_opacity_grey300 { background-color: rgb(0 0 0 / 30%); }
.bg_sp_opacity_grey400 { background-color: rgb(0 0 0 / 40%); }
.bg_sp_opacity_grey417 { background-color: rgb(0 0 0 / 41.7%); }
.bg_sp_opacity_grey500 { background-color: rgb(0 0 0 / 50%); }
.bg_sp_opacity_grey536 { background-color: rgb(0 0 0 / 53.6%); }
.bg_sp_opacity_grey600 { background-color: rgb(0 0 0 / 60%); }
.bg_sp_opacity_grey700 { background-color: rgb(0 0 0 / 70%); }
.bg_sp_opacity_grey800 { background-color: rgb(0 0 0 / 80%); }
.bg_sp_opacity_grey900 { background-color: rgb(0 0 0 / 90%); }
.bg_sp_blue50 { background-color: #e8f1fe; }
.bg_sp_blue100 { background-color: #d9e6ff; }
.bg_sp_blue200 { background-color: #c5d7fb; }
.bg_sp_blue300 { background-color: #9db7f9; }
.bg_sp_blue400 { background-color: #7096f8; }
.bg_sp_blue500 { background-color: #4979f5; }
.bg_sp_blue600 { background-color: #3460fb; }
.bg_sp_blue700 { background-color: #264af4; }
.bg_sp_blue800 { background-color: #0031d8; }
.bg_sp_blue900 { background-color: #0017c1; }
.bg_sp_blue1000 { background-color: #00118f; }
.bg_sp_blue1100 { background-color: #000071; }
.bg_sp_blue1200 { background-color: #000060; }
.bg_sp_light_blue50 { background-color: #f0f9ff; }
.bg_sp_light_blue100 { background-color: #dcf0ff; }
.bg_sp_light_blue200 { background-color: #c0e4ff; }
.bg_sp_light_blue300 { background-color: #97d3ff; }
.bg_sp_light_blue400 { background-color: #57b8ff; }
.bg_sp_light_blue500 { background-color: #39abff; }
.bg_sp_light_blue600 { background-color: #008bf2; }
.bg_sp_light_blue700 { background-color: #0877d7; }
.bg_sp_light_blue800 { background-color: #0066be; }
.bg_sp_light_blue900 { background-color: #0055ad; }
.bg_sp_light_blue1000 { background-color: #00428c; }
.bg_sp_light_blue1100 { background-color: #00316a; }
.bg_sp_light_blue1200 { background-color: #00234b; }
.bg_sp_cyan50 { background-color: #e6fcff; }
.bg_sp_cyan100 { background-color: #c8f8ff; }
.bg_sp_cyan200 { background-color: #99f2ff; }
.bg_sp_cyan300 { background-color: #79e2f2; }
.bg_sp_cyan400 { background-color: #2bc8e4; }
.bg_sp_cyan500 { background-color: #01b7d6; }
.bg_sp_cyan600 { background-color: #00a3bf; }
.bg_sp_cyan700 { background-color: #008da6; }
.bg_sp_cyan800 { background-color: #008299; }
.bg_sp_cyan900 { background-color: #006f83; }
.bg_sp_cyan1000 { background-color: #006173; }
.bg_sp_cyan1100 { background-color: #004c59; }
.bg_sp_cyan1200 { background-color: #003741; }
.bg_sp_green50 { background-color: #e6f5ec; }
.bg_sp_green100 { background-color: #c2e5d1; }
.bg_sp_green200 { background-color: #9bd4b5; }
.bg_sp_green300 { background-color: #71c598; }
.bg_sp_green400 { background-color: #51b883; }
.bg_sp_green500 { background-color: #2cac6e; }
.bg_sp_green600 { background-color: #259d63; }
.bg_sp_green700 { background-color: #1d8b56; }
.bg_sp_green800 { background-color: #197a4b; }
.bg_sp_green900 { background-color: #115a36; }
.bg_sp_green1000 { background-color: #0c472a; }
.bg_sp_green1100 { background-color: #08351f; }
.bg_sp_green1200 { background-color: #032213; }
.bg_sp_lime50 { background-color: #ebfad9; }
.bg_sp_lime100 { background-color: #d0f5a2; }
.bg_sp_lime200 { background-color: #c0f354; }
.bg_sp_lime300 { background-color: #ade830; }
.bg_sp_lime400 { background-color: #9ddd15; }
.bg_sp_lime500 { background-color: #8cc80c; }
.bg_sp_lime600 { background-color: #7eb40d; }
.bg_sp_lime700 { background-color: #6fa104; }
.bg_sp_lime800 { background-color: #618e00; }
.bg_sp_lime900 { background-color: #507500; }
.bg_sp_lime1000 { background-color: #3e5a00; }
.bg_sp_lime1100 { background-color: #2c4100; }
.bg_sp_lime1200 { background-color: #1e2d00; }
.bg_sp_yellow50 { background-color: #fbf5e0; }
.bg_sp_yellow100 { background-color: #fff0b3; }
.bg_sp_yellow200 { background-color: #ffe380; }
.bg_sp_yellow300 { background-color: #ffd43d; }
.bg_sp_yellow400 { background-color: #ffc700; }
.bg_sp_yellow500 { background-color: #ebb700; }
.bg_sp_yellow600 { background-color: #d2a400; }
.bg_sp_yellow700 { background-color: #b78f00; }
.bg_sp_yellow800 { background-color: #a58000; }
.bg_sp_yellow900 { background-color: #927200; }
.bg_sp_yellow1000 { background-color: #806300; }
.bg_sp_yellow1100 { background-color: #6e5600; }
.bg_sp_yellow1200 { background-color: #604b00; }
.bg_sp_orange50 { background-color: #ffeee2; }
.bg_sp_orange100 { background-color: #ffdfca; }
.bg_sp_orange200 { background-color: #ffc199; }
.bg_sp_orange300 { background-color: #ffa66d; }
.bg_sp_orange400 { background-color: #ff8d44; }
.bg_sp_orange500 { background-color: #ff7628; }
.bg_sp_orange600 { background-color: #fb5b01; }
.bg_sp_orange700 { background-color: #e25100; }
.bg_sp_orange800 { background-color: #c74700; }
.bg_sp_orange900 { background-color: #ac3e00; }
.bg_sp_orange1000 { background-color: #8b3200; }
.bg_sp_orange1100 { background-color: #6d2700; }
.bg_sp_orange1200 { background-color: #541e00; }
.bg_sp_red50 { background-color: #fdeeee; }
.bg_sp_red100 { background-color: #ffdada; }
.bg_sp_red200 { background-color: #fbb; }
.bg_sp_red300 { background-color: #ff9696; }
.bg_sp_red400 { background-color: #ff7171; }
.bg_sp_red500 { background-color: #ff5454; }
.bg_sp_red600 { background-color: #fe3939; }
.bg_sp_red700 { background-color: #fa0000; }
.bg_sp_red800 { background-color: #ec0000; }
.bg_sp_red900 { background-color: #ce0000; }
.bg_sp_red1000 { background-color: #a90000; }
.bg_sp_red1100 { background-color: #850000; }
.bg_sp_red1200 { background-color: #620000; }
.bg_sp_magenta50 { background-color: #f3e5f4; }
.bg_sp_magenta100 { background-color: #ffd0ff; }
.bg_sp_magenta200 { background-color: #ffaeff; }
.bg_sp_magenta300 { background-color: #ff8eff; }
.bg_sp_magenta400 { background-color: #f661f6; }
.bg_sp_magenta500 { background-color: #f137f1; }
.bg_sp_magenta600 { background-color: #db00db; }
.bg_sp_magenta700 { background-color: #c000c0; }
.bg_sp_magenta800 { background-color: #a0a; }
.bg_sp_magenta900 { background-color: #8b008b; }
.bg_sp_magenta1000 { background-color: #6c006c; }
.bg_sp_magenta1100 { background-color: #500050; }
.bg_sp_magenta1200 { background-color: #3b003b; }
.bg_sp_purple50 { background-color: #f1eafa; }
.bg_sp_purple100 { background-color: #ecddff; }
.bg_sp_purple200 { background-color: #ddc2ff; }
.bg_sp_purple300 { background-color: #cda6ff; }
.bg_sp_purple400 { background-color: #bb87ff; }
.bg_sp_purple500 { background-color: #a565f8; }
.bg_sp_purple600 { background-color: #8843e1; }
.bg_sp_purple700 { background-color: #6f23d0; }
.bg_sp_purple800 { background-color: #5c10be; }
.bg_sp_purple900 { background-color: #5109ad; }
.bg_sp_purple1000 { background-color: #41048e; }
.bg_sp_purple1100 { background-color: #30016c; }
.bg_sp_purple1200 { background-color: #21004b; }
.bg_sp_primary { background-color: #fff; }
.bg_sp_secondary { background-color: #e6e6e6; }
.bg_sp_tertiary { background-color: #f2f2f2; }
.bg_sp_primary_dark { background-color: #1a1a1a; }
.bg_sp_secondary_dark { background-color: #4d4d4d; }
.bg_sp_tertiary_dark { background-color: #333; }
.bg_sp_information { background-color: #0877d7; }
.bg_sp_information_contrast { background-color: #fff; }
.bg_sp_success { background-color: #197a4b; }
.bg_sp_success_contrast { background-color: #fff; }
.bg_sp_alert { background-color: #ec0000; }
.bg_sp_alert_contrast { background-color: #fff; }
.bg_sp_warning { background-color: #c74700; }
.bg_sp_warning_contrast { background-color: #fff; }
.bg_sp_information_dark { background-color: #39abff; }
.bg_sp_success_dark { background-color: #1d8b56; }
.bg_sp_alert_dark { background-color: #fe3939; }
.bg_sp_warning_dark { background-color: #fb5b01; }

}

@media screen and (width >= 576px) and (width <= 992px){

.bg_tb_white { background-color: #fff; }
.bg_tb_black { background-color: #000; }
.bg_tb_transparent { background-color: transparent; }
.bg_tb_brand50 { background-color: ; }
.bg_tb_brand100 { background-color: ; }
.bg_tb_brand200 { background-color: ; }
.bg_tb_brand300 { background-color: ; }
.bg_tb_brand400 { background-color: ; }
.bg_tb_brand500 { background-color: ; }
.bg_tb_brand600 { background-color: ; }
.bg_tb_brand700 { background-color: ; }
.bg_tb_brand800 { background-color: ; }
.bg_tb_brand900 { background-color: ; }
.bg_tb_brand1000 { background-color: ; }
.bg_tb_brand1100 { background-color: ; }
.bg_tb_brand1200 { background-color: ; }
.bg_tb_grey50 { background-color: #f2f2f2; }
.bg_tb_grey100 { background-color: #e6e6e6; }
.bg_tb_grey200 { background-color: #ccc; }
.bg_tb_grey300 { background-color: #b3b3b3; }
.bg_tb_grey400 { background-color: #999; }
.bg_tb_grey417 { background-color: #959595; }
.bg_tb_grey500 { background-color: #7f7f7f; }
.bg_tb_grey536 { background-color: #767676; }
.bg_tb_grey600 { background-color: #666; }
.bg_tb_grey700 { background-color: #4d4d4d; }
.bg_tb_grey800 { background-color: #333; }
.bg_tb_grey900 { background-color: #1a1a1a; }
.bg_tb_opacity_grey0 { background-color: rgb(0 0 0 / 0%); }
.bg_tb_opacity_grey50 { background-color: rgb(0 0 0 / 5%); }
.bg_tb_opacity_grey100 { background-color: rgb(0 0 0 / 10%); }
.bg_tb_opacity_grey200 { background-color: rgb(0 0 0 / 20%); }
.bg_tb_opacity_grey300 { background-color: rgb(0 0 0 / 30%); }
.bg_tb_opacity_grey400 { background-color: rgb(0 0 0 / 40%); }
.bg_tb_opacity_grey417 { background-color: rgb(0 0 0 / 41.7%); }
.bg_tb_opacity_grey500 { background-color: rgb(0 0 0 / 50%); }
.bg_tb_opacity_grey536 { background-color: rgb(0 0 0 / 53.6%); }
.bg_tb_opacity_grey600 { background-color: rgb(0 0 0 / 60%); }
.bg_tb_opacity_grey700 { background-color: rgb(0 0 0 / 70%); }
.bg_tb_opacity_grey800 { background-color: rgb(0 0 0 / 80%); }
.bg_tb_opacity_grey900 { background-color: rgb(0 0 0 / 90%); }
.bg_tb_blue50 { background-color: #e8f1fe; }
.bg_tb_blue100 { background-color: #d9e6ff; }
.bg_tb_blue200 { background-color: #c5d7fb; }
.bg_tb_blue300 { background-color: #9db7f9; }
.bg_tb_blue400 { background-color: #7096f8; }
.bg_tb_blue500 { background-color: #4979f5; }
.bg_tb_blue600 { background-color: #3460fb; }
.bg_tb_blue700 { background-color: #264af4; }
.bg_tb_blue800 { background-color: #0031d8; }
.bg_tb_blue900 { background-color: #0017c1; }
.bg_tb_blue1000 { background-color: #00118f; }
.bg_tb_blue1100 { background-color: #000071; }
.bg_tb_blue1200 { background-color: #000060; }
.bg_tb_light_blue50 { background-color: #f0f9ff; }
.bg_tb_light_blue100 { background-color: #dcf0ff; }
.bg_tb_light_blue200 { background-color: #c0e4ff; }
.bg_tb_light_blue300 { background-color: #97d3ff; }
.bg_tb_light_blue400 { background-color: #57b8ff; }
.bg_tb_light_blue500 { background-color: #39abff; }
.bg_tb_light_blue600 { background-color: #008bf2; }
.bg_tb_light_blue700 { background-color: #0877d7; }
.bg_tb_light_blue800 { background-color: #0066be; }
.bg_tb_light_blue900 { background-color: #0055ad; }
.bg_tb_light_blue1000 { background-color: #00428c; }
.bg_tb_light_blue1100 { background-color: #00316a; }
.bg_tb_light_blue1200 { background-color: #00234b; }
.bg_tb_cyan50 { background-color: #e6fcff; }
.bg_tb_cyan100 { background-color: #c8f8ff; }
.bg_tb_cyan200 { background-color: #99f2ff; }
.bg_tb_cyan300 { background-color: #79e2f2; }
.bg_tb_cyan400 { background-color: #2bc8e4; }
.bg_tb_cyan500 { background-color: #01b7d6; }
.bg_tb_cyan600 { background-color: #00a3bf; }
.bg_tb_cyan700 { background-color: #008da6; }
.bg_tb_cyan800 { background-color: #008299; }
.bg_tb_cyan900 { background-color: #006f83; }
.bg_tb_cyan1000 { background-color: #006173; }
.bg_tb_cyan1100 { background-color: #004c59; }
.bg_tb_cyan1200 { background-color: #003741; }
.bg_tb_green50 { background-color: #e6f5ec; }
.bg_tb_green100 { background-color: #c2e5d1; }
.bg_tb_green200 { background-color: #9bd4b5; }
.bg_tb_green300 { background-color: #71c598; }
.bg_tb_green400 { background-color: #51b883; }
.bg_tb_green500 { background-color: #2cac6e; }
.bg_tb_green600 { background-color: #259d63; }
.bg_tb_green700 { background-color: #1d8b56; }
.bg_tb_green800 { background-color: #197a4b; }
.bg_tb_green900 { background-color: #115a36; }
.bg_tb_green1000 { background-color: #0c472a; }
.bg_tb_green1100 { background-color: #08351f; }
.bg_tb_green1200 { background-color: #032213; }
.bg_tb_lime50 { background-color: #ebfad9; }
.bg_tb_lime100 { background-color: #d0f5a2; }
.bg_tb_lime200 { background-color: #c0f354; }
.bg_tb_lime300 { background-color: #ade830; }
.bg_tb_lime400 { background-color: #9ddd15; }
.bg_tb_lime500 { background-color: #8cc80c; }
.bg_tb_lime600 { background-color: #7eb40d; }
.bg_tb_lime700 { background-color: #6fa104; }
.bg_tb_lime800 { background-color: #618e00; }
.bg_tb_lime900 { background-color: #507500; }
.bg_tb_lime1000 { background-color: #3e5a00; }
.bg_tb_lime1100 { background-color: #2c4100; }
.bg_tb_lime1200 { background-color: #1e2d00; }
.bg_tb_yellow50 { background-color: #fbf5e0; }
.bg_tb_yellow100 { background-color: #fff0b3; }
.bg_tb_yellow200 { background-color: #ffe380; }
.bg_tb_yellow300 { background-color: #ffd43d; }
.bg_tb_yellow400 { background-color: #ffc700; }
.bg_tb_yellow500 { background-color: #ebb700; }
.bg_tb_yellow600 { background-color: #d2a400; }
.bg_tb_yellow700 { background-color: #b78f00; }
.bg_tb_yellow800 { background-color: #a58000; }
.bg_tb_yellow900 { background-color: #927200; }
.bg_tb_yellow1000 { background-color: #806300; }
.bg_tb_yellow1100 { background-color: #6e5600; }
.bg_tb_yellow1200 { background-color: #604b00; }
.bg_tb_orange50 { background-color: #ffeee2; }
.bg_tb_orange100 { background-color: #ffdfca; }
.bg_tb_orange200 { background-color: #ffc199; }
.bg_tb_orange300 { background-color: #ffa66d; }
.bg_tb_orange400 { background-color: #ff8d44; }
.bg_tb_orange500 { background-color: #ff7628; }
.bg_tb_orange600 { background-color: #fb5b01; }
.bg_tb_orange700 { background-color: #e25100; }
.bg_tb_orange800 { background-color: #c74700; }
.bg_tb_orange900 { background-color: #ac3e00; }
.bg_tb_orange1000 { background-color: #8b3200; }
.bg_tb_orange1100 { background-color: #6d2700; }
.bg_tb_orange1200 { background-color: #541e00; }
.bg_tb_red50 { background-color: #fdeeee; }
.bg_tb_red100 { background-color: #ffdada; }
.bg_tb_red200 { background-color: #fbb; }
.bg_tb_red300 { background-color: #ff9696; }
.bg_tb_red400 { background-color: #ff7171; }
.bg_tb_red500 { background-color: #ff5454; }
.bg_tb_red600 { background-color: #fe3939; }
.bg_tb_red700 { background-color: #fa0000; }
.bg_tb_red800 { background-color: #ec0000; }
.bg_tb_red900 { background-color: #ce0000; }
.bg_tb_red1000 { background-color: #a90000; }
.bg_tb_red1100 { background-color: #850000; }
.bg_tb_red1200 { background-color: #620000; }
.bg_tb_magenta50 { background-color: #f3e5f4; }
.bg_tb_magenta100 { background-color: #ffd0ff; }
.bg_tb_magenta200 { background-color: #ffaeff; }
.bg_tb_magenta300 { background-color: #ff8eff; }
.bg_tb_magenta400 { background-color: #f661f6; }
.bg_tb_magenta500 { background-color: #f137f1; }
.bg_tb_magenta600 { background-color: #db00db; }
.bg_tb_magenta700 { background-color: #c000c0; }
.bg_tb_magenta800 { background-color: #a0a; }
.bg_tb_magenta900 { background-color: #8b008b; }
.bg_tb_magenta1000 { background-color: #6c006c; }
.bg_tb_magenta1100 { background-color: #500050; }
.bg_tb_magenta1200 { background-color: #3b003b; }
.bg_tb_purple50 { background-color: #f1eafa; }
.bg_tb_purple100 { background-color: #ecddff; }
.bg_tb_purple200 { background-color: #ddc2ff; }
.bg_tb_purple300 { background-color: #cda6ff; }
.bg_tb_purple400 { background-color: #bb87ff; }
.bg_tb_purple500 { background-color: #a565f8; }
.bg_tb_purple600 { background-color: #8843e1; }
.bg_tb_purple700 { background-color: #6f23d0; }
.bg_tb_purple800 { background-color: #5c10be; }
.bg_tb_purple900 { background-color: #5109ad; }
.bg_tb_purple1000 { background-color: #41048e; }
.bg_tb_purple1100 { background-color: #30016c; }
.bg_tb_purple1200 { background-color: #21004b; }
.bg_tb_primary { background-color: #fff; }
.bg_tb_secondary { background-color: #e6e6e6; }
.bg_tb_tertiary { background-color: #f2f2f2; }
.bg_tb_primary_dark { background-color: #1a1a1a; }
.bg_tb_secondary_dark { background-color: #4d4d4d; }
.bg_tb_tertiary_dark { background-color: #333; }
.bg_tb_information { background-color: #0877d7; }
.bg_tb_information_contrast { background-color: #fff; }
.bg_tb_success { background-color: #197a4b; }
.bg_tb_success_contrast { background-color: #fff; }
.bg_tb_alert { background-color: #ec0000; }
.bg_tb_alert_contrast { background-color: #fff; }
.bg_tb_warning { background-color: #c74700; }
.bg_tb_warning_contrast { background-color: #fff; }
.bg_tb_information_dark { background-color: #39abff; }
.bg_tb_success_dark { background-color: #1d8b56; }
.bg_tb_alert_dark { background-color: #fe3939; }
.bg_tb_warning_dark { background-color: #fb5b01; }

}

@media screen and (width >= 993px) {

.bg_pc_white { background-color: #fff; }
.bg_pc_black { background-color: #000; }
.bg_pc_transparent { background-color: transparent; }
.bg_pc_brand50 { background-color: ; }
.bg_pc_brand100 { background-color: ; }
.bg_pc_brand200 { background-color: ; }
.bg_pc_brand300 { background-color: ; }
.bg_pc_brand400 { background-color: ; }
.bg_pc_brand500 { background-color: ; }
.bg_pc_brand600 { background-color: ; }
.bg_pc_brand700 { background-color: ; }
.bg_pc_brand800 { background-color: ; }
.bg_pc_brand900 { background-color: ; }
.bg_pc_brand1000 { background-color: ; }
.bg_pc_brand1100 { background-color: ; }
.bg_pc_brand1200 { background-color: ; }
.bg_pc_grey50 { background-color: #f2f2f2; }
.bg_pc_grey100 { background-color: #e6e6e6; }
.bg_pc_grey200 { background-color: #ccc; }
.bg_pc_grey300 { background-color: #b3b3b3; }
.bg_pc_grey400 { background-color: #999; }
.bg_pc_grey417 { background-color: #959595; }
.bg_pc_grey500 { background-color: #7f7f7f; }
.bg_pc_grey536 { background-color: #767676; }
.bg_pc_grey600 { background-color: #666; }
.bg_pc_grey700 { background-color: #4d4d4d; }
.bg_pc_grey800 { background-color: #333; }
.bg_pc_grey900 { background-color: #1a1a1a; }
.bg_pc_opacity_grey0 { background-color: rgb(0 0 0 / 0%); }
.bg_pc_opacity_grey50 { background-color: rgb(0 0 0 / 5%); }
.bg_pc_opacity_grey100 { background-color: rgb(0 0 0 / 10%); }
.bg_pc_opacity_grey200 { background-color: rgb(0 0 0 / 20%); }
.bg_pc_opacity_grey300 { background-color: rgb(0 0 0 / 30%); }
.bg_pc_opacity_grey400 { background-color: rgb(0 0 0 / 40%); }
.bg_pc_opacity_grey417 { background-color: rgb(0 0 0 / 41.7%); }
.bg_pc_opacity_grey500 { background-color: rgb(0 0 0 / 50%); }
.bg_pc_opacity_grey536 { background-color: rgb(0 0 0 / 53.6%); }
.bg_pc_opacity_grey600 { background-color: rgb(0 0 0 / 60%); }
.bg_pc_opacity_grey700 { background-color: rgb(0 0 0 / 70%); }
.bg_pc_opacity_grey800 { background-color: rgb(0 0 0 / 80%); }
.bg_pc_opacity_grey900 { background-color: rgb(0 0 0 / 90%); }
.bg_pc_blue50 { background-color: #e8f1fe; }
.bg_pc_blue100 { background-color: #d9e6ff; }
.bg_pc_blue200 { background-color: #c5d7fb; }
.bg_pc_blue300 { background-color: #9db7f9; }
.bg_pc_blue400 { background-color: #7096f8; }
.bg_pc_blue500 { background-color: #4979f5; }
.bg_pc_blue600 { background-color: #3460fb; }
.bg_pc_blue700 { background-color: #264af4; }
.bg_pc_blue800 { background-color: #0031d8; }
.bg_pc_blue900 { background-color: #0017c1; }
.bg_pc_blue1000 { background-color: #00118f; }
.bg_pc_blue1100 { background-color: #000071; }
.bg_pc_blue1200 { background-color: #000060; }
.bg_pc_light_blue50 { background-color: #f0f9ff; }
.bg_pc_light_blue100 { background-color: #dcf0ff; }
.bg_pc_light_blue200 { background-color: #c0e4ff; }
.bg_pc_light_blue300 { background-color: #97d3ff; }
.bg_pc_light_blue400 { background-color: #57b8ff; }
.bg_pc_light_blue500 { background-color: #39abff; }
.bg_pc_light_blue600 { background-color: #008bf2; }
.bg_pc_light_blue700 { background-color: #0877d7; }
.bg_pc_light_blue800 { background-color: #0066be; }
.bg_pc_light_blue900 { background-color: #0055ad; }
.bg_pc_light_blue1000 { background-color: #00428c; }
.bg_pc_light_blue1100 { background-color: #00316a; }
.bg_pc_light_blue1200 { background-color: #00234b; }
.bg_pc_cyan50 { background-color: #e6fcff; }
.bg_pc_cyan100 { background-color: #c8f8ff; }
.bg_pc_cyan200 { background-color: #99f2ff; }
.bg_pc_cyan300 { background-color: #79e2f2; }
.bg_pc_cyan400 { background-color: #2bc8e4; }
.bg_pc_cyan500 { background-color: #01b7d6; }
.bg_pc_cyan600 { background-color: #00a3bf; }
.bg_pc_cyan700 { background-color: #008da6; }
.bg_pc_cyan800 { background-color: #008299; }
.bg_pc_cyan900 { background-color: #006f83; }
.bg_pc_cyan1000 { background-color: #006173; }
.bg_pc_cyan1100 { background-color: #004c59; }
.bg_pc_cyan1200 { background-color: #003741; }
.bg_pc_green50 { background-color: #e6f5ec; }
.bg_pc_green100 { background-color: #c2e5d1; }
.bg_pc_green200 { background-color: #9bd4b5; }
.bg_pc_green300 { background-color: #71c598; }
.bg_pc_green400 { background-color: #51b883; }
.bg_pc_green500 { background-color: #2cac6e; }
.bg_pc_green600 { background-color: #259d63; }
.bg_pc_green700 { background-color: #1d8b56; }
.bg_pc_green800 { background-color: #197a4b; }
.bg_pc_green900 { background-color: #115a36; }
.bg_pc_green1000 { background-color: #0c472a; }
.bg_pc_green1100 { background-color: #08351f; }
.bg_pc_green1200 { background-color: #032213; }
.bg_pc_lime50 { background-color: #ebfad9; }
.bg_pc_lime100 { background-color: #d0f5a2; }
.bg_pc_lime200 { background-color: #c0f354; }
.bg_pc_lime300 { background-color: #ade830; }
.bg_pc_lime400 { background-color: #9ddd15; }
.bg_pc_lime500 { background-color: #8cc80c; }
.bg_pc_lime600 { background-color: #7eb40d; }
.bg_pc_lime700 { background-color: #6fa104; }
.bg_pc_lime800 { background-color: #618e00; }
.bg_pc_lime900 { background-color: #507500; }
.bg_pc_lime1000 { background-color: #3e5a00; }
.bg_pc_lime1100 { background-color: #2c4100; }
.bg_pc_lime1200 { background-color: #1e2d00; }
.bg_pc_yellow50 { background-color: #fbf5e0; }
.bg_pc_yellow100 { background-color: #fff0b3; }
.bg_pc_yellow200 { background-color: #ffe380; }
.bg_pc_yellow300 { background-color: #ffd43d; }
.bg_pc_yellow400 { background-color: #ffc700; }
.bg_pc_yellow500 { background-color: #ebb700; }
.bg_pc_yellow600 { background-color: #d2a400; }
.bg_pc_yellow700 { background-color: #b78f00; }
.bg_pc_yellow800 { background-color: #a58000; }
.bg_pc_yellow900 { background-color: #927200; }
.bg_pc_yellow1000 { background-color: #806300; }
.bg_pc_yellow1100 { background-color: #6e5600; }
.bg_pc_yellow1200 { background-color: #604b00; }
.bg_pc_orange50 { background-color: #ffeee2; }
.bg_pc_orange100 { background-color: #ffdfca; }
.bg_pc_orange200 { background-color: #ffc199; }
.bg_pc_orange300 { background-color: #ffa66d; }
.bg_pc_orange400 { background-color: #ff8d44; }
.bg_pc_orange500 { background-color: #ff7628; }
.bg_pc_orange600 { background-color: #fb5b01; }
.bg_pc_orange700 { background-color: #e25100; }
.bg_pc_orange800 { background-color: #c74700; }
.bg_pc_orange900 { background-color: #ac3e00; }
.bg_pc_orange1000 { background-color: #8b3200; }
.bg_pc_orange1100 { background-color: #6d2700; }
.bg_pc_orange1200 { background-color: #541e00; }
.bg_pc_red50 { background-color: #fdeeee; }
.bg_pc_red100 { background-color: #ffdada; }
.bg_pc_red200 { background-color: #fbb; }
.bg_pc_red300 { background-color: #ff9696; }
.bg_pc_red400 { background-color: #ff7171; }
.bg_pc_red500 { background-color: #ff5454; }
.bg_pc_red600 { background-color: #fe3939; }
.bg_pc_red700 { background-color: #fa0000; }
.bg_pc_red800 { background-color: #ec0000; }
.bg_pc_red900 { background-color: #ce0000; }
.bg_pc_red1000 { background-color: #a90000; }
.bg_pc_red1100 { background-color: #850000; }
.bg_pc_red1200 { background-color: #620000; }
.bg_pc_magenta50 { background-color: #f3e5f4; }
.bg_pc_magenta100 { background-color: #ffd0ff; }
.bg_pc_magenta200 { background-color: #ffaeff; }
.bg_pc_magenta300 { background-color: #ff8eff; }
.bg_pc_magenta400 { background-color: #f661f6; }
.bg_pc_magenta500 { background-color: #f137f1; }
.bg_pc_magenta600 { background-color: #db00db; }
.bg_pc_magenta700 { background-color: #c000c0; }
.bg_pc_magenta800 { background-color: #a0a; }
.bg_pc_magenta900 { background-color: #8b008b; }
.bg_pc_magenta1000 { background-color: #6c006c; }
.bg_pc_magenta1100 { background-color: #500050; }
.bg_pc_magenta1200 { background-color: #3b003b; }
.bg_pc_purple50 { background-color: #f1eafa; }
.bg_pc_purple100 { background-color: #ecddff; }
.bg_pc_purple200 { background-color: #ddc2ff; }
.bg_pc_purple300 { background-color: #cda6ff; }
.bg_pc_purple400 { background-color: #bb87ff; }
.bg_pc_purple500 { background-color: #a565f8; }
.bg_pc_purple600 { background-color: #8843e1; }
.bg_pc_purple700 { background-color: #6f23d0; }
.bg_pc_purple800 { background-color: #5c10be; }
.bg_pc_purple900 { background-color: #5109ad; }
.bg_pc_purple1000 { background-color: #41048e; }
.bg_pc_purple1100 { background-color: #30016c; }
.bg_pc_purple1200 { background-color: #21004b; }
.bg_pc_primary { background-color: #fff; }
.bg_pc_secondary { background-color: #e6e6e6; }
.bg_pc_tertiary { background-color: #f2f2f2; }
.bg_pc_primary_dark { background-color: #1a1a1a; }
.bg_pc_secondary_dark { background-color: #4d4d4d; }
.bg_pc_tertiary_dark { background-color: #333; }
.bg_pc_information { background-color: #0877d7; }
.bg_pc_information_contrast { background-color: #fff; }
.bg_pc_success { background-color: #197a4b; }
.bg_pc_success_contrast { background-color: #fff; }
.bg_pc_alert { background-color: #ec0000; }
.bg_pc_alert_contrast { background-color: #fff; }
.bg_pc_warning { background-color: #c74700; }
.bg_pc_warning_contrast { background-color: #fff; }
.bg_pc_information_dark { background-color: #39abff; }
.bg_pc_success_dark { background-color: #1d8b56; }
.bg_pc_alert_dark { background-color: #fe3939; }
.bg_pc_warning_dark { background-color: #fb5b01; }

}