/* color.css */


.color_white { color: #fff; }
.color_black { color: #000; }
.color_transparent { color: transparent; }
.color_brand50 { color: ; }
.color_brand100 { color: ; }
.color_brand200 { color: ; }
.color_brand300 { color: ; }
.color_brand400 { color: ; }
.color_brand500 { color: ; }
.color_brand600 { color: ; }
.color_brand700 { color: ; }
.color_brand800 { color: ; }
.color_brand900 { color: ; }
.color_brand1000 { color: ; }
.color_brand1100 { color: ; }
.color_brand1200 { color: ; }
.color_grey50 { color: #f2f2f2; }
.color_grey100 { color: #e6e6e6; }
.color_grey200 { color: #ccc; }
.color_grey300 { color: #b3b3b3; }
.color_grey400 { color: #999; }
.color_grey417 { color: #959595; }
.color_grey500 { color: #7f7f7f; }
.color_grey536 { color: #767676; }
.color_grey600 { color: #666; }
.color_grey700 { color: #4d4d4d; }
.color_grey800 { color: #333; }
.color_grey900 { color: #1a1a1a; }
.color_opacity_grey0 { color: rgb(0 0 0 / 0%); }
.color_opacity_grey50 { color: rgb(0 0 0 / 5%); }
.color_opacity_grey100 { color: rgb(0 0 0 / 10%); }
.color_opacity_grey200 { color: rgb(0 0 0 / 20%); }
.color_opacity_grey300 { color: rgb(0 0 0 / 30%); }
.color_opacity_grey400 { color: rgb(0 0 0 / 40%); }
.color_opacity_grey417 { color: rgb(0 0 0 / 41.7%); }
.color_opacity_grey500 { color: rgb(0 0 0 / 50%); }
.color_opacity_grey536 { color: rgb(0 0 0 / 53.6%); }
.color_opacity_grey600 { color: rgb(0 0 0 / 60%); }
.color_opacity_grey700 { color: rgb(0 0 0 / 70%); }
.color_opacity_grey800 { color: rgb(0 0 0 / 80%); }
.color_opacity_grey900 { color: rgb(0 0 0 / 90%); }
.color_blue50 { color: #e8f1fe; }
.color_blue100 { color: #d9e6ff; }
.color_blue200 { color: #c5d7fb; }
.color_blue300 { color: #9db7f9; }
.color_blue400 { color: #7096f8; }
.color_blue500 { color: #4979f5; }
.color_blue600 { color: #3460fb; }
.color_blue700 { color: #264af4; }
.color_blue800 { color: #0031d8; }
.color_blue900 { color: #0017c1; }
.color_blue1000 { color: #00118f; }
.color_blue1100 { color: #000071; }
.color_blue1200 { color: #000060; }
.color_light_blue50 { color: #f0f9ff; }
.color_light_blue100 { color: #dcf0ff; }
.color_light_blue200 { color: #c0e4ff; }
.color_light_blue300 { color: #97d3ff; }
.color_light_blue400 { color: #57b8ff; }
.color_light_blue500 { color: #39abff; }
.color_light_blue600 { color: #008bf2; }
.color_light_blue700 { color: #0877d7; }
.color_light_blue800 { color: #0066be; }
.color_light_blue900 { color: #0055ad; }
.color_light_blue1000 { color: #00428c; }
.color_light_blue1100 { color: #00316a; }
.color_light_blue1200 { color: #00234b; }
.color_cyan50 { color: #e6fcff; }
.color_cyan100 { color: #c8f8ff; }
.color_cyan200 { color: #99f2ff; }
.color_cyan300 { color: #79e2f2; }
.color_cyan400 { color: #2bc8e4; }
.color_cyan500 { color: #01b7d6; }
.color_cyan600 { color: #00a3bf; }
.color_cyan700 { color: #008da6; }
.color_cyan800 { color: #008299; }
.color_cyan900 { color: #006f83; }
.color_cyan1000 { color: #006173; }
.color_cyan1100 { color: #004c59; }
.color_cyan1200 { color: #003741; }
.color_green50 { color: #e6f5ec; }
.color_green100 { color: #c2e5d1; }
.color_green200 { color: #9bd4b5; }
.color_green300 { color: #71c598; }
.color_green400 { color: #51b883; }
.color_green500 { color: #2cac6e; }
.color_green600 { color: #259d63; }
.color_green700 { color: #1d8b56; }
.color_green800 { color: #197a4b; }
.color_green900 { color: #115a36; }
.color_green1000 { color: #0c472a; }
.color_green1100 { color: #08351f; }
.color_green1200 { color: #032213; }
.color_lime50 { color: #ebfad9; }
.color_lime100 { color: #d0f5a2; }
.color_lime200 { color: #c0f354; }
.color_lime300 { color: #ade830; }
.color_lime400 { color: #9ddd15; }
.color_lime500 { color: #8cc80c; }
.color_lime600 { color: #7eb40d; }
.color_lime700 { color: #6fa104; }
.color_lime800 { color: #618e00; }
.color_lime900 { color: #507500; }
.color_lime1000 { color: #3e5a00; }
.color_lime1100 { color: #2c4100; }
.color_lime1200 { color: #1e2d00; }
.color_yellow50 { color: #fbf5e0; }
.color_yellow100 { color: #fff0b3; }
.color_yellow200 { color: #ffe380; }
.color_yellow300 { color: #ffd43d; }
.color_yellow400 { color: #ffc700; }
.color_yellow500 { color: #ebb700; }
.color_yellow600 { color: #d2a400; }
.color_yellow700 { color: #b78f00; }
.color_yellow800 { color: #a58000; }
.color_yellow900 { color: #927200; }
.color_yellow1000 { color: #806300; }
.color_yellow1100 { color: #6e5600; }
.color_yellow1200 { color: #604b00; }
.color_orange50 { color: #ffeee2; }
.color_orange100 { color: #ffdfca; }
.color_orange200 { color: #ffc199; }
.color_orange300 { color: #ffa66d; }
.color_orange400 { color: #ff8d44; }
.color_orange500 { color: #ff7628; }
.color_orange600 { color: #fb5b01; }
.color_orange700 { color: #e25100; }
.color_orange800 { color: #c74700; }
.color_orange900 { color: #ac3e00; }
.color_orange1000 { color: #8b3200; }
.color_orange1100 { color: #6d2700; }
.color_orange1200 { color: #541e00; }
.color_red50 { color: #fdeeee; }
.color_red100 { color: #ffdada; }
.color_red200 { color: #fbb; }
.color_red300 { color: #ff9696; }
.color_red400 { color: #ff7171; }
.color_red500 { color: #ff5454; }
.color_red600 { color: #fe3939; }
.color_red700 { color: #fa0000; }
.color_red800 { color: #ec0000; }
.color_red900 { color: #ce0000; }
.color_red1000 { color: #a90000; }
.color_red1100 { color: #850000; }
.color_red1200 { color: #620000; }
.color_magenta50 { color: #f3e5f4; }
.color_magenta100 { color: #ffd0ff; }
.color_magenta200 { color: #ffaeff; }
.color_magenta300 { color: #ff8eff; }
.color_magenta400 { color: #f661f6; }
.color_magenta500 { color: #f137f1; }
.color_magenta600 { color: #db00db; }
.color_magenta700 { color: #c000c0; }
.color_magenta800 { color: #a0a; }
.color_magenta900 { color: #8b008b; }
.color_magenta1000 { color: #6c006c; }
.color_magenta1100 { color: #500050; }
.color_magenta1200 { color: #3b003b; }
.color_purple50 { color: #f1eafa; }
.color_purple100 { color: #ecddff; }
.color_purple200 { color: #ddc2ff; }
.color_purple300 { color: #cda6ff; }
.color_purple400 { color: #bb87ff; }
.color_purple500 { color: #a565f8; }
.color_purple600 { color: #8843e1; }
.color_purple700 { color: #6f23d0; }
.color_purple800 { color: #5c10be; }
.color_purple900 { color: #5109ad; }
.color_purple1000 { color: #41048e; }
.color_purple1100 { color: #30016c; }
.color_purple1200 { color: #21004b; }
.color_base { color: #1a1a1a; }
.color_description { color: #4d4d4d; }
.color_place_holder { color: #666; }
.color_on_fill { color: #fff; }
.color_link { color: #0031d8; }
.color_hover { color: #0017c1; }
.color_active { color: #0017c1; }
.color_visited { color: #0017c1; }
.color_disabled { color: #7f7f7f; }
.color_base_dark { color: #fff; }
.color_description_dark { color: #999; }
.color_place_holder_dark { color: #7f7f7f; }
.color_link_dark { color: #4979f5; }
.color_hover_dark { color: #9db7f9; }
.color_active_dark { color: #9db7f9; }
.color_visited_dark { color: #9db7f9; }
.color_disabled_dark { color: #666; }
.color_information { color: #0877d7; }
.color_information_contrast { color: #fff; }
.color_success { color: #197a4b; }
.color_success_contrast { color: #fff; }
.color_alert { color: #ec0000; }
.color_alert_contrast { color: #fff; }
.color_warning { color: #c74700; }
.color_warning_contrast { color: #fff; }
.color_information_dark { color: #39abff; }
.color_success_dark { color: #1d8b56; }
.color_alert_dark { color: #fe3939; }
.color_warning_dark { color: #fb5b01; }

@media screen and (width <= 575px){



.color_sp_white { color: #fff; }
.color_sp_black { color: #000; }
.color_sp_transparent { color: transparent; }
.color_sp_brand50 { color: ; }
.color_sp_brand100 { color: ; }
.color_sp_brand200 { color: ; }
.color_sp_brand300 { color: ; }
.color_sp_brand400 { color: ; }
.color_sp_brand500 { color: ; }
.color_sp_brand600 { color: ; }
.color_sp_brand700 { color: ; }
.color_sp_brand800 { color: ; }
.color_sp_brand900 { color: ; }
.color_sp_brand1000 { color: ; }
.color_sp_brand1100 { color: ; }
.color_sp_brand1200 { color: ; }
.color_sp_grey50 { color: #f2f2f2; }
.color_sp_grey100 { color: #e6e6e6; }
.color_sp_grey200 { color: #ccc; }
.color_sp_grey300 { color: #b3b3b3; }
.color_sp_grey400 { color: #999; }
.color_sp_grey417 { color: #959595; }
.color_sp_grey500 { color: #7f7f7f; }
.color_sp_grey536 { color: #767676; }
.color_sp_grey600 { color: #666; }
.color_sp_grey700 { color: #4d4d4d; }
.color_sp_grey800 { color: #333; }
.color_sp_grey900 { color: #1a1a1a; }
.color_sp_opacity_grey0 { color: rgb(0 0 0 / 0%); }
.color_sp_opacity_grey50 { color: rgb(0 0 0 / 5%); }
.color_sp_opacity_grey100 { color: rgb(0 0 0 / 10%); }
.color_sp_opacity_grey200 { color: rgb(0 0 0 / 20%); }
.color_sp_opacity_grey300 { color: rgb(0 0 0 / 30%); }
.color_sp_opacity_grey400 { color: rgb(0 0 0 / 40%); }
.color_sp_opacity_grey417 { color: rgb(0 0 0 / 41.7%); }
.color_sp_opacity_grey500 { color: rgb(0 0 0 / 50%); }
.color_sp_opacity_grey536 { color: rgb(0 0 0 / 53.6%); }
.color_sp_opacity_grey600 { color: rgb(0 0 0 / 60%); }
.color_sp_opacity_grey700 { color: rgb(0 0 0 / 70%); }
.color_sp_opacity_grey800 { color: rgb(0 0 0 / 80%); }
.color_sp_opacity_grey900 { color: rgb(0 0 0 / 90%); }
.color_sp_blue50 { color: #e8f1fe; }
.color_sp_blue100 { color: #d9e6ff; }
.color_sp_blue200 { color: #c5d7fb; }
.color_sp_blue300 { color: #9db7f9; }
.color_sp_blue400 { color: #7096f8; }
.color_sp_blue500 { color: #4979f5; }
.color_sp_blue600 { color: #3460fb; }
.color_sp_blue700 { color: #264af4; }
.color_sp_blue800 { color: #0031d8; }
.color_sp_blue900 { color: #0017c1; }
.color_sp_blue1000 { color: #00118f; }
.color_sp_blue1100 { color: #000071; }
.color_sp_blue1200 { color: #000060; }
.color_sp_light_blue50 { color: #f0f9ff; }
.color_sp_light_blue100 { color: #dcf0ff; }
.color_sp_light_blue200 { color: #c0e4ff; }
.color_sp_light_blue300 { color: #97d3ff; }
.color_sp_light_blue400 { color: #57b8ff; }
.color_sp_light_blue500 { color: #39abff; }
.color_sp_light_blue600 { color: #008bf2; }
.color_sp_light_blue700 { color: #0877d7; }
.color_sp_light_blue800 { color: #0066be; }
.color_sp_light_blue900 { color: #0055ad; }
.color_sp_light_blue1000 { color: #00428c; }
.color_sp_light_blue1100 { color: #00316a; }
.color_sp_light_blue1200 { color: #00234b; }
.color_sp_cyan50 { color: #e6fcff; }
.color_sp_cyan100 { color: #c8f8ff; }
.color_sp_cyan200 { color: #99f2ff; }
.color_sp_cyan300 { color: #79e2f2; }
.color_sp_cyan400 { color: #2bc8e4; }
.color_sp_cyan500 { color: #01b7d6; }
.color_sp_cyan600 { color: #00a3bf; }
.color_sp_cyan700 { color: #008da6; }
.color_sp_cyan800 { color: #008299; }
.color_sp_cyan900 { color: #006f83; }
.color_sp_cyan1000 { color: #006173; }
.color_sp_cyan1100 { color: #004c59; }
.color_sp_cyan1200 { color: #003741; }
.color_sp_green50 { color: #e6f5ec; }
.color_sp_green100 { color: #c2e5d1; }
.color_sp_green200 { color: #9bd4b5; }
.color_sp_green300 { color: #71c598; }
.color_sp_green400 { color: #51b883; }
.color_sp_green500 { color: #2cac6e; }
.color_sp_green600 { color: #259d63; }
.color_sp_green700 { color: #1d8b56; }
.color_sp_green800 { color: #197a4b; }
.color_sp_green900 { color: #115a36; }
.color_sp_green1000 { color: #0c472a; }
.color_sp_green1100 { color: #08351f; }
.color_sp_green1200 { color: #032213; }
.color_sp_lime50 { color: #ebfad9; }
.color_sp_lime100 { color: #d0f5a2; }
.color_sp_lime200 { color: #c0f354; }
.color_sp_lime300 { color: #ade830; }
.color_sp_lime400 { color: #9ddd15; }
.color_sp_lime500 { color: #8cc80c; }
.color_sp_lime600 { color: #7eb40d; }
.color_sp_lime700 { color: #6fa104; }
.color_sp_lime800 { color: #618e00; }
.color_sp_lime900 { color: #507500; }
.color_sp_lime1000 { color: #3e5a00; }
.color_sp_lime1100 { color: #2c4100; }
.color_sp_lime1200 { color: #1e2d00; }
.color_sp_yellow50 { color: #fbf5e0; }
.color_sp_yellow100 { color: #fff0b3; }
.color_sp_yellow200 { color: #ffe380; }
.color_sp_yellow300 { color: #ffd43d; }
.color_sp_yellow400 { color: #ffc700; }
.color_sp_yellow500 { color: #ebb700; }
.color_sp_yellow600 { color: #d2a400; }
.color_sp_yellow700 { color: #b78f00; }
.color_sp_yellow800 { color: #a58000; }
.color_sp_yellow900 { color: #927200; }
.color_sp_yellow1000 { color: #806300; }
.color_sp_yellow1100 { color: #6e5600; }
.color_sp_yellow1200 { color: #604b00; }
.color_sp_orange50 { color: #ffeee2; }
.color_sp_orange100 { color: #ffdfca; }
.color_sp_orange200 { color: #ffc199; }
.color_sp_orange300 { color: #ffa66d; }
.color_sp_orange400 { color: #ff8d44; }
.color_sp_orange500 { color: #ff7628; }
.color_sp_orange600 { color: #fb5b01; }
.color_sp_orange700 { color: #e25100; }
.color_sp_orange800 { color: #c74700; }
.color_sp_orange900 { color: #ac3e00; }
.color_sp_orange1000 { color: #8b3200; }
.color_sp_orange1100 { color: #6d2700; }
.color_sp_orange1200 { color: #541e00; }
.color_sp_red50 { color: #fdeeee; }
.color_sp_red100 { color: #ffdada; }
.color_sp_red200 { color: #fbb; }
.color_sp_red300 { color: #ff9696; }
.color_sp_red400 { color: #ff7171; }
.color_sp_red500 { color: #ff5454; }
.color_sp_red600 { color: #fe3939; }
.color_sp_red700 { color: #fa0000; }
.color_sp_red800 { color: #ec0000; }
.color_sp_red900 { color: #ce0000; }
.color_sp_red1000 { color: #a90000; }
.color_sp_red1100 { color: #850000; }
.color_sp_red1200 { color: #620000; }
.color_sp_magenta50 { color: #f3e5f4; }
.color_sp_magenta100 { color: #ffd0ff; }
.color_sp_magenta200 { color: #ffaeff; }
.color_sp_magenta300 { color: #ff8eff; }
.color_sp_magenta400 { color: #f661f6; }
.color_sp_magenta500 { color: #f137f1; }
.color_sp_magenta600 { color: #db00db; }
.color_sp_magenta700 { color: #c000c0; }
.color_sp_magenta800 { color: #a0a; }
.color_sp_magenta900 { color: #8b008b; }
.color_sp_magenta1000 { color: #6c006c; }
.color_sp_magenta1100 { color: #500050; }
.color_sp_magenta1200 { color: #3b003b; }
.color_sp_purple50 { color: #f1eafa; }
.color_sp_purple100 { color: #ecddff; }
.color_sp_purple200 { color: #ddc2ff; }
.color_sp_purple300 { color: #cda6ff; }
.color_sp_purple400 { color: #bb87ff; }
.color_sp_purple500 { color: #a565f8; }
.color_sp_purple600 { color: #8843e1; }
.color_sp_purple700 { color: #6f23d0; }
.color_sp_purple800 { color: #5c10be; }
.color_sp_purple900 { color: #5109ad; }
.color_sp_purple1000 { color: #41048e; }
.color_sp_purple1100 { color: #30016c; }
.color_sp_purple1200 { color: #21004b; }
.color_sp_base { color: #1a1a1a; }
.color_sp_description { color: #4d4d4d; }
.color_sp_place_holder { color: #666; }
.color_sp_on_fill { color: #fff; }
.color_sp_link { color: #0031d8; }
.color_sp_hover { color: #0017c1; }
.color_sp_active { color: #0017c1; }
.color_sp_visited { color: #0017c1; }
.color_sp_disabled { color: #7f7f7f; }
.color_sp_base_dark { color: #fff; }
.color_sp_description_dark { color: #999; }
.color_sp_place_holder_dark { color: #7f7f7f; }
.color_sp_link_dark { color: #4979f5; }
.color_sp_hover_dark { color: #9db7f9; }
.color_sp_active_dark { color: #9db7f9; }
.color_sp_visited_dark { color: #9db7f9; }
.color_sp_disabled_dark { color: #666; }
.color_sp_information { color: #0877d7; }
.color_sp_information_contrast { color: #fff; }
.color_sp_success { color: #197a4b; }
.color_sp_success_contrast { color: #fff; }
.color_sp_alert { color: #ec0000; }
.color_sp_alert_contrast { color: #fff; }
.color_sp_warning { color: #c74700; }
.color_sp_warning_contrast { color: #fff; }
.color_sp_information_dark { color: #39abff; }
.color_sp_success_dark { color: #1d8b56; }
.color_sp_alert_dark { color: #fe3939; }
.color_sp_warning_dark { color: #fb5b01; }

}

@media screen and (width >= 576px) and (width <= 992px){

.color_tb_white { color: #fff; }
.color_tb_black { color: #000; }
.color_tb_transparent { color: transparent; }
.color_tb_brand50 { color: ; }
.color_tb_brand100 { color: ; }
.color_tb_brand200 { color: ; }
.color_tb_brand300 { color: ; }
.color_tb_brand400 { color: ; }
.color_tb_brand500 { color: ; }
.color_tb_brand600 { color: ; }
.color_tb_brand700 { color: ; }
.color_tb_brand800 { color: ; }
.color_tb_brand900 { color: ; }
.color_tb_brand1000 { color: ; }
.color_tb_brand1100 { color: ; }
.color_tb_brand1200 { color: ; }
.color_tb_grey50 { color: #f2f2f2; }
.color_tb_grey100 { color: #e6e6e6; }
.color_tb_grey200 { color: #ccc; }
.color_tb_grey300 { color: #b3b3b3; }
.color_tb_grey400 { color: #999; }
.color_tb_grey417 { color: #959595; }
.color_tb_grey500 { color: #7f7f7f; }
.color_tb_grey536 { color: #767676; }
.color_tb_grey600 { color: #666; }
.color_tb_grey700 { color: #4d4d4d; }
.color_tb_grey800 { color: #333; }
.color_tb_grey900 { color: #1a1a1a; }
.color_tb_opacity_grey0 { color: rgb(0 0 0 / 0%); }
.color_tb_opacity_grey50 { color: rgb(0 0 0 / 5%); }
.color_tb_opacity_grey100 { color: rgb(0 0 0 / 10%); }
.color_tb_opacity_grey200 { color: rgb(0 0 0 / 20%); }
.color_tb_opacity_grey300 { color: rgb(0 0 0 / 30%); }
.color_tb_opacity_grey400 { color: rgb(0 0 0 / 40%); }
.color_tb_opacity_grey417 { color: rgb(0 0 0 / 41.7%); }
.color_tb_opacity_grey500 { color: rgb(0 0 0 / 50%); }
.color_tb_opacity_grey536 { color: rgb(0 0 0 / 53.6%); }
.color_tb_opacity_grey600 { color: rgb(0 0 0 / 60%); }
.color_tb_opacity_grey700 { color: rgb(0 0 0 / 70%); }
.color_tb_opacity_grey800 { color: rgb(0 0 0 / 80%); }
.color_tb_opacity_grey900 { color: rgb(0 0 0 / 90%); }
.color_tb_blue50 { color: #e8f1fe; }
.color_tb_blue100 { color: #d9e6ff; }
.color_tb_blue200 { color: #c5d7fb; }
.color_tb_blue300 { color: #9db7f9; }
.color_tb_blue400 { color: #7096f8; }
.color_tb_blue500 { color: #4979f5; }
.color_tb_blue600 { color: #3460fb; }
.color_tb_blue700 { color: #264af4; }
.color_tb_blue800 { color: #0031d8; }
.color_tb_blue900 { color: #0017c1; }
.color_tb_blue1000 { color: #00118f; }
.color_tb_blue1100 { color: #000071; }
.color_tb_blue1200 { color: #000060; }
.color_tb_light_blue50 { color: #f0f9ff; }
.color_tb_light_blue100 { color: #dcf0ff; }
.color_tb_light_blue200 { color: #c0e4ff; }
.color_tb_light_blue300 { color: #97d3ff; }
.color_tb_light_blue400 { color: #57b8ff; }
.color_tb_light_blue500 { color: #39abff; }
.color_tb_light_blue600 { color: #008bf2; }
.color_tb_light_blue700 { color: #0877d7; }
.color_tb_light_blue800 { color: #0066be; }
.color_tb_light_blue900 { color: #0055ad; }
.color_tb_light_blue1000 { color: #00428c; }
.color_tb_light_blue1100 { color: #00316a; }
.color_tb_light_blue1200 { color: #00234b; }
.color_tb_cyan50 { color: #e6fcff; }
.color_tb_cyan100 { color: #c8f8ff; }
.color_tb_cyan200 { color: #99f2ff; }
.color_tb_cyan300 { color: #79e2f2; }
.color_tb_cyan400 { color: #2bc8e4; }
.color_tb_cyan500 { color: #01b7d6; }
.color_tb_cyan600 { color: #00a3bf; }
.color_tb_cyan700 { color: #008da6; }
.color_tb_cyan800 { color: #008299; }
.color_tb_cyan900 { color: #006f83; }
.color_tb_cyan1000 { color: #006173; }
.color_tb_cyan1100 { color: #004c59; }
.color_tb_cyan1200 { color: #003741; }
.color_tb_green50 { color: #e6f5ec; }
.color_tb_green100 { color: #c2e5d1; }
.color_tb_green200 { color: #9bd4b5; }
.color_tb_green300 { color: #71c598; }
.color_tb_green400 { color: #51b883; }
.color_tb_green500 { color: #2cac6e; }
.color_tb_green600 { color: #259d63; }
.color_tb_green700 { color: #1d8b56; }
.color_tb_green800 { color: #197a4b; }
.color_tb_green900 { color: #115a36; }
.color_tb_green1000 { color: #0c472a; }
.color_tb_green1100 { color: #08351f; }
.color_tb_green1200 { color: #032213; }
.color_tb_lime50 { color: #ebfad9; }
.color_tb_lime100 { color: #d0f5a2; }
.color_tb_lime200 { color: #c0f354; }
.color_tb_lime300 { color: #ade830; }
.color_tb_lime400 { color: #9ddd15; }
.color_tb_lime500 { color: #8cc80c; }
.color_tb_lime600 { color: #7eb40d; }
.color_tb_lime700 { color: #6fa104; }
.color_tb_lime800 { color: #618e00; }
.color_tb_lime900 { color: #507500; }
.color_tb_lime1000 { color: #3e5a00; }
.color_tb_lime1100 { color: #2c4100; }
.color_tb_lime1200 { color: #1e2d00; }
.color_tb_yellow50 { color: #fbf5e0; }
.color_tb_yellow100 { color: #fff0b3; }
.color_tb_yellow200 { color: #ffe380; }
.color_tb_yellow300 { color: #ffd43d; }
.color_tb_yellow400 { color: #ffc700; }
.color_tb_yellow500 { color: #ebb700; }
.color_tb_yellow600 { color: #d2a400; }
.color_tb_yellow700 { color: #b78f00; }
.color_tb_yellow800 { color: #a58000; }
.color_tb_yellow900 { color: #927200; }
.color_tb_yellow1000 { color: #806300; }
.color_tb_yellow1100 { color: #6e5600; }
.color_tb_yellow1200 { color: #604b00; }
.color_tb_orange50 { color: #ffeee2; }
.color_tb_orange100 { color: #ffdfca; }
.color_tb_orange200 { color: #ffc199; }
.color_tb_orange300 { color: #ffa66d; }
.color_tb_orange400 { color: #ff8d44; }
.color_tb_orange500 { color: #ff7628; }
.color_tb_orange600 { color: #fb5b01; }
.color_tb_orange700 { color: #e25100; }
.color_tb_orange800 { color: #c74700; }
.color_tb_orange900 { color: #ac3e00; }
.color_tb_orange1000 { color: #8b3200; }
.color_tb_orange1100 { color: #6d2700; }
.color_tb_orange1200 { color: #541e00; }
.color_tb_red50 { color: #fdeeee; }
.color_tb_red100 { color: #ffdada; }
.color_tb_red200 { color: #fbb; }
.color_tb_red300 { color: #ff9696; }
.color_tb_red400 { color: #ff7171; }
.color_tb_red500 { color: #ff5454; }
.color_tb_red600 { color: #fe3939; }
.color_tb_red700 { color: #fa0000; }
.color_tb_red800 { color: #ec0000; }
.color_tb_red900 { color: #ce0000; }
.color_tb_red1000 { color: #a90000; }
.color_tb_red1100 { color: #850000; }
.color_tb_red1200 { color: #620000; }
.color_tb_magenta50 { color: #f3e5f4; }
.color_tb_magenta100 { color: #ffd0ff; }
.color_tb_magenta200 { color: #ffaeff; }
.color_tb_magenta300 { color: #ff8eff; }
.color_tb_magenta400 { color: #f661f6; }
.color_tb_magenta500 { color: #f137f1; }
.color_tb_magenta600 { color: #db00db; }
.color_tb_magenta700 { color: #c000c0; }
.color_tb_magenta800 { color: #a0a; }
.color_tb_magenta900 { color: #8b008b; }
.color_tb_magenta1000 { color: #6c006c; }
.color_tb_magenta1100 { color: #500050; }
.color_tb_magenta1200 { color: #3b003b; }
.color_tb_purple50 { color: #f1eafa; }
.color_tb_purple100 { color: #ecddff; }
.color_tb_purple200 { color: #ddc2ff; }
.color_tb_purple300 { color: #cda6ff; }
.color_tb_purple400 { color: #bb87ff; }
.color_tb_purple500 { color: #a565f8; }
.color_tb_purple600 { color: #8843e1; }
.color_tb_purple700 { color: #6f23d0; }
.color_tb_purple800 { color: #5c10be; }
.color_tb_purple900 { color: #5109ad; }
.color_tb_purple1000 { color: #41048e; }
.color_tb_purple1100 { color: #30016c; }
.color_tb_purple1200 { color: #21004b; }
.color_tb_base { color: #1a1a1a; }
.color_tb_description { color: #4d4d4d; }
.color_tb_place_holder { color: #666; }
.color_tb_on_fill { color: #fff; }
.color_tb_link { color: #0031d8; }
.color_tb_hover { color: #0017c1; }
.color_tb_active { color: #0017c1; }
.color_tb_visited { color: #0017c1; }
.color_tb_disabled { color: #7f7f7f; }
.color_tb_base_dark { color: #fff; }
.color_tb_description_dark { color: #999; }
.color_tb_place_holder_dark { color: #7f7f7f; }
.color_tb_link_dark { color: #4979f5; }
.color_tb_hover_dark { color: #9db7f9; }
.color_tb_active_dark { color: #9db7f9; }
.color_tb_visited_dark { color: #9db7f9; }
.color_tb_disabled_dark { color: #666; }
.color_tb_information { color: #0877d7; }
.color_tb_information_contrast { color: #fff; }
.color_tb_success { color: #197a4b; }
.color_tb_success_contrast { color: #fff; }
.color_tb_alert { color: #ec0000; }
.color_tb_alert_contrast { color: #fff; }
.color_tb_warning { color: #c74700; }
.color_tb_warning_contrast { color: #fff; }
.color_tb_information_dark { color: #39abff; }
.color_tb_success_dark { color: #1d8b56; }
.color_tb_alert_dark { color: #fe3939; }
.color_tb_warning_dark { color: #fb5b01; }

}

@media screen and (width >= 993px) {

.color_pc_white { color: #fff; }
.color_pc_black { color: #000; }
.color_pc_transparent { color: transparent; }
.color_pc_brand50 { color: ; }
.color_pc_brand100 { color: ; }
.color_pc_brand200 { color: ; }
.color_pc_brand300 { color: ; }
.color_pc_brand400 { color: ; }
.color_pc_brand500 { color: ; }
.color_pc_brand600 { color: ; }
.color_pc_brand700 { color: ; }
.color_pc_brand800 { color: ; }
.color_pc_brand900 { color: ; }
.color_pc_brand1000 { color: ; }
.color_pc_brand1100 { color: ; }
.color_pc_brand1200 { color: ; }
.color_pc_grey50 { color: #f2f2f2; }
.color_pc_grey100 { color: #e6e6e6; }
.color_pc_grey200 { color: #ccc; }
.color_pc_grey300 { color: #b3b3b3; }
.color_pc_grey400 { color: #999; }
.color_pc_grey417 { color: #959595; }
.color_pc_grey500 { color: #7f7f7f; }
.color_pc_grey536 { color: #767676; }
.color_pc_grey600 { color: #666; }
.color_pc_grey700 { color: #4d4d4d; }
.color_pc_grey800 { color: #333; }
.color_pc_grey900 { color: #1a1a1a; }
.color_pc_opacity_grey0 { color: rgb(0 0 0 / 0%); }
.color_pc_opacity_grey50 { color: rgb(0 0 0 / 5%); }
.color_pc_opacity_grey100 { color: rgb(0 0 0 / 10%); }
.color_pc_opacity_grey200 { color: rgb(0 0 0 / 20%); }
.color_pc_opacity_grey300 { color: rgb(0 0 0 / 30%); }
.color_pc_opacity_grey400 { color: rgb(0 0 0 / 40%); }
.color_pc_opacity_grey417 { color: rgb(0 0 0 / 41.7%); }
.color_pc_opacity_grey500 { color: rgb(0 0 0 / 50%); }
.color_pc_opacity_grey536 { color: rgb(0 0 0 / 53.6%); }
.color_pc_opacity_grey600 { color: rgb(0 0 0 / 60%); }
.color_pc_opacity_grey700 { color: rgb(0 0 0 / 70%); }
.color_pc_opacity_grey800 { color: rgb(0 0 0 / 80%); }
.color_pc_opacity_grey900 { color: rgb(0 0 0 / 90%); }
.color_pc_blue50 { color: #e8f1fe; }
.color_pc_blue100 { color: #d9e6ff; }
.color_pc_blue200 { color: #c5d7fb; }
.color_pc_blue300 { color: #9db7f9; }
.color_pc_blue400 { color: #7096f8; }
.color_pc_blue500 { color: #4979f5; }
.color_pc_blue600 { color: #3460fb; }
.color_pc_blue700 { color: #264af4; }
.color_pc_blue800 { color: #0031d8; }
.color_pc_blue900 { color: #0017c1; }
.color_pc_blue1000 { color: #00118f; }
.color_pc_blue1100 { color: #000071; }
.color_pc_blue1200 { color: #000060; }
.color_pc_light_blue50 { color: #f0f9ff; }
.color_pc_light_blue100 { color: #dcf0ff; }
.color_pc_light_blue200 { color: #c0e4ff; }
.color_pc_light_blue300 { color: #97d3ff; }
.color_pc_light_blue400 { color: #57b8ff; }
.color_pc_light_blue500 { color: #39abff; }
.color_pc_light_blue600 { color: #008bf2; }
.color_pc_light_blue700 { color: #0877d7; }
.color_pc_light_blue800 { color: #0066be; }
.color_pc_light_blue900 { color: #0055ad; }
.color_pc_light_blue1000 { color: #00428c; }
.color_pc_light_blue1100 { color: #00316a; }
.color_pc_light_blue1200 { color: #00234b; }
.color_pc_cyan50 { color: #e6fcff; }
.color_pc_cyan100 { color: #c8f8ff; }
.color_pc_cyan200 { color: #99f2ff; }
.color_pc_cyan300 { color: #79e2f2; }
.color_pc_cyan400 { color: #2bc8e4; }
.color_pc_cyan500 { color: #01b7d6; }
.color_pc_cyan600 { color: #00a3bf; }
.color_pc_cyan700 { color: #008da6; }
.color_pc_cyan800 { color: #008299; }
.color_pc_cyan900 { color: #006f83; }
.color_pc_cyan1000 { color: #006173; }
.color_pc_cyan1100 { color: #004c59; }
.color_pc_cyan1200 { color: #003741; }
.color_pc_green50 { color: #e6f5ec; }
.color_pc_green100 { color: #c2e5d1; }
.color_pc_green200 { color: #9bd4b5; }
.color_pc_green300 { color: #71c598; }
.color_pc_green400 { color: #51b883; }
.color_pc_green500 { color: #2cac6e; }
.color_pc_green600 { color: #259d63; }
.color_pc_green700 { color: #1d8b56; }
.color_pc_green800 { color: #197a4b; }
.color_pc_green900 { color: #115a36; }
.color_pc_green1000 { color: #0c472a; }
.color_pc_green1100 { color: #08351f; }
.color_pc_green1200 { color: #032213; }
.color_pc_lime50 { color: #ebfad9; }
.color_pc_lime100 { color: #d0f5a2; }
.color_pc_lime200 { color: #c0f354; }
.color_pc_lime300 { color: #ade830; }
.color_pc_lime400 { color: #9ddd15; }
.color_pc_lime500 { color: #8cc80c; }
.color_pc_lime600 { color: #7eb40d; }
.color_pc_lime700 { color: #6fa104; }
.color_pc_lime800 { color: #618e00; }
.color_pc_lime900 { color: #507500; }
.color_pc_lime1000 { color: #3e5a00; }
.color_pc_lime1100 { color: #2c4100; }
.color_pc_lime1200 { color: #1e2d00; }
.color_pc_yellow50 { color: #fbf5e0; }
.color_pc_yellow100 { color: #fff0b3; }
.color_pc_yellow200 { color: #ffe380; }
.color_pc_yellow300 { color: #ffd43d; }
.color_pc_yellow400 { color: #ffc700; }
.color_pc_yellow500 { color: #ebb700; }
.color_pc_yellow600 { color: #d2a400; }
.color_pc_yellow700 { color: #b78f00; }
.color_pc_yellow800 { color: #a58000; }
.color_pc_yellow900 { color: #927200; }
.color_pc_yellow1000 { color: #806300; }
.color_pc_yellow1100 { color: #6e5600; }
.color_pc_yellow1200 { color: #604b00; }
.color_pc_orange50 { color: #ffeee2; }
.color_pc_orange100 { color: #ffdfca; }
.color_pc_orange200 { color: #ffc199; }
.color_pc_orange300 { color: #ffa66d; }
.color_pc_orange400 { color: #ff8d44; }
.color_pc_orange500 { color: #ff7628; }
.color_pc_orange600 { color: #fb5b01; }
.color_pc_orange700 { color: #e25100; }
.color_pc_orange800 { color: #c74700; }
.color_pc_orange900 { color: #ac3e00; }
.color_pc_orange1000 { color: #8b3200; }
.color_pc_orange1100 { color: #6d2700; }
.color_pc_orange1200 { color: #541e00; }
.color_pc_red50 { color: #fdeeee; }
.color_pc_red100 { color: #ffdada; }
.color_pc_red200 { color: #fbb; }
.color_pc_red300 { color: #ff9696; }
.color_pc_red400 { color: #ff7171; }
.color_pc_red500 { color: #ff5454; }
.color_pc_red600 { color: #fe3939; }
.color_pc_red700 { color: #fa0000; }
.color_pc_red800 { color: #ec0000; }
.color_pc_red900 { color: #ce0000; }
.color_pc_red1000 { color: #a90000; }
.color_pc_red1100 { color: #850000; }
.color_pc_red1200 { color: #620000; }
.color_pc_magenta50 { color: #f3e5f4; }
.color_pc_magenta100 { color: #ffd0ff; }
.color_pc_magenta200 { color: #ffaeff; }
.color_pc_magenta300 { color: #ff8eff; }
.color_pc_magenta400 { color: #f661f6; }
.color_pc_magenta500 { color: #f137f1; }
.color_pc_magenta600 { color: #db00db; }
.color_pc_magenta700 { color: #c000c0; }
.color_pc_magenta800 { color: #a0a; }
.color_pc_magenta900 { color: #8b008b; }
.color_pc_magenta1000 { color: #6c006c; }
.color_pc_magenta1100 { color: #500050; }
.color_pc_magenta1200 { color: #3b003b; }
.color_pc_purple50 { color: #f1eafa; }
.color_pc_purple100 { color: #ecddff; }
.color_pc_purple200 { color: #ddc2ff; }
.color_pc_purple300 { color: #cda6ff; }
.color_pc_purple400 { color: #bb87ff; }
.color_pc_purple500 { color: #a565f8; }
.color_pc_purple600 { color: #8843e1; }
.color_pc_purple700 { color: #6f23d0; }
.color_pc_purple800 { color: #5c10be; }
.color_pc_purple900 { color: #5109ad; }
.color_pc_purple1000 { color: #41048e; }
.color_pc_purple1100 { color: #30016c; }
.color_pc_purple1200 { color: #21004b; }
.color_pc_base { color: #1a1a1a; }
.color_pc_description { color: #4d4d4d; }
.color_pc_place_holder { color: #666; }
.color_pc_on_fill { color: #fff; }
.color_pc_link { color: #0031d8; }
.color_pc_hover { color: #0017c1; }
.color_pc_active { color: #0017c1; }
.color_pc_visited { color: #0017c1; }
.color_pc_disabled { color: #7f7f7f; }
.color_pc_base_dark { color: #fff; }
.color_pc_description_dark { color: #999; }
.color_pc_place_holder_dark { color: #7f7f7f; }
.color_pc_link_dark { color: #4979f5; }
.color_pc_hover_dark { color: #9db7f9; }
.color_pc_active_dark { color: #9db7f9; }
.color_pc_visited_dark { color: #9db7f9; }
.color_pc_disabled_dark { color: #666; }
.color_pc_information { color: #0877d7; }
.color_pc_information_contrast { color: #fff; }
.color_pc_success { color: #197a4b; }
.color_pc_success_contrast { color: #fff; }
.color_pc_alert { color: #ec0000; }
.color_pc_alert_contrast { color: #fff; }
.color_pc_warning { color: #c74700; }
.color_pc_warning_contrast { color: #fff; }
.color_pc_information_dark { color: #39abff; }
.color_pc_success_dark { color: #1d8b56; }
.color_pc_alert_dark { color: #fe3939; }
.color_pc_warning_dark { color: #fb5b01; }

}