/* border.css */


.border_field { border: #1a1a1a 1px solid; }
.border_top_field { border-top: #1a1a1a 1px solid; }
.border_right_field { border-right: #1a1a1a 1px solid; }
.border_bottom_field { border-bottom: #1a1a1a 1px solid; }
.border_left_field { border-left: #1a1a1a 1px solid; }
.border_field_bold { border: #1a1a1a 2px solid; }
.border_top_field_bold { border-top: #1a1a1a 2px solid; }
.border_right_field_bold { border-right: #1a1a1a 2px solid; }
.border_bottom_field_bold { border-bottom: #1a1a1a 2px solid; }
.border_left_field_bold { border-left: #1a1a1a 2px solid; }
.border_divider { border: #959595 1px solid; }
.border_top_divider { border-top: #959595 1px solid; }
.border_right_divider { border-right: #959595 1px solid; }
.border_bottom_divider { border-bottom: #959595 1px solid; }
.border_left_divider { border-left: #959595 1px solid; }
.border_focused { border: #b78f00 2px solid; }
.border_top_focused { border-top: #b78f00 2px solid; }
.border_right_focused { border-right: #b78f00 2px solid; }
.border_bottom_focused { border-bottom: #b78f00 2px solid; }
.border_left_focused { border-left: #b78f00 2px solid; }
.border_selected { border: #0031d8 2px solid; }
.border_top_selected { border-top: #0031d8 2px solid; }
.border_right_selected { border-right: #0031d8 2px solid; }
.border_bottom_selected { border-bottom: #0031d8 2px solid; }
.border_left_selected { border-left: #0031d8 2px solid; }
.border_border_alert { border: #ec0000 2px solid; }
.border_top_border_alert { border-top: #ec0000 2px solid; }
.border_right_border_alert { border-right: #ec0000 2px solid; }
.border_bottom_border_alert { border-bottom: #ec0000 2px solid; }
.border_left_border_alert { border-left: #ec0000 2px solid; }
.border_disabled { border: #7f7f7f 1px solid; }
.border_top_disabled { border-top: #7f7f7f 1px solid; }
.border_right_disabled { border-right: #7f7f7f 1px solid; }
.border_bottom_disabled { border-bottom: #7f7f7f 1px solid; }
.border_left_disabled { border-left: #7f7f7f 1px solid; }
.border_disabled_bold { border: #7f7f7f 2px solid; }
.border_top_disabled_bold { border-top: #7f7f7f 2px solid; }
.border_right_disabled_bold { border-right: #7f7f7f 2px solid; }
.border_bottom_disabled_bold { border-bottom: #7f7f7f 2px solid; }
.border_left_disabled_bold { border-left: #7f7f7f 2px solid; }
.border_field_dark { border: #fff 1px solid; }
.border_top_field_dark { border-top: #fff 1px solid; }
.border_right_field_dark { border-right: #fff 1px solid; }
.border_bottom_field_dark { border-bottom: #fff 1px solid; }
.border_left_field_dark { border-left: #fff 1px solid; }
.border_field_dark_bold { border: #fff 2px solid; }
.border_top_field_dark_bold { border-top: #fff 2px solid; }
.border_right_field_dark_bold { border-right: #fff 2px solid; }
.border_bottom_field_dark_bold { border-bottom: #fff 2px solid; }
.border_left_field_dark_bold { border-left: #fff 2px solid; }
.border_divider_dark { border: #767676 1px solid; }
.border_top_divider_dark { border-top: #767676 1px solid; }
.border_right_divider_dark { border-right: #767676 1px solid; }
.border_bottom_divider_dark { border-bottom: #767676 1px solid; }
.border_left_divider_dark { border-left: #767676 1px solid; }
.border_focused_dark { border: #ebb700 2px solid; }
.border_top_focused_dark { border-top: #ebb700 2px solid; }
.border_right_focused_dark { border-right: #ebb700 2px solid; }
.border_bottom_focused_dark { border-bottom: #ebb700 2px solid; }
.border_left_focused_dark { border-left: #ebb700 2px solid; }
.border_selected_dark { border: #4979f5 2px solid; }
.border_top_selected_dark { border-top: #4979f5 2px solid; }
.border_right_selected_dark { border-right: #4979f5 2px solid; }
.border_bottom_selected_dark { border-bottom: #4979f5 2px solid; }
.border_left_selected_dark { border-left: #4979f5 2px solid; }
.border_alert_dark { border: #fe3939 2px solid; }
.border_top_alert_dark { border-top: #fe3939 2px solid; }
.border_right_alert_dark { border-right: #fe3939 2px solid; }
.border_bottom_alert_dark { border-bottom: #fe3939 2px solid; }
.border_left_alert_dark { border-left: #fe3939 2px solid; }
.border_disabled_dark { border: #666 1px solid; }
.border_top_disabled_dark { border-top: #666 1px solid; }
.border_right_disabled_dark { border-right: #666 1px solid; }
.border_bottom_disabled_dark { border-bottom: #666 1px solid; }
.border_left_disabled_dark { border-left: #666 1px solid; }
.border_disabled_dark_bold { border: #666 2px solid; }
.border_top_disabled_dark_bold { border-top: #666 2px solid; }
.border_right_disabled_dark_bold { border-right: #666 2px solid; }
.border_bottom_disabled_dark_bold { border-bottom: #666 2px solid; }
.border_left_disabled_dark_bold { border-left: #666 2px solid; }
.border_button_secondary_normal { border: #0031d8 1px solid; }
.border_top_button_secondary_normal { border-top: #0031d8 1px solid; }
.border_right_button_secondary_normal { border-right: #0031d8 1px solid; }
.border_bottom_button_secondary_normal { border-bottom: #0031d8 1px solid; }
.border_left_button_secondary_normal { border-left: #0031d8 1px solid; }

@media screen and (width <= 575px){



.border_sp_field { border: #1a1a1a 1px solid; }
.border_top_sp_field { border-top: #1a1a1a 1px solid; }
.border_right_sp_field { border-right: #1a1a1a 1px solid; }
.border_bottom_sp_field { border-bottom: #1a1a1a 1px solid; }
.border_left_sp_field { border-left: #1a1a1a 1px solid; }
.border_sp_field_bold { border: #1a1a1a 2px solid; }
.border_top_sp_field_bold { border-top: #1a1a1a 2px solid; }
.border_right_sp_field_bold { border-right: #1a1a1a 2px solid; }
.border_bottom_sp_field_bold { border-bottom: #1a1a1a 2px solid; }
.border_left_sp_field_bold { border-left: #1a1a1a 2px solid; }
.border_sp_divider { border: #959595 1px solid; }
.border_top_sp_divider { border-top: #959595 1px solid; }
.border_right_sp_divider { border-right: #959595 1px solid; }
.border_bottom_sp_divider { border-bottom: #959595 1px solid; }
.border_left_sp_divider { border-left: #959595 1px solid; }
.border_sp_focused { border: #b78f00 2px solid; }
.border_top_sp_focused { border-top: #b78f00 2px solid; }
.border_right_sp_focused { border-right: #b78f00 2px solid; }
.border_bottom_sp_focused { border-bottom: #b78f00 2px solid; }
.border_left_sp_focused { border-left: #b78f00 2px solid; }
.border_sp_selected { border: #0031d8 2px solid; }
.border_top_sp_selected { border-top: #0031d8 2px solid; }
.border_right_sp_selected { border-right: #0031d8 2px solid; }
.border_bottom_sp_selected { border-bottom: #0031d8 2px solid; }
.border_left_sp_selected { border-left: #0031d8 2px solid; }
.border_sp_border_alert { border: #ec0000 2px solid; }
.border_top_sp_border_alert { border-top: #ec0000 2px solid; }
.border_right_sp_border_alert { border-right: #ec0000 2px solid; }
.border_bottom_sp_border_alert { border-bottom: #ec0000 2px solid; }
.border_left_sp_border_alert { border-left: #ec0000 2px solid; }
.border_sp_disabled { border: #7f7f7f 1px solid; }
.border_top_sp_disabled { border-top: #7f7f7f 1px solid; }
.border_right_sp_disabled { border-right: #7f7f7f 1px solid; }
.border_bottom_sp_disabled { border-bottom: #7f7f7f 1px solid; }
.border_left_sp_disabled { border-left: #7f7f7f 1px solid; }
.border_sp_disabled_bold { border: #7f7f7f 2px solid; }
.border_top_sp_disabled_bold { border-top: #7f7f7f 2px solid; }
.border_right_sp_disabled_bold { border-right: #7f7f7f 2px solid; }
.border_bottom_sp_disabled_bold { border-bottom: #7f7f7f 2px solid; }
.border_left_sp_disabled_bold { border-left: #7f7f7f 2px solid; }
.border_sp_field_dark { border: #fff 1px solid; }
.border_top_sp_field_dark { border-top: #fff 1px solid; }
.border_right_sp_field_dark { border-right: #fff 1px solid; }
.border_bottom_sp_field_dark { border-bottom: #fff 1px solid; }
.border_left_sp_field_dark { border-left: #fff 1px solid; }
.border_sp_field_dark_bold { border: #fff 2px solid; }
.border_top_sp_field_dark_bold { border-top: #fff 2px solid; }
.border_right_sp_field_dark_bold { border-right: #fff 2px solid; }
.border_bottom_sp_field_dark_bold { border-bottom: #fff 2px solid; }
.border_left_sp_field_dark_bold { border-left: #fff 2px solid; }
.border_sp_divider_dark { border: #767676 1px solid; }
.border_top_sp_divider_dark { border-top: #767676 1px solid; }
.border_right_sp_divider_dark { border-right: #767676 1px solid; }
.border_bottom_sp_divider_dark { border-bottom: #767676 1px solid; }
.border_left_sp_divider_dark { border-left: #767676 1px solid; }
.border_sp_focused_dark { border: #ebb700 2px solid; }
.border_top_sp_focused_dark { border-top: #ebb700 2px solid; }
.border_right_sp_focused_dark { border-right: #ebb700 2px solid; }
.border_bottom_sp_focused_dark { border-bottom: #ebb700 2px solid; }
.border_left_sp_focused_dark { border-left: #ebb700 2px solid; }
.border_sp_selected_dark { border: #4979f5 2px solid; }
.border_top_sp_selected_dark { border-top: #4979f5 2px solid; }
.border_right_sp_selected_dark { border-right: #4979f5 2px solid; }
.border_bottom_sp_selected_dark { border-bottom: #4979f5 2px solid; }
.border_left_sp_selected_dark { border-left: #4979f5 2px solid; }
.border_sp_alert_dark { border: #fe3939 2px solid; }
.border_top_sp_alert_dark { border-top: #fe3939 2px solid; }
.border_right_sp_alert_dark { border-right: #fe3939 2px solid; }
.border_bottom_sp_alert_dark { border-bottom: #fe3939 2px solid; }
.border_left_sp_alert_dark { border-left: #fe3939 2px solid; }
.border_sp_disabled_dark { border: #666 1px solid; }
.border_top_sp_disabled_dark { border-top: #666 1px solid; }
.border_right_sp_disabled_dark { border-right: #666 1px solid; }
.border_bottom_sp_disabled_dark { border-bottom: #666 1px solid; }
.border_left_sp_disabled_dark { border-left: #666 1px solid; }
.border_sp_disabled_dark_bold { border: #666 2px solid; }
.border_top_sp_disabled_dark_bold { border-top: #666 2px solid; }
.border_right_sp_disabled_dark_bold { border-right: #666 2px solid; }
.border_bottom_sp_disabled_dark_bold { border-bottom: #666 2px solid; }
.border_left_sp_disabled_dark_bold { border-left: #666 2px solid; }
.border_sp_button_secondary_normal { border: #0031d8 1px solid; }
.border_top_sp_button_secondary_normal { border-top: #0031d8 1px solid; }
.border_right_sp_button_secondary_normal { border-right: #0031d8 1px solid; }
.border_bottom_sp_button_secondary_normal { border-bottom: #0031d8 1px solid; }
.border_left_sp_button_secondary_normal { border-left: #0031d8 1px solid; }

}

@media screen and (width >= 576px) and (width <= 992px){

.border_tb_field { border: #1a1a1a 1px solid; }
.border_top_tb_field { border-top: #1a1a1a 1px solid; }
.border_right_tb_field { border-right: #1a1a1a 1px solid; }
.border_bottom_tb_field { border-bottom: #1a1a1a 1px solid; }
.border_left_tb_field { border-left: #1a1a1a 1px solid; }
.border_tb_field_bold { border: #1a1a1a 2px solid; }
.border_top_tb_field_bold { border-top: #1a1a1a 2px solid; }
.border_right_tb_field_bold { border-right: #1a1a1a 2px solid; }
.border_bottom_tb_field_bold { border-bottom: #1a1a1a 2px solid; }
.border_left_tb_field_bold { border-left: #1a1a1a 2px solid; }
.border_tb_divider { border: #959595 1px solid; }
.border_top_tb_divider { border-top: #959595 1px solid; }
.border_right_tb_divider { border-right: #959595 1px solid; }
.border_bottom_tb_divider { border-bottom: #959595 1px solid; }
.border_left_tb_divider { border-left: #959595 1px solid; }
.border_tb_focused { border: #b78f00 2px solid; }
.border_top_tb_focused { border-top: #b78f00 2px solid; }
.border_right_tb_focused { border-right: #b78f00 2px solid; }
.border_bottom_tb_focused { border-bottom: #b78f00 2px solid; }
.border_left_tb_focused { border-left: #b78f00 2px solid; }
.border_tb_selected { border: #0031d8 2px solid; }
.border_top_tb_selected { border-top: #0031d8 2px solid; }
.border_right_tb_selected { border-right: #0031d8 2px solid; }
.border_bottom_tb_selected { border-bottom: #0031d8 2px solid; }
.border_left_tb_selected { border-left: #0031d8 2px solid; }
.border_tb_border_alert { border: #ec0000 2px solid; }
.border_top_tb_border_alert { border-top: #ec0000 2px solid; }
.border_right_tb_border_alert { border-right: #ec0000 2px solid; }
.border_bottom_tb_border_alert { border-bottom: #ec0000 2px solid; }
.border_left_tb_border_alert { border-left: #ec0000 2px solid; }
.border_tb_disabled { border: #7f7f7f 1px solid; }
.border_top_tb_disabled { border-top: #7f7f7f 1px solid; }
.border_right_tb_disabled { border-right: #7f7f7f 1px solid; }
.border_bottom_tb_disabled { border-bottom: #7f7f7f 1px solid; }
.border_left_tb_disabled { border-left: #7f7f7f 1px solid; }
.border_tb_disabled_bold { border: #7f7f7f 2px solid; }
.border_top_tb_disabled_bold { border-top: #7f7f7f 2px solid; }
.border_right_tb_disabled_bold { border-right: #7f7f7f 2px solid; }
.border_bottom_tb_disabled_bold { border-bottom: #7f7f7f 2px solid; }
.border_left_tb_disabled_bold { border-left: #7f7f7f 2px solid; }
.border_tb_field_dark { border: #fff 1px solid; }
.border_top_tb_field_dark { border-top: #fff 1px solid; }
.border_right_tb_field_dark { border-right: #fff 1px solid; }
.border_bottom_tb_field_dark { border-bottom: #fff 1px solid; }
.border_left_tb_field_dark { border-left: #fff 1px solid; }
.border_tb_field_dark_bold { border: #fff 2px solid; }
.border_top_tb_field_dark_bold { border-top: #fff 2px solid; }
.border_right_tb_field_dark_bold { border-right: #fff 2px solid; }
.border_bottom_tb_field_dark_bold { border-bottom: #fff 2px solid; }
.border_left_tb_field_dark_bold { border-left: #fff 2px solid; }
.border_tb_divider_dark { border: #767676 1px solid; }
.border_top_tb_divider_dark { border-top: #767676 1px solid; }
.border_right_tb_divider_dark { border-right: #767676 1px solid; }
.border_bottom_tb_divider_dark { border-bottom: #767676 1px solid; }
.border_left_tb_divider_dark { border-left: #767676 1px solid; }
.border_tb_focused_dark { border: #ebb700 2px solid; }
.border_top_tb_focused_dark { border-top: #ebb700 2px solid; }
.border_right_tb_focused_dark { border-right: #ebb700 2px solid; }
.border_bottom_tb_focused_dark { border-bottom: #ebb700 2px solid; }
.border_left_tb_focused_dark { border-left: #ebb700 2px solid; }
.border_tb_selected_dark { border: #4979f5 2px solid; }
.border_top_tb_selected_dark { border-top: #4979f5 2px solid; }
.border_right_tb_selected_dark { border-right: #4979f5 2px solid; }
.border_bottom_tb_selected_dark { border-bottom: #4979f5 2px solid; }
.border_left_tb_selected_dark { border-left: #4979f5 2px solid; }
.border_tb_alert_dark { border: #fe3939 2px solid; }
.border_top_tb_alert_dark { border-top: #fe3939 2px solid; }
.border_right_tb_alert_dark { border-right: #fe3939 2px solid; }
.border_bottom_tb_alert_dark { border-bottom: #fe3939 2px solid; }
.border_left_tb_alert_dark { border-left: #fe3939 2px solid; }
.border_tb_disabled_dark { border: #666 1px solid; }
.border_top_tb_disabled_dark { border-top: #666 1px solid; }
.border_right_tb_disabled_dark { border-right: #666 1px solid; }
.border_bottom_tb_disabled_dark { border-bottom: #666 1px solid; }
.border_left_tb_disabled_dark { border-left: #666 1px solid; }
.border_tb_disabled_dark_bold { border: #666 2px solid; }
.border_top_tb_disabled_dark_bold { border-top: #666 2px solid; }
.border_right_tb_disabled_dark_bold { border-right: #666 2px solid; }
.border_bottom_tb_disabled_dark_bold { border-bottom: #666 2px solid; }
.border_left_tb_disabled_dark_bold { border-left: #666 2px solid; }
.border_tb_button_secondary_normal { border: #0031d8 1px solid; }
.border_top_tb_button_secondary_normal { border-top: #0031d8 1px solid; }
.border_right_tb_button_secondary_normal { border-right: #0031d8 1px solid; }
.border_bottom_tb_button_secondary_normal { border-bottom: #0031d8 1px solid; }
.border_left_tb_button_secondary_normal { border-left: #0031d8 1px solid; }

}

@media screen and (width >= 993px) {

.border_pc_field { border: #1a1a1a 1px solid; }
.border_top_pc_field { border-top: #1a1a1a 1px solid; }
.border_right_pc_field { border-right: #1a1a1a 1px solid; }
.border_bottom_pc_field { border-bottom: #1a1a1a 1px solid; }
.border_left_pc_field { border-left: #1a1a1a 1px solid; }
.border_pc_field_bold { border: #1a1a1a 2px solid; }
.border_top_pc_field_bold { border-top: #1a1a1a 2px solid; }
.border_right_pc_field_bold { border-right: #1a1a1a 2px solid; }
.border_bottom_pc_field_bold { border-bottom: #1a1a1a 2px solid; }
.border_left_pc_field_bold { border-left: #1a1a1a 2px solid; }
.border_pc_divider { border: #959595 1px solid; }
.border_top_pc_divider { border-top: #959595 1px solid; }
.border_right_pc_divider { border-right: #959595 1px solid; }
.border_bottom_pc_divider { border-bottom: #959595 1px solid; }
.border_left_pc_divider { border-left: #959595 1px solid; }
.border_pc_focused { border: #b78f00 2px solid; }
.border_top_pc_focused { border-top: #b78f00 2px solid; }
.border_right_pc_focused { border-right: #b78f00 2px solid; }
.border_bottom_pc_focused { border-bottom: #b78f00 2px solid; }
.border_left_pc_focused { border-left: #b78f00 2px solid; }
.border_pc_selected { border: #0031d8 2px solid; }
.border_top_pc_selected { border-top: #0031d8 2px solid; }
.border_right_pc_selected { border-right: #0031d8 2px solid; }
.border_bottom_pc_selected { border-bottom: #0031d8 2px solid; }
.border_left_pc_selected { border-left: #0031d8 2px solid; }
.border_pc_border_alert { border: #ec0000 2px solid; }
.border_top_pc_border_alert { border-top: #ec0000 2px solid; }
.border_right_pc_border_alert { border-right: #ec0000 2px solid; }
.border_bottom_pc_border_alert { border-bottom: #ec0000 2px solid; }
.border_left_pc_border_alert { border-left: #ec0000 2px solid; }
.border_pc_disabled { border: #7f7f7f 1px solid; }
.border_top_pc_disabled { border-top: #7f7f7f 1px solid; }
.border_right_pc_disabled { border-right: #7f7f7f 1px solid; }
.border_bottom_pc_disabled { border-bottom: #7f7f7f 1px solid; }
.border_left_pc_disabled { border-left: #7f7f7f 1px solid; }
.border_pc_disabled_bold { border: #7f7f7f 2px solid; }
.border_top_pc_disabled_bold { border-top: #7f7f7f 2px solid; }
.border_right_pc_disabled_bold { border-right: #7f7f7f 2px solid; }
.border_bottom_pc_disabled_bold { border-bottom: #7f7f7f 2px solid; }
.border_left_pc_disabled_bold { border-left: #7f7f7f 2px solid; }
.border_pc_field_dark { border: #fff 1px solid; }
.border_top_pc_field_dark { border-top: #fff 1px solid; }
.border_right_pc_field_dark { border-right: #fff 1px solid; }
.border_bottom_pc_field_dark { border-bottom: #fff 1px solid; }
.border_left_pc_field_dark { border-left: #fff 1px solid; }
.border_pc_field_dark_bold { border: #fff 2px solid; }
.border_top_pc_field_dark_bold { border-top: #fff 2px solid; }
.border_right_pc_field_dark_bold { border-right: #fff 2px solid; }
.border_bottom_pc_field_dark_bold { border-bottom: #fff 2px solid; }
.border_left_pc_field_dark_bold { border-left: #fff 2px solid; }
.border_pc_divider_dark { border: #767676 1px solid; }
.border_top_pc_divider_dark { border-top: #767676 1px solid; }
.border_right_pc_divider_dark { border-right: #767676 1px solid; }
.border_bottom_pc_divider_dark { border-bottom: #767676 1px solid; }
.border_left_pc_divider_dark { border-left: #767676 1px solid; }
.border_pc_focused_dark { border: #ebb700 2px solid; }
.border_top_pc_focused_dark { border-top: #ebb700 2px solid; }
.border_right_pc_focused_dark { border-right: #ebb700 2px solid; }
.border_bottom_pc_focused_dark { border-bottom: #ebb700 2px solid; }
.border_left_pc_focused_dark { border-left: #ebb700 2px solid; }
.border_pc_selected_dark { border: #4979f5 2px solid; }
.border_top_pc_selected_dark { border-top: #4979f5 2px solid; }
.border_right_pc_selected_dark { border-right: #4979f5 2px solid; }
.border_bottom_pc_selected_dark { border-bottom: #4979f5 2px solid; }
.border_left_pc_selected_dark { border-left: #4979f5 2px solid; }
.border_pc_alert_dark { border: #fe3939 2px solid; }
.border_top_pc_alert_dark { border-top: #fe3939 2px solid; }
.border_right_pc_alert_dark { border-right: #fe3939 2px solid; }
.border_bottom_pc_alert_dark { border-bottom: #fe3939 2px solid; }
.border_left_pc_alert_dark { border-left: #fe3939 2px solid; }
.border_pc_disabled_dark { border: #666 1px solid; }
.border_top_pc_disabled_dark { border-top: #666 1px solid; }
.border_right_pc_disabled_dark { border-right: #666 1px solid; }
.border_bottom_pc_disabled_dark { border-bottom: #666 1px solid; }
.border_left_pc_disabled_dark { border-left: #666 1px solid; }
.border_pc_disabled_dark_bold { border: #666 2px solid; }
.border_top_pc_disabled_dark_bold { border-top: #666 2px solid; }
.border_right_pc_disabled_dark_bold { border-right: #666 2px solid; }
.border_bottom_pc_disabled_dark_bold { border-bottom: #666 2px solid; }
.border_left_pc_disabled_dark_bold { border-left: #666 2px solid; }
.border_pc_button_secondary_normal { border: #0031d8 1px solid; }
.border_top_pc_button_secondary_normal { border-top: #0031d8 1px solid; }
.border_right_pc_button_secondary_normal { border-right: #0031d8 1px solid; }
.border_bottom_pc_button_secondary_normal { border-bottom: #0031d8 1px solid; }
.border_left_pc_button_secondary_normal { border-left: #0031d8 1px solid; }

}