/* gap.css */


.gap_0 { gap: 0px; }
.gap_2 { gap: 2px; }
.gap_4 { gap: 4px; }
.gap_8 { gap: 8px; }
.gap_12 { gap: 12px; }
.gap_16 { gap: 16px; }
.gap_20 { gap: 20px; }
.gap_24 { gap: 24px; }
.gap_32 { gap: 32px; }
.gap_40 { gap: 40px; }
.gap_48 { gap: 48px; }
.gap_56 { gap: 56px; }
.gap_64 { gap: 64px; }
.gap_72 { gap: 72px; }
.gap_80 { gap: 80px; }
.gap_88 { gap: 88px; }
.gap_96 { gap: 96px; }
.gap_104 { gap: 104px; }
.gap_xs { gap: 8px; }
.gap_sm { gap: 16px; }
.gap_md { gap: 24px; }
.gap_lg { gap: 40px; }
.gap_xl { gap: 64px; }
.gap_xxl { gap: 104px; }
.gap_rem0 { gap: 0rem; }
.gap_rem2 { gap: 0.125rem; }
.gap_rem4 { gap: 0.25rem; }
.gap_rem8 { gap: 0.5rem; }
.gap_rem12 { gap: 0.75rem; }
.gap_rem16 { gap: 1rem; }
.gap_rem20 { gap: 1.25rem; }
.gap_rem24 { gap: 1.5rem; }
.gap_rem28 { gap: 1.75rem; }
.gap_rem32 { gap: 2rem; }
.gap_rem40 { gap: 2.5rem; }
.gap_rem48 { gap: 3rem; }
.gap_rem56 { gap: 3.5rem; }
.gap_rem64 { gap: 4rem; }
.gap_rem72 { gap: 4.5rem; }
.gap_rem80 { gap: 5rem; }
.gap_rem88 { gap: 5.5rem; }
.gap_rem96 { gap: 6rem; }
.gap_rem104 { gap: 6.5rem; }

@media screen and (width <= 575px){



.gap_sp_0 { gap: 0px; }
.gap_sp_2 { gap: 2px; }
.gap_sp_4 { gap: 4px; }
.gap_sp_8 { gap: 8px; }
.gap_sp_12 { gap: 12px; }
.gap_sp_16 { gap: 16px; }
.gap_sp_20 { gap: 20px; }
.gap_sp_24 { gap: 24px; }
.gap_sp_32 { gap: 32px; }
.gap_sp_40 { gap: 40px; }
.gap_sp_48 { gap: 48px; }
.gap_sp_56 { gap: 56px; }
.gap_sp_64 { gap: 64px; }
.gap_sp_72 { gap: 72px; }
.gap_sp_80 { gap: 80px; }
.gap_sp_88 { gap: 88px; }
.gap_sp_96 { gap: 96px; }
.gap_sp_104 { gap: 104px; }
.gap_sp_xs { gap: 8px; }
.gap_sp_sm { gap: 16px; }
.gap_sp_md { gap: 24px; }
.gap_sp_lg { gap: 40px; }
.gap_sp_xl { gap: 64px; }
.gap_sp_xxl { gap: 104px; }
.gap_sp_rem0 { gap: 0rem; }
.gap_sp_rem2 { gap: 0.125rem; }
.gap_sp_rem4 { gap: 0.25rem; }
.gap_sp_rem8 { gap: 0.5rem; }
.gap_sp_rem12 { gap: 0.75rem; }
.gap_sp_rem16 { gap: 1rem; }
.gap_sp_rem20 { gap: 1.25rem; }
.gap_sp_rem24 { gap: 1.5rem; }
.gap_sp_rem28 { gap: 1.75rem; }
.gap_sp_rem32 { gap: 2rem; }
.gap_sp_rem40 { gap: 2.5rem; }
.gap_sp_rem48 { gap: 3rem; }
.gap_sp_rem56 { gap: 3.5rem; }
.gap_sp_rem64 { gap: 4rem; }
.gap_sp_rem72 { gap: 4.5rem; }
.gap_sp_rem80 { gap: 5rem; }
.gap_sp_rem88 { gap: 5.5rem; }
.gap_sp_rem96 { gap: 6rem; }
.gap_sp_rem104 { gap: 6.5rem; }

}

@media screen and (width >= 576px) and (width <= 992px){

.gap_sp_0 { gap: 0px; }
.gap_sp_2 { gap: 2px; }
.gap_sp_4 { gap: 4px; }
.gap_sp_8 { gap: 8px; }
.gap_sp_12 { gap: 12px; }
.gap_sp_16 { gap: 16px; }
.gap_sp_20 { gap: 20px; }
.gap_sp_24 { gap: 24px; }
.gap_sp_32 { gap: 32px; }
.gap_sp_40 { gap: 40px; }
.gap_sp_48 { gap: 48px; }
.gap_sp_56 { gap: 56px; }
.gap_sp_64 { gap: 64px; }
.gap_sp_72 { gap: 72px; }
.gap_sp_80 { gap: 80px; }
.gap_sp_88 { gap: 88px; }
.gap_sp_96 { gap: 96px; }
.gap_sp_104 { gap: 104px; }
.gap_sp_xs { gap: 8px; }
.gap_sp_sm { gap: 16px; }
.gap_sp_md { gap: 24px; }
.gap_sp_lg { gap: 40px; }
.gap_sp_xl { gap: 64px; }
.gap_sp_xxl { gap: 104px; }
.gap_sp_rem0 { gap: 0rem; }
.gap_sp_rem2 { gap: 0.125rem; }
.gap_sp_rem4 { gap: 0.25rem; }
.gap_sp_rem8 { gap: 0.5rem; }
.gap_sp_rem12 { gap: 0.75rem; }
.gap_sp_rem16 { gap: 1rem; }
.gap_sp_rem20 { gap: 1.25rem; }
.gap_sp_rem24 { gap: 1.5rem; }
.gap_sp_rem28 { gap: 1.75rem; }
.gap_sp_rem32 { gap: 2rem; }
.gap_sp_rem40 { gap: 2.5rem; }
.gap_sp_rem48 { gap: 3rem; }
.gap_sp_rem56 { gap: 3.5rem; }
.gap_sp_rem64 { gap: 4rem; }
.gap_sp_rem72 { gap: 4.5rem; }
.gap_sp_rem80 { gap: 5rem; }
.gap_sp_rem88 { gap: 5.5rem; }
.gap_sp_rem96 { gap: 6rem; }
.gap_sp_rem104 { gap: 6.5rem; }

}

@media screen and (width >= 993px) {

.gap_sp_0 { gap: 0px; }
.gap_sp_2 { gap: 2px; }
.gap_sp_4 { gap: 4px; }
.gap_sp_8 { gap: 8px; }
.gap_sp_12 { gap: 12px; }
.gap_sp_16 { gap: 16px; }
.gap_sp_20 { gap: 20px; }
.gap_sp_24 { gap: 24px; }
.gap_sp_32 { gap: 32px; }
.gap_sp_40 { gap: 40px; }
.gap_sp_48 { gap: 48px; }
.gap_sp_56 { gap: 56px; }
.gap_sp_64 { gap: 64px; }
.gap_sp_72 { gap: 72px; }
.gap_sp_80 { gap: 80px; }
.gap_sp_88 { gap: 88px; }
.gap_sp_96 { gap: 96px; }
.gap_sp_104 { gap: 104px; }
.gap_sp_xs { gap: 8px; }
.gap_sp_sm { gap: 16px; }
.gap_sp_md { gap: 24px; }
.gap_sp_lg { gap: 40px; }
.gap_sp_xl { gap: 64px; }
.gap_sp_xxl { gap: 104px; }
.gap_sp_rem0 { gap: 0rem; }
.gap_sp_rem2 { gap: 0.125rem; }
.gap_sp_rem4 { gap: 0.25rem; }
.gap_sp_rem8 { gap: 0.5rem; }
.gap_sp_rem12 { gap: 0.75rem; }
.gap_sp_rem16 { gap: 1rem; }
.gap_sp_rem20 { gap: 1.25rem; }
.gap_sp_rem24 { gap: 1.5rem; }
.gap_sp_rem28 { gap: 1.75rem; }
.gap_sp_rem32 { gap: 2rem; }
.gap_sp_rem40 { gap: 2.5rem; }
.gap_sp_rem48 { gap: 3rem; }
.gap_sp_rem56 { gap: 3.5rem; }
.gap_sp_rem64 { gap: 4rem; }
.gap_sp_rem72 { gap: 4.5rem; }
.gap_sp_rem80 { gap: 5rem; }
.gap_sp_rem88 { gap: 5.5rem; }
.gap_sp_rem96 { gap: 6rem; }
.gap_sp_rem104 { gap: 6.5rem; }

}