/* padding.css */
  

.p_0 { padding: 0px; } 
.px_0 { padding-left: 0px; padding-right: 0px; }
.py_0 { padding-top: 0px; padding-bottom: 0px; }
.pt_0 { padding-top: 0px; }
.pr_0 { padding-right: 0px; }  
.pb_0 { padding-bottom: 0px; }
.pl_0 { padding-left: 0px; }
.p_2 { padding: 2px; } 
.px_2 { padding-left: 2px; padding-right: 2px; }
.py_2 { padding-top: 2px; padding-bottom: 2px; }
.pt_2 { padding-top: 2px; }
.pr_2 { padding-right: 2px; }  
.pb_2 { padding-bottom: 2px; }
.pl_2 { padding-left: 2px; }
.p_4 { padding: 4px; } 
.px_4 { padding-left: 4px; padding-right: 4px; }
.py_4 { padding-top: 4px; padding-bottom: 4px; }
.pt_4 { padding-top: 4px; }
.pr_4 { padding-right: 4px; }  
.pb_4 { padding-bottom: 4px; }
.pl_4 { padding-left: 4px; }
.p_8 { padding: 8px; } 
.px_8 { padding-left: 8px; padding-right: 8px; }
.py_8 { padding-top: 8px; padding-bottom: 8px; }
.pt_8 { padding-top: 8px; }
.pr_8 { padding-right: 8px; }  
.pb_8 { padding-bottom: 8px; }
.pl_8 { padding-left: 8px; }
.p_12 { padding: 12px; } 
.px_12 { padding-left: 12px; padding-right: 12px; }
.py_12 { padding-top: 12px; padding-bottom: 12px; }
.pt_12 { padding-top: 12px; }
.pr_12 { padding-right: 12px; }  
.pb_12 { padding-bottom: 12px; }
.pl_12 { padding-left: 12px; }
.p_16 { padding: 16px; } 
.px_16 { padding-left: 16px; padding-right: 16px; }
.py_16 { padding-top: 16px; padding-bottom: 16px; }
.pt_16 { padding-top: 16px; }
.pr_16 { padding-right: 16px; }  
.pb_16 { padding-bottom: 16px; }
.pl_16 { padding-left: 16px; }
.p_20 { padding: 20px; } 
.px_20 { padding-left: 20px; padding-right: 20px; }
.py_20 { padding-top: 20px; padding-bottom: 20px; }
.pt_20 { padding-top: 20px; }
.pr_20 { padding-right: 20px; }  
.pb_20 { padding-bottom: 20px; }
.pl_20 { padding-left: 20px; }
.p_24 { padding: 24px; } 
.px_24 { padding-left: 24px; padding-right: 24px; }
.py_24 { padding-top: 24px; padding-bottom: 24px; }
.pt_24 { padding-top: 24px; }
.pr_24 { padding-right: 24px; }  
.pb_24 { padding-bottom: 24px; }
.pl_24 { padding-left: 24px; }
.p_32 { padding: 32px; } 
.px_32 { padding-left: 32px; padding-right: 32px; }
.py_32 { padding-top: 32px; padding-bottom: 32px; }
.pt_32 { padding-top: 32px; }
.pr_32 { padding-right: 32px; }  
.pb_32 { padding-bottom: 32px; }
.pl_32 { padding-left: 32px; }
.p_40 { padding: 40px; } 
.px_40 { padding-left: 40px; padding-right: 40px; }
.py_40 { padding-top: 40px; padding-bottom: 40px; }
.pt_40 { padding-top: 40px; }
.pr_40 { padding-right: 40px; }  
.pb_40 { padding-bottom: 40px; }
.pl_40 { padding-left: 40px; }
.p_48 { padding: 48px; } 
.px_48 { padding-left: 48px; padding-right: 48px; }
.py_48 { padding-top: 48px; padding-bottom: 48px; }
.pt_48 { padding-top: 48px; }
.pr_48 { padding-right: 48px; }  
.pb_48 { padding-bottom: 48px; }
.pl_48 { padding-left: 48px; }
.p_56 { padding: 56px; } 
.px_56 { padding-left: 56px; padding-right: 56px; }
.py_56 { padding-top: 56px; padding-bottom: 56px; }
.pt_56 { padding-top: 56px; }
.pr_56 { padding-right: 56px; }  
.pb_56 { padding-bottom: 56px; }
.pl_56 { padding-left: 56px; }
.p_64 { padding: 64px; } 
.px_64 { padding-left: 64px; padding-right: 64px; }
.py_64 { padding-top: 64px; padding-bottom: 64px; }
.pt_64 { padding-top: 64px; }
.pr_64 { padding-right: 64px; }  
.pb_64 { padding-bottom: 64px; }
.pl_64 { padding-left: 64px; }
.p_72 { padding: 72px; } 
.px_72 { padding-left: 72px; padding-right: 72px; }
.py_72 { padding-top: 72px; padding-bottom: 72px; }
.pt_72 { padding-top: 72px; }
.pr_72 { padding-right: 72px; }  
.pb_72 { padding-bottom: 72px; }
.pl_72 { padding-left: 72px; }
.p_80 { padding: 80px; } 
.px_80 { padding-left: 80px; padding-right: 80px; }
.py_80 { padding-top: 80px; padding-bottom: 80px; }
.pt_80 { padding-top: 80px; }
.pr_80 { padding-right: 80px; }  
.pb_80 { padding-bottom: 80px; }
.pl_80 { padding-left: 80px; }
.p_88 { padding: 88px; } 
.px_88 { padding-left: 88px; padding-right: 88px; }
.py_88 { padding-top: 88px; padding-bottom: 88px; }
.pt_88 { padding-top: 88px; }
.pr_88 { padding-right: 88px; }  
.pb_88 { padding-bottom: 88px; }
.pl_88 { padding-left: 88px; }
.p_96 { padding: 96px; } 
.px_96 { padding-left: 96px; padding-right: 96px; }
.py_96 { padding-top: 96px; padding-bottom: 96px; }
.pt_96 { padding-top: 96px; }
.pr_96 { padding-right: 96px; }  
.pb_96 { padding-bottom: 96px; }
.pl_96 { padding-left: 96px; }
.p_104 { padding: 104px; } 
.px_104 { padding-left: 104px; padding-right: 104px; }
.py_104 { padding-top: 104px; padding-bottom: 104px; }
.pt_104 { padding-top: 104px; }
.pr_104 { padding-right: 104px; }  
.pb_104 { padding-bottom: 104px; }
.pl_104 { padding-left: 104px; }
.p_xs { padding: 8px; } 
.px_xs { padding-left: 8px; padding-right: 8px; }
.py_xs { padding-top: 8px; padding-bottom: 8px; }
.pt_xs { padding-top: 8px; }
.pr_xs { padding-right: 8px; }  
.pb_xs { padding-bottom: 8px; }
.pl_xs { padding-left: 8px; }
.p_sm { padding: 16px; } 
.px_sm { padding-left: 16px; padding-right: 16px; }
.py_sm { padding-top: 16px; padding-bottom: 16px; }
.pt_sm { padding-top: 16px; }
.pr_sm { padding-right: 16px; }  
.pb_sm { padding-bottom: 16px; }
.pl_sm { padding-left: 16px; }
.p_md { padding: 24px; } 
.px_md { padding-left: 24px; padding-right: 24px; }
.py_md { padding-top: 24px; padding-bottom: 24px; }
.pt_md { padding-top: 24px; }
.pr_md { padding-right: 24px; }  
.pb_md { padding-bottom: 24px; }
.pl_md { padding-left: 24px; }
.p_lg { padding: 40px; } 
.px_lg { padding-left: 40px; padding-right: 40px; }
.py_lg { padding-top: 40px; padding-bottom: 40px; }
.pt_lg { padding-top: 40px; }
.pr_lg { padding-right: 40px; }  
.pb_lg { padding-bottom: 40px; }
.pl_lg { padding-left: 40px; }
.p_xl { padding: 64px; } 
.px_xl { padding-left: 64px; padding-right: 64px; }
.py_xl { padding-top: 64px; padding-bottom: 64px; }
.pt_xl { padding-top: 64px; }
.pr_xl { padding-right: 64px; }  
.pb_xl { padding-bottom: 64px; }
.pl_xl { padding-left: 64px; }
.p_xxl { padding: 104px; } 
.px_xxl { padding-left: 104px; padding-right: 104px; }
.py_xxl { padding-top: 104px; padding-bottom: 104px; }
.pt_xxl { padding-top: 104px; }
.pr_xxl { padding-right: 104px; }  
.pb_xxl { padding-bottom: 104px; }
.pl_xxl { padding-left: 104px; }
.p_rem0 { padding: 0rem; } 
.px_rem0 { padding-left: 0rem; padding-right: 0rem; }
.py_rem0 { padding-top: 0rem; padding-bottom: 0rem; }
.pt_rem0 { padding-top: 0rem; }
.pr_rem0 { padding-right: 0rem; }  
.pb_rem0 { padding-bottom: 0rem; }
.pl_rem0 { padding-left: 0rem; }
.p_rem2 { padding: 0.125rem; } 
.px_rem2 { padding-left: 0.125rem; padding-right: 0.125rem; }
.py_rem2 { padding-top: 0.125rem; padding-bottom: 0.125rem; }
.pt_rem2 { padding-top: 0.125rem; }
.pr_rem2 { padding-right: 0.125rem; }  
.pb_rem2 { padding-bottom: 0.125rem; }
.pl_rem2 { padding-left: 0.125rem; }
.p_rem4 { padding: 0.25rem; } 
.px_rem4 { padding-left: 0.25rem; padding-right: 0.25rem; }
.py_rem4 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.pt_rem4 { padding-top: 0.25rem; }
.pr_rem4 { padding-right: 0.25rem; }  
.pb_rem4 { padding-bottom: 0.25rem; }
.pl_rem4 { padding-left: 0.25rem; }
.p_rem8 { padding: 0.5rem; } 
.px_rem8 { padding-left: 0.5rem; padding-right: 0.5rem; }
.py_rem8 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.pt_rem8 { padding-top: 0.5rem; }
.pr_rem8 { padding-right: 0.5rem; }  
.pb_rem8 { padding-bottom: 0.5rem; }
.pl_rem8 { padding-left: 0.5rem; }
.p_rem12 { padding: 0.75rem; } 
.px_rem12 { padding-left: 0.75rem; padding-right: 0.75rem; }
.py_rem12 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.pt_rem12 { padding-top: 0.75rem; }
.pr_rem12 { padding-right: 0.75rem; }  
.pb_rem12 { padding-bottom: 0.75rem; }
.pl_rem12 { padding-left: 0.75rem; }
.p_rem16 { padding: 1rem; } 
.px_rem16 { padding-left: 1rem; padding-right: 1rem; }
.py_rem16 { padding-top: 1rem; padding-bottom: 1rem; }
.pt_rem16 { padding-top: 1rem; }
.pr_rem16 { padding-right: 1rem; }  
.pb_rem16 { padding-bottom: 1rem; }
.pl_rem16 { padding-left: 1rem; }
.p_rem20 { padding: 1.25rem; } 
.px_rem20 { padding-left: 1.25rem; padding-right: 1.25rem; }
.py_rem20 { padding-top: 1.25rem; padding-bottom: 1.25rem; }
.pt_rem20 { padding-top: 1.25rem; }
.pr_rem20 { padding-right: 1.25rem; }  
.pb_rem20 { padding-bottom: 1.25rem; }
.pl_rem20 { padding-left: 1.25rem; }
.p_rem24 { padding: 1.5rem; } 
.px_rem24 { padding-left: 1.5rem; padding-right: 1.5rem; }
.py_rem24 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.pt_rem24 { padding-top: 1.5rem; }
.pr_rem24 { padding-right: 1.5rem; }  
.pb_rem24 { padding-bottom: 1.5rem; }
.pl_rem24 { padding-left: 1.5rem; }
.p_rem28 { padding: 1.75rem; } 
.px_rem28 { padding-left: 1.75rem; padding-right: 1.75rem; }
.py_rem28 { padding-top: 1.75rem; padding-bottom: 1.75rem; }
.pt_rem28 { padding-top: 1.75rem; }
.pr_rem28 { padding-right: 1.75rem; }  
.pb_rem28 { padding-bottom: 1.75rem; }
.pl_rem28 { padding-left: 1.75rem; }
.p_rem32 { padding: 2rem; } 
.px_rem32 { padding-left: 2rem; padding-right: 2rem; }
.py_rem32 { padding-top: 2rem; padding-bottom: 2rem; }
.pt_rem32 { padding-top: 2rem; }
.pr_rem32 { padding-right: 2rem; }  
.pb_rem32 { padding-bottom: 2rem; }
.pl_rem32 { padding-left: 2rem; }
.p_rem40 { padding: 2.5rem; } 
.px_rem40 { padding-left: 2.5rem; padding-right: 2.5rem; }
.py_rem40 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
.pt_rem40 { padding-top: 2.5rem; }
.pr_rem40 { padding-right: 2.5rem; }  
.pb_rem40 { padding-bottom: 2.5rem; }
.pl_rem40 { padding-left: 2.5rem; }
.p_rem48 { padding: 3rem; } 
.px_rem48 { padding-left: 3rem; padding-right: 3rem; }
.py_rem48 { padding-top: 3rem; padding-bottom: 3rem; }
.pt_rem48 { padding-top: 3rem; }
.pr_rem48 { padding-right: 3rem; }  
.pb_rem48 { padding-bottom: 3rem; }
.pl_rem48 { padding-left: 3rem; }
.p_rem56 { padding: 3.5rem; } 
.px_rem56 { padding-left: 3.5rem; padding-right: 3.5rem; }
.py_rem56 { padding-top: 3.5rem; padding-bottom: 3.5rem; }
.pt_rem56 { padding-top: 3.5rem; }
.pr_rem56 { padding-right: 3.5rem; }  
.pb_rem56 { padding-bottom: 3.5rem; }
.pl_rem56 { padding-left: 3.5rem; }
.p_rem64 { padding: 4rem; } 
.px_rem64 { padding-left: 4rem; padding-right: 4rem; }
.py_rem64 { padding-top: 4rem; padding-bottom: 4rem; }
.pt_rem64 { padding-top: 4rem; }
.pr_rem64 { padding-right: 4rem; }  
.pb_rem64 { padding-bottom: 4rem; }
.pl_rem64 { padding-left: 4rem; }
.p_rem72 { padding: 4.5rem; } 
.px_rem72 { padding-left: 4.5rem; padding-right: 4.5rem; }
.py_rem72 { padding-top: 4.5rem; padding-bottom: 4.5rem; }
.pt_rem72 { padding-top: 4.5rem; }
.pr_rem72 { padding-right: 4.5rem; }  
.pb_rem72 { padding-bottom: 4.5rem; }
.pl_rem72 { padding-left: 4.5rem; }
.p_rem80 { padding: 5rem; } 
.px_rem80 { padding-left: 5rem; padding-right: 5rem; }
.py_rem80 { padding-top: 5rem; padding-bottom: 5rem; }
.pt_rem80 { padding-top: 5rem; }
.pr_rem80 { padding-right: 5rem; }  
.pb_rem80 { padding-bottom: 5rem; }
.pl_rem80 { padding-left: 5rem; }
.p_rem88 { padding: 5.5rem; } 
.px_rem88 { padding-left: 5.5rem; padding-right: 5.5rem; }
.py_rem88 { padding-top: 5.5rem; padding-bottom: 5.5rem; }
.pt_rem88 { padding-top: 5.5rem; }
.pr_rem88 { padding-right: 5.5rem; }  
.pb_rem88 { padding-bottom: 5.5rem; }
.pl_rem88 { padding-left: 5.5rem; }
.p_rem96 { padding: 6rem; } 
.px_rem96 { padding-left: 6rem; padding-right: 6rem; }
.py_rem96 { padding-top: 6rem; padding-bottom: 6rem; }
.pt_rem96 { padding-top: 6rem; }
.pr_rem96 { padding-right: 6rem; }  
.pb_rem96 { padding-bottom: 6rem; }
.pl_rem96 { padding-left: 6rem; }
.p_rem104 { padding: 6.5rem; } 
.px_rem104 { padding-left: 6.5rem; padding-right: 6.5rem; }
.py_rem104 { padding-top: 6.5rem; padding-bottom: 6.5rem; }
.pt_rem104 { padding-top: 6.5rem; }
.pr_rem104 { padding-right: 6.5rem; }  
.pb_rem104 { padding-bottom: 6.5rem; }
.pl_rem104 { padding-left: 6.5rem; }

  @media screen and (width <= 575px){

  

.p_sp_0 { padding: 0px; } 
.px_sp_0 { padding-left: 0px; padding-right: 0px; }
.py_sp_0 { padding-top: 0px; padding-bottom: 0px; }
.pt_sp_0 { padding-top: 0px; }
.pr_sp_0 { padding-right: 0px; }  
.pb_sp_0 { padding-bottom: 0px; }
.pl_sp_0 { padding-left: 0px; }
.p_sp_2 { padding: 2px; } 
.px_sp_2 { padding-left: 2px; padding-right: 2px; }
.py_sp_2 { padding-top: 2px; padding-bottom: 2px; }
.pt_sp_2 { padding-top: 2px; }
.pr_sp_2 { padding-right: 2px; }  
.pb_sp_2 { padding-bottom: 2px; }
.pl_sp_2 { padding-left: 2px; }
.p_sp_4 { padding: 4px; } 
.px_sp_4 { padding-left: 4px; padding-right: 4px; }
.py_sp_4 { padding-top: 4px; padding-bottom: 4px; }
.pt_sp_4 { padding-top: 4px; }
.pr_sp_4 { padding-right: 4px; }  
.pb_sp_4 { padding-bottom: 4px; }
.pl_sp_4 { padding-left: 4px; }
.p_sp_8 { padding: 8px; } 
.px_sp_8 { padding-left: 8px; padding-right: 8px; }
.py_sp_8 { padding-top: 8px; padding-bottom: 8px; }
.pt_sp_8 { padding-top: 8px; }
.pr_sp_8 { padding-right: 8px; }  
.pb_sp_8 { padding-bottom: 8px; }
.pl_sp_8 { padding-left: 8px; }
.p_sp_12 { padding: 12px; } 
.px_sp_12 { padding-left: 12px; padding-right: 12px; }
.py_sp_12 { padding-top: 12px; padding-bottom: 12px; }
.pt_sp_12 { padding-top: 12px; }
.pr_sp_12 { padding-right: 12px; }  
.pb_sp_12 { padding-bottom: 12px; }
.pl_sp_12 { padding-left: 12px; }
.p_sp_16 { padding: 16px; } 
.px_sp_16 { padding-left: 16px; padding-right: 16px; }
.py_sp_16 { padding-top: 16px; padding-bottom: 16px; }
.pt_sp_16 { padding-top: 16px; }
.pr_sp_16 { padding-right: 16px; }  
.pb_sp_16 { padding-bottom: 16px; }
.pl_sp_16 { padding-left: 16px; }
.p_sp_20 { padding: 20px; } 
.px_sp_20 { padding-left: 20px; padding-right: 20px; }
.py_sp_20 { padding-top: 20px; padding-bottom: 20px; }
.pt_sp_20 { padding-top: 20px; }
.pr_sp_20 { padding-right: 20px; }  
.pb_sp_20 { padding-bottom: 20px; }
.pl_sp_20 { padding-left: 20px; }
.p_sp_24 { padding: 24px; } 
.px_sp_24 { padding-left: 24px; padding-right: 24px; }
.py_sp_24 { padding-top: 24px; padding-bottom: 24px; }
.pt_sp_24 { padding-top: 24px; }
.pr_sp_24 { padding-right: 24px; }  
.pb_sp_24 { padding-bottom: 24px; }
.pl_sp_24 { padding-left: 24px; }
.p_sp_32 { padding: 32px; } 
.px_sp_32 { padding-left: 32px; padding-right: 32px; }
.py_sp_32 { padding-top: 32px; padding-bottom: 32px; }
.pt_sp_32 { padding-top: 32px; }
.pr_sp_32 { padding-right: 32px; }  
.pb_sp_32 { padding-bottom: 32px; }
.pl_sp_32 { padding-left: 32px; }
.p_sp_40 { padding: 40px; } 
.px_sp_40 { padding-left: 40px; padding-right: 40px; }
.py_sp_40 { padding-top: 40px; padding-bottom: 40px; }
.pt_sp_40 { padding-top: 40px; }
.pr_sp_40 { padding-right: 40px; }  
.pb_sp_40 { padding-bottom: 40px; }
.pl_sp_40 { padding-left: 40px; }
.p_sp_48 { padding: 48px; } 
.px_sp_48 { padding-left: 48px; padding-right: 48px; }
.py_sp_48 { padding-top: 48px; padding-bottom: 48px; }
.pt_sp_48 { padding-top: 48px; }
.pr_sp_48 { padding-right: 48px; }  
.pb_sp_48 { padding-bottom: 48px; }
.pl_sp_48 { padding-left: 48px; }
.p_sp_56 { padding: 56px; } 
.px_sp_56 { padding-left: 56px; padding-right: 56px; }
.py_sp_56 { padding-top: 56px; padding-bottom: 56px; }
.pt_sp_56 { padding-top: 56px; }
.pr_sp_56 { padding-right: 56px; }  
.pb_sp_56 { padding-bottom: 56px; }
.pl_sp_56 { padding-left: 56px; }
.p_sp_64 { padding: 64px; } 
.px_sp_64 { padding-left: 64px; padding-right: 64px; }
.py_sp_64 { padding-top: 64px; padding-bottom: 64px; }
.pt_sp_64 { padding-top: 64px; }
.pr_sp_64 { padding-right: 64px; }  
.pb_sp_64 { padding-bottom: 64px; }
.pl_sp_64 { padding-left: 64px; }
.p_sp_72 { padding: 72px; } 
.px_sp_72 { padding-left: 72px; padding-right: 72px; }
.py_sp_72 { padding-top: 72px; padding-bottom: 72px; }
.pt_sp_72 { padding-top: 72px; }
.pr_sp_72 { padding-right: 72px; }  
.pb_sp_72 { padding-bottom: 72px; }
.pl_sp_72 { padding-left: 72px; }
.p_sp_80 { padding: 80px; } 
.px_sp_80 { padding-left: 80px; padding-right: 80px; }
.py_sp_80 { padding-top: 80px; padding-bottom: 80px; }
.pt_sp_80 { padding-top: 80px; }
.pr_sp_80 { padding-right: 80px; }  
.pb_sp_80 { padding-bottom: 80px; }
.pl_sp_80 { padding-left: 80px; }
.p_sp_88 { padding: 88px; } 
.px_sp_88 { padding-left: 88px; padding-right: 88px; }
.py_sp_88 { padding-top: 88px; padding-bottom: 88px; }
.pt_sp_88 { padding-top: 88px; }
.pr_sp_88 { padding-right: 88px; }  
.pb_sp_88 { padding-bottom: 88px; }
.pl_sp_88 { padding-left: 88px; }
.p_sp_96 { padding: 96px; } 
.px_sp_96 { padding-left: 96px; padding-right: 96px; }
.py_sp_96 { padding-top: 96px; padding-bottom: 96px; }
.pt_sp_96 { padding-top: 96px; }
.pr_sp_96 { padding-right: 96px; }  
.pb_sp_96 { padding-bottom: 96px; }
.pl_sp_96 { padding-left: 96px; }
.p_sp_104 { padding: 104px; } 
.px_sp_104 { padding-left: 104px; padding-right: 104px; }
.py_sp_104 { padding-top: 104px; padding-bottom: 104px; }
.pt_sp_104 { padding-top: 104px; }
.pr_sp_104 { padding-right: 104px; }  
.pb_sp_104 { padding-bottom: 104px; }
.pl_sp_104 { padding-left: 104px; }
.p_sp_xs { padding: 8px; } 
.px_sp_xs { padding-left: 8px; padding-right: 8px; }
.py_sp_xs { padding-top: 8px; padding-bottom: 8px; }
.pt_sp_xs { padding-top: 8px; }
.pr_sp_xs { padding-right: 8px; }  
.pb_sp_xs { padding-bottom: 8px; }
.pl_sp_xs { padding-left: 8px; }
.p_sp_sm { padding: 16px; } 
.px_sp_sm { padding-left: 16px; padding-right: 16px; }
.py_sp_sm { padding-top: 16px; padding-bottom: 16px; }
.pt_sp_sm { padding-top: 16px; }
.pr_sp_sm { padding-right: 16px; }  
.pb_sp_sm { padding-bottom: 16px; }
.pl_sp_sm { padding-left: 16px; }
.p_sp_md { padding: 24px; } 
.px_sp_md { padding-left: 24px; padding-right: 24px; }
.py_sp_md { padding-top: 24px; padding-bottom: 24px; }
.pt_sp_md { padding-top: 24px; }
.pr_sp_md { padding-right: 24px; }  
.pb_sp_md { padding-bottom: 24px; }
.pl_sp_md { padding-left: 24px; }
.p_sp_lg { padding: 40px; } 
.px_sp_lg { padding-left: 40px; padding-right: 40px; }
.py_sp_lg { padding-top: 40px; padding-bottom: 40px; }
.pt_sp_lg { padding-top: 40px; }
.pr_sp_lg { padding-right: 40px; }  
.pb_sp_lg { padding-bottom: 40px; }
.pl_sp_lg { padding-left: 40px; }
.p_sp_xl { padding: 64px; } 
.px_sp_xl { padding-left: 64px; padding-right: 64px; }
.py_sp_xl { padding-top: 64px; padding-bottom: 64px; }
.pt_sp_xl { padding-top: 64px; }
.pr_sp_xl { padding-right: 64px; }  
.pb_sp_xl { padding-bottom: 64px; }
.pl_sp_xl { padding-left: 64px; }
.p_sp_xxl { padding: 104px; } 
.px_sp_xxl { padding-left: 104px; padding-right: 104px; }
.py_sp_xxl { padding-top: 104px; padding-bottom: 104px; }
.pt_sp_xxl { padding-top: 104px; }
.pr_sp_xxl { padding-right: 104px; }  
.pb_sp_xxl { padding-bottom: 104px; }
.pl_sp_xxl { padding-left: 104px; }
.p_sp_rem0 { padding: 0rem; } 
.px_sp_rem0 { padding-left: 0rem; padding-right: 0rem; }
.py_sp_rem0 { padding-top: 0rem; padding-bottom: 0rem; }
.pt_sp_rem0 { padding-top: 0rem; }
.pr_sp_rem0 { padding-right: 0rem; }  
.pb_sp_rem0 { padding-bottom: 0rem; }
.pl_sp_rem0 { padding-left: 0rem; }
.p_sp_rem2 { padding: 0.125rem; } 
.px_sp_rem2 { padding-left: 0.125rem; padding-right: 0.125rem; }
.py_sp_rem2 { padding-top: 0.125rem; padding-bottom: 0.125rem; }
.pt_sp_rem2 { padding-top: 0.125rem; }
.pr_sp_rem2 { padding-right: 0.125rem; }  
.pb_sp_rem2 { padding-bottom: 0.125rem; }
.pl_sp_rem2 { padding-left: 0.125rem; }
.p_sp_rem4 { padding: 0.25rem; } 
.px_sp_rem4 { padding-left: 0.25rem; padding-right: 0.25rem; }
.py_sp_rem4 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.pt_sp_rem4 { padding-top: 0.25rem; }
.pr_sp_rem4 { padding-right: 0.25rem; }  
.pb_sp_rem4 { padding-bottom: 0.25rem; }
.pl_sp_rem4 { padding-left: 0.25rem; }
.p_sp_rem8 { padding: 0.5rem; } 
.px_sp_rem8 { padding-left: 0.5rem; padding-right: 0.5rem; }
.py_sp_rem8 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.pt_sp_rem8 { padding-top: 0.5rem; }
.pr_sp_rem8 { padding-right: 0.5rem; }  
.pb_sp_rem8 { padding-bottom: 0.5rem; }
.pl_sp_rem8 { padding-left: 0.5rem; }
.p_sp_rem12 { padding: 0.75rem; } 
.px_sp_rem12 { padding-left: 0.75rem; padding-right: 0.75rem; }
.py_sp_rem12 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.pt_sp_rem12 { padding-top: 0.75rem; }
.pr_sp_rem12 { padding-right: 0.75rem; }  
.pb_sp_rem12 { padding-bottom: 0.75rem; }
.pl_sp_rem12 { padding-left: 0.75rem; }
.p_sp_rem16 { padding: 1rem; } 
.px_sp_rem16 { padding-left: 1rem; padding-right: 1rem; }
.py_sp_rem16 { padding-top: 1rem; padding-bottom: 1rem; }
.pt_sp_rem16 { padding-top: 1rem; }
.pr_sp_rem16 { padding-right: 1rem; }  
.pb_sp_rem16 { padding-bottom: 1rem; }
.pl_sp_rem16 { padding-left: 1rem; }
.p_sp_rem20 { padding: 1.25rem; } 
.px_sp_rem20 { padding-left: 1.25rem; padding-right: 1.25rem; }
.py_sp_rem20 { padding-top: 1.25rem; padding-bottom: 1.25rem; }
.pt_sp_rem20 { padding-top: 1.25rem; }
.pr_sp_rem20 { padding-right: 1.25rem; }  
.pb_sp_rem20 { padding-bottom: 1.25rem; }
.pl_sp_rem20 { padding-left: 1.25rem; }
.p_sp_rem24 { padding: 1.5rem; } 
.px_sp_rem24 { padding-left: 1.5rem; padding-right: 1.5rem; }
.py_sp_rem24 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.pt_sp_rem24 { padding-top: 1.5rem; }
.pr_sp_rem24 { padding-right: 1.5rem; }  
.pb_sp_rem24 { padding-bottom: 1.5rem; }
.pl_sp_rem24 { padding-left: 1.5rem; }
.p_sp_rem28 { padding: 1.75rem; } 
.px_sp_rem28 { padding-left: 1.75rem; padding-right: 1.75rem; }
.py_sp_rem28 { padding-top: 1.75rem; padding-bottom: 1.75rem; }
.pt_sp_rem28 { padding-top: 1.75rem; }
.pr_sp_rem28 { padding-right: 1.75rem; }  
.pb_sp_rem28 { padding-bottom: 1.75rem; }
.pl_sp_rem28 { padding-left: 1.75rem; }
.p_sp_rem32 { padding: 2rem; } 
.px_sp_rem32 { padding-left: 2rem; padding-right: 2rem; }
.py_sp_rem32 { padding-top: 2rem; padding-bottom: 2rem; }
.pt_sp_rem32 { padding-top: 2rem; }
.pr_sp_rem32 { padding-right: 2rem; }  
.pb_sp_rem32 { padding-bottom: 2rem; }
.pl_sp_rem32 { padding-left: 2rem; }
.p_sp_rem40 { padding: 2.5rem; } 
.px_sp_rem40 { padding-left: 2.5rem; padding-right: 2.5rem; }
.py_sp_rem40 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
.pt_sp_rem40 { padding-top: 2.5rem; }
.pr_sp_rem40 { padding-right: 2.5rem; }  
.pb_sp_rem40 { padding-bottom: 2.5rem; }
.pl_sp_rem40 { padding-left: 2.5rem; }
.p_sp_rem48 { padding: 3rem; } 
.px_sp_rem48 { padding-left: 3rem; padding-right: 3rem; }
.py_sp_rem48 { padding-top: 3rem; padding-bottom: 3rem; }
.pt_sp_rem48 { padding-top: 3rem; }
.pr_sp_rem48 { padding-right: 3rem; }  
.pb_sp_rem48 { padding-bottom: 3rem; }
.pl_sp_rem48 { padding-left: 3rem; }
.p_sp_rem56 { padding: 3.5rem; } 
.px_sp_rem56 { padding-left: 3.5rem; padding-right: 3.5rem; }
.py_sp_rem56 { padding-top: 3.5rem; padding-bottom: 3.5rem; }
.pt_sp_rem56 { padding-top: 3.5rem; }
.pr_sp_rem56 { padding-right: 3.5rem; }  
.pb_sp_rem56 { padding-bottom: 3.5rem; }
.pl_sp_rem56 { padding-left: 3.5rem; }
.p_sp_rem64 { padding: 4rem; } 
.px_sp_rem64 { padding-left: 4rem; padding-right: 4rem; }
.py_sp_rem64 { padding-top: 4rem; padding-bottom: 4rem; }
.pt_sp_rem64 { padding-top: 4rem; }
.pr_sp_rem64 { padding-right: 4rem; }  
.pb_sp_rem64 { padding-bottom: 4rem; }
.pl_sp_rem64 { padding-left: 4rem; }
.p_sp_rem72 { padding: 4.5rem; } 
.px_sp_rem72 { padding-left: 4.5rem; padding-right: 4.5rem; }
.py_sp_rem72 { padding-top: 4.5rem; padding-bottom: 4.5rem; }
.pt_sp_rem72 { padding-top: 4.5rem; }
.pr_sp_rem72 { padding-right: 4.5rem; }  
.pb_sp_rem72 { padding-bottom: 4.5rem; }
.pl_sp_rem72 { padding-left: 4.5rem; }
.p_sp_rem80 { padding: 5rem; } 
.px_sp_rem80 { padding-left: 5rem; padding-right: 5rem; }
.py_sp_rem80 { padding-top: 5rem; padding-bottom: 5rem; }
.pt_sp_rem80 { padding-top: 5rem; }
.pr_sp_rem80 { padding-right: 5rem; }  
.pb_sp_rem80 { padding-bottom: 5rem; }
.pl_sp_rem80 { padding-left: 5rem; }
.p_sp_rem88 { padding: 5.5rem; } 
.px_sp_rem88 { padding-left: 5.5rem; padding-right: 5.5rem; }
.py_sp_rem88 { padding-top: 5.5rem; padding-bottom: 5.5rem; }
.pt_sp_rem88 { padding-top: 5.5rem; }
.pr_sp_rem88 { padding-right: 5.5rem; }  
.pb_sp_rem88 { padding-bottom: 5.5rem; }
.pl_sp_rem88 { padding-left: 5.5rem; }
.p_sp_rem96 { padding: 6rem; } 
.px_sp_rem96 { padding-left: 6rem; padding-right: 6rem; }
.py_sp_rem96 { padding-top: 6rem; padding-bottom: 6rem; }
.pt_sp_rem96 { padding-top: 6rem; }
.pr_sp_rem96 { padding-right: 6rem; }  
.pb_sp_rem96 { padding-bottom: 6rem; }
.pl_sp_rem96 { padding-left: 6rem; }
.p_sp_rem104 { padding: 6.5rem; } 
.px_sp_rem104 { padding-left: 6.5rem; padding-right: 6.5rem; }
.py_sp_rem104 { padding-top: 6.5rem; padding-bottom: 6.5rem; }
.pt_sp_rem104 { padding-top: 6.5rem; }
.pr_sp_rem104 { padding-right: 6.5rem; }  
.pb_sp_rem104 { padding-bottom: 6.5rem; }
.pl_sp_rem104 { padding-left: 6.5rem; }

  }

  @media screen and (width >= 576px) and (width <= 992px){

  .p_tb_0 { padding: 0px; } 
.px_tb_0 { padding-left: 0px; padding-right: 0px; }
.py_tb_0 { padding-top: 0px; padding-bottom: 0px; }
.pt_tb_0 { padding-top: 0px; }
.pr_tb_0 { padding-right: 0px; }  
.pb_tb_0 { padding-bottom: 0px; }
.pl_tb_0 { padding-left: 0px; }
.p_tb_2 { padding: 2px; } 
.px_tb_2 { padding-left: 2px; padding-right: 2px; }
.py_tb_2 { padding-top: 2px; padding-bottom: 2px; }
.pt_tb_2 { padding-top: 2px; }
.pr_tb_2 { padding-right: 2px; }  
.pb_tb_2 { padding-bottom: 2px; }
.pl_tb_2 { padding-left: 2px; }
.p_tb_4 { padding: 4px; } 
.px_tb_4 { padding-left: 4px; padding-right: 4px; }
.py_tb_4 { padding-top: 4px; padding-bottom: 4px; }
.pt_tb_4 { padding-top: 4px; }
.pr_tb_4 { padding-right: 4px; }  
.pb_tb_4 { padding-bottom: 4px; }
.pl_tb_4 { padding-left: 4px; }
.p_tb_8 { padding: 8px; } 
.px_tb_8 { padding-left: 8px; padding-right: 8px; }
.py_tb_8 { padding-top: 8px; padding-bottom: 8px; }
.pt_tb_8 { padding-top: 8px; }
.pr_tb_8 { padding-right: 8px; }  
.pb_tb_8 { padding-bottom: 8px; }
.pl_tb_8 { padding-left: 8px; }
.p_tb_12 { padding: 12px; } 
.px_tb_12 { padding-left: 12px; padding-right: 12px; }
.py_tb_12 { padding-top: 12px; padding-bottom: 12px; }
.pt_tb_12 { padding-top: 12px; }
.pr_tb_12 { padding-right: 12px; }  
.pb_tb_12 { padding-bottom: 12px; }
.pl_tb_12 { padding-left: 12px; }
.p_tb_16 { padding: 16px; } 
.px_tb_16 { padding-left: 16px; padding-right: 16px; }
.py_tb_16 { padding-top: 16px; padding-bottom: 16px; }
.pt_tb_16 { padding-top: 16px; }
.pr_tb_16 { padding-right: 16px; }  
.pb_tb_16 { padding-bottom: 16px; }
.pl_tb_16 { padding-left: 16px; }
.p_tb_20 { padding: 20px; } 
.px_tb_20 { padding-left: 20px; padding-right: 20px; }
.py_tb_20 { padding-top: 20px; padding-bottom: 20px; }
.pt_tb_20 { padding-top: 20px; }
.pr_tb_20 { padding-right: 20px; }  
.pb_tb_20 { padding-bottom: 20px; }
.pl_tb_20 { padding-left: 20px; }
.p_tb_24 { padding: 24px; } 
.px_tb_24 { padding-left: 24px; padding-right: 24px; }
.py_tb_24 { padding-top: 24px; padding-bottom: 24px; }
.pt_tb_24 { padding-top: 24px; }
.pr_tb_24 { padding-right: 24px; }  
.pb_tb_24 { padding-bottom: 24px; }
.pl_tb_24 { padding-left: 24px; }
.p_tb_32 { padding: 32px; } 
.px_tb_32 { padding-left: 32px; padding-right: 32px; }
.py_tb_32 { padding-top: 32px; padding-bottom: 32px; }
.pt_tb_32 { padding-top: 32px; }
.pr_tb_32 { padding-right: 32px; }  
.pb_tb_32 { padding-bottom: 32px; }
.pl_tb_32 { padding-left: 32px; }
.p_tb_40 { padding: 40px; } 
.px_tb_40 { padding-left: 40px; padding-right: 40px; }
.py_tb_40 { padding-top: 40px; padding-bottom: 40px; }
.pt_tb_40 { padding-top: 40px; }
.pr_tb_40 { padding-right: 40px; }  
.pb_tb_40 { padding-bottom: 40px; }
.pl_tb_40 { padding-left: 40px; }
.p_tb_48 { padding: 48px; } 
.px_tb_48 { padding-left: 48px; padding-right: 48px; }
.py_tb_48 { padding-top: 48px; padding-bottom: 48px; }
.pt_tb_48 { padding-top: 48px; }
.pr_tb_48 { padding-right: 48px; }  
.pb_tb_48 { padding-bottom: 48px; }
.pl_tb_48 { padding-left: 48px; }
.p_tb_56 { padding: 56px; } 
.px_tb_56 { padding-left: 56px; padding-right: 56px; }
.py_tb_56 { padding-top: 56px; padding-bottom: 56px; }
.pt_tb_56 { padding-top: 56px; }
.pr_tb_56 { padding-right: 56px; }  
.pb_tb_56 { padding-bottom: 56px; }
.pl_tb_56 { padding-left: 56px; }
.p_tb_64 { padding: 64px; } 
.px_tb_64 { padding-left: 64px; padding-right: 64px; }
.py_tb_64 { padding-top: 64px; padding-bottom: 64px; }
.pt_tb_64 { padding-top: 64px; }
.pr_tb_64 { padding-right: 64px; }  
.pb_tb_64 { padding-bottom: 64px; }
.pl_tb_64 { padding-left: 64px; }
.p_tb_72 { padding: 72px; } 
.px_tb_72 { padding-left: 72px; padding-right: 72px; }
.py_tb_72 { padding-top: 72px; padding-bottom: 72px; }
.pt_tb_72 { padding-top: 72px; }
.pr_tb_72 { padding-right: 72px; }  
.pb_tb_72 { padding-bottom: 72px; }
.pl_tb_72 { padding-left: 72px; }
.p_tb_80 { padding: 80px; } 
.px_tb_80 { padding-left: 80px; padding-right: 80px; }
.py_tb_80 { padding-top: 80px; padding-bottom: 80px; }
.pt_tb_80 { padding-top: 80px; }
.pr_tb_80 { padding-right: 80px; }  
.pb_tb_80 { padding-bottom: 80px; }
.pl_tb_80 { padding-left: 80px; }
.p_tb_88 { padding: 88px; } 
.px_tb_88 { padding-left: 88px; padding-right: 88px; }
.py_tb_88 { padding-top: 88px; padding-bottom: 88px; }
.pt_tb_88 { padding-top: 88px; }
.pr_tb_88 { padding-right: 88px; }  
.pb_tb_88 { padding-bottom: 88px; }
.pl_tb_88 { padding-left: 88px; }
.p_tb_96 { padding: 96px; } 
.px_tb_96 { padding-left: 96px; padding-right: 96px; }
.py_tb_96 { padding-top: 96px; padding-bottom: 96px; }
.pt_tb_96 { padding-top: 96px; }
.pr_tb_96 { padding-right: 96px; }  
.pb_tb_96 { padding-bottom: 96px; }
.pl_tb_96 { padding-left: 96px; }
.p_tb_104 { padding: 104px; } 
.px_tb_104 { padding-left: 104px; padding-right: 104px; }
.py_tb_104 { padding-top: 104px; padding-bottom: 104px; }
.pt_tb_104 { padding-top: 104px; }
.pr_tb_104 { padding-right: 104px; }  
.pb_tb_104 { padding-bottom: 104px; }
.pl_tb_104 { padding-left: 104px; }
.p_tb_xs { padding: 8px; } 
.px_tb_xs { padding-left: 8px; padding-right: 8px; }
.py_tb_xs { padding-top: 8px; padding-bottom: 8px; }
.pt_tb_xs { padding-top: 8px; }
.pr_tb_xs { padding-right: 8px; }  
.pb_tb_xs { padding-bottom: 8px; }
.pl_tb_xs { padding-left: 8px; }
.p_tb_sm { padding: 16px; } 
.px_tb_sm { padding-left: 16px; padding-right: 16px; }
.py_tb_sm { padding-top: 16px; padding-bottom: 16px; }
.pt_tb_sm { padding-top: 16px; }
.pr_tb_sm { padding-right: 16px; }  
.pb_tb_sm { padding-bottom: 16px; }
.pl_tb_sm { padding-left: 16px; }
.p_tb_md { padding: 24px; } 
.px_tb_md { padding-left: 24px; padding-right: 24px; }
.py_tb_md { padding-top: 24px; padding-bottom: 24px; }
.pt_tb_md { padding-top: 24px; }
.pr_tb_md { padding-right: 24px; }  
.pb_tb_md { padding-bottom: 24px; }
.pl_tb_md { padding-left: 24px; }
.p_tb_lg { padding: 40px; } 
.px_tb_lg { padding-left: 40px; padding-right: 40px; }
.py_tb_lg { padding-top: 40px; padding-bottom: 40px; }
.pt_tb_lg { padding-top: 40px; }
.pr_tb_lg { padding-right: 40px; }  
.pb_tb_lg { padding-bottom: 40px; }
.pl_tb_lg { padding-left: 40px; }
.p_tb_xl { padding: 64px; } 
.px_tb_xl { padding-left: 64px; padding-right: 64px; }
.py_tb_xl { padding-top: 64px; padding-bottom: 64px; }
.pt_tb_xl { padding-top: 64px; }
.pr_tb_xl { padding-right: 64px; }  
.pb_tb_xl { padding-bottom: 64px; }
.pl_tb_xl { padding-left: 64px; }
.p_tb_xxl { padding: 104px; } 
.px_tb_xxl { padding-left: 104px; padding-right: 104px; }
.py_tb_xxl { padding-top: 104px; padding-bottom: 104px; }
.pt_tb_xxl { padding-top: 104px; }
.pr_tb_xxl { padding-right: 104px; }  
.pb_tb_xxl { padding-bottom: 104px; }
.pl_tb_xxl { padding-left: 104px; }
.p_tb_rem0 { padding: 0rem; } 
.px_tb_rem0 { padding-left: 0rem; padding-right: 0rem; }
.py_tb_rem0 { padding-top: 0rem; padding-bottom: 0rem; }
.pt_tb_rem0 { padding-top: 0rem; }
.pr_tb_rem0 { padding-right: 0rem; }  
.pb_tb_rem0 { padding-bottom: 0rem; }
.pl_tb_rem0 { padding-left: 0rem; }
.p_tb_rem2 { padding: 0.125rem; } 
.px_tb_rem2 { padding-left: 0.125rem; padding-right: 0.125rem; }
.py_tb_rem2 { padding-top: 0.125rem; padding-bottom: 0.125rem; }
.pt_tb_rem2 { padding-top: 0.125rem; }
.pr_tb_rem2 { padding-right: 0.125rem; }  
.pb_tb_rem2 { padding-bottom: 0.125rem; }
.pl_tb_rem2 { padding-left: 0.125rem; }
.p_tb_rem4 { padding: 0.25rem; } 
.px_tb_rem4 { padding-left: 0.25rem; padding-right: 0.25rem; }
.py_tb_rem4 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.pt_tb_rem4 { padding-top: 0.25rem; }
.pr_tb_rem4 { padding-right: 0.25rem; }  
.pb_tb_rem4 { padding-bottom: 0.25rem; }
.pl_tb_rem4 { padding-left: 0.25rem; }
.p_tb_rem8 { padding: 0.5rem; } 
.px_tb_rem8 { padding-left: 0.5rem; padding-right: 0.5rem; }
.py_tb_rem8 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.pt_tb_rem8 { padding-top: 0.5rem; }
.pr_tb_rem8 { padding-right: 0.5rem; }  
.pb_tb_rem8 { padding-bottom: 0.5rem; }
.pl_tb_rem8 { padding-left: 0.5rem; }
.p_tb_rem12 { padding: 0.75rem; } 
.px_tb_rem12 { padding-left: 0.75rem; padding-right: 0.75rem; }
.py_tb_rem12 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.pt_tb_rem12 { padding-top: 0.75rem; }
.pr_tb_rem12 { padding-right: 0.75rem; }  
.pb_tb_rem12 { padding-bottom: 0.75rem; }
.pl_tb_rem12 { padding-left: 0.75rem; }
.p_tb_rem16 { padding: 1rem; } 
.px_tb_rem16 { padding-left: 1rem; padding-right: 1rem; }
.py_tb_rem16 { padding-top: 1rem; padding-bottom: 1rem; }
.pt_tb_rem16 { padding-top: 1rem; }
.pr_tb_rem16 { padding-right: 1rem; }  
.pb_tb_rem16 { padding-bottom: 1rem; }
.pl_tb_rem16 { padding-left: 1rem; }
.p_tb_rem20 { padding: 1.25rem; } 
.px_tb_rem20 { padding-left: 1.25rem; padding-right: 1.25rem; }
.py_tb_rem20 { padding-top: 1.25rem; padding-bottom: 1.25rem; }
.pt_tb_rem20 { padding-top: 1.25rem; }
.pr_tb_rem20 { padding-right: 1.25rem; }  
.pb_tb_rem20 { padding-bottom: 1.25rem; }
.pl_tb_rem20 { padding-left: 1.25rem; }
.p_tb_rem24 { padding: 1.5rem; } 
.px_tb_rem24 { padding-left: 1.5rem; padding-right: 1.5rem; }
.py_tb_rem24 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.pt_tb_rem24 { padding-top: 1.5rem; }
.pr_tb_rem24 { padding-right: 1.5rem; }  
.pb_tb_rem24 { padding-bottom: 1.5rem; }
.pl_tb_rem24 { padding-left: 1.5rem; }
.p_tb_rem28 { padding: 1.75rem; } 
.px_tb_rem28 { padding-left: 1.75rem; padding-right: 1.75rem; }
.py_tb_rem28 { padding-top: 1.75rem; padding-bottom: 1.75rem; }
.pt_tb_rem28 { padding-top: 1.75rem; }
.pr_tb_rem28 { padding-right: 1.75rem; }  
.pb_tb_rem28 { padding-bottom: 1.75rem; }
.pl_tb_rem28 { padding-left: 1.75rem; }
.p_tb_rem32 { padding: 2rem; } 
.px_tb_rem32 { padding-left: 2rem; padding-right: 2rem; }
.py_tb_rem32 { padding-top: 2rem; padding-bottom: 2rem; }
.pt_tb_rem32 { padding-top: 2rem; }
.pr_tb_rem32 { padding-right: 2rem; }  
.pb_tb_rem32 { padding-bottom: 2rem; }
.pl_tb_rem32 { padding-left: 2rem; }
.p_tb_rem40 { padding: 2.5rem; } 
.px_tb_rem40 { padding-left: 2.5rem; padding-right: 2.5rem; }
.py_tb_rem40 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
.pt_tb_rem40 { padding-top: 2.5rem; }
.pr_tb_rem40 { padding-right: 2.5rem; }  
.pb_tb_rem40 { padding-bottom: 2.5rem; }
.pl_tb_rem40 { padding-left: 2.5rem; }
.p_tb_rem48 { padding: 3rem; } 
.px_tb_rem48 { padding-left: 3rem; padding-right: 3rem; }
.py_tb_rem48 { padding-top: 3rem; padding-bottom: 3rem; }
.pt_tb_rem48 { padding-top: 3rem; }
.pr_tb_rem48 { padding-right: 3rem; }  
.pb_tb_rem48 { padding-bottom: 3rem; }
.pl_tb_rem48 { padding-left: 3rem; }
.p_tb_rem56 { padding: 3.5rem; } 
.px_tb_rem56 { padding-left: 3.5rem; padding-right: 3.5rem; }
.py_tb_rem56 { padding-top: 3.5rem; padding-bottom: 3.5rem; }
.pt_tb_rem56 { padding-top: 3.5rem; }
.pr_tb_rem56 { padding-right: 3.5rem; }  
.pb_tb_rem56 { padding-bottom: 3.5rem; }
.pl_tb_rem56 { padding-left: 3.5rem; }
.p_tb_rem64 { padding: 4rem; } 
.px_tb_rem64 { padding-left: 4rem; padding-right: 4rem; }
.py_tb_rem64 { padding-top: 4rem; padding-bottom: 4rem; }
.pt_tb_rem64 { padding-top: 4rem; }
.pr_tb_rem64 { padding-right: 4rem; }  
.pb_tb_rem64 { padding-bottom: 4rem; }
.pl_tb_rem64 { padding-left: 4rem; }
.p_tb_rem72 { padding: 4.5rem; } 
.px_tb_rem72 { padding-left: 4.5rem; padding-right: 4.5rem; }
.py_tb_rem72 { padding-top: 4.5rem; padding-bottom: 4.5rem; }
.pt_tb_rem72 { padding-top: 4.5rem; }
.pr_tb_rem72 { padding-right: 4.5rem; }  
.pb_tb_rem72 { padding-bottom: 4.5rem; }
.pl_tb_rem72 { padding-left: 4.5rem; }
.p_tb_rem80 { padding: 5rem; } 
.px_tb_rem80 { padding-left: 5rem; padding-right: 5rem; }
.py_tb_rem80 { padding-top: 5rem; padding-bottom: 5rem; }
.pt_tb_rem80 { padding-top: 5rem; }
.pr_tb_rem80 { padding-right: 5rem; }  
.pb_tb_rem80 { padding-bottom: 5rem; }
.pl_tb_rem80 { padding-left: 5rem; }
.p_tb_rem88 { padding: 5.5rem; } 
.px_tb_rem88 { padding-left: 5.5rem; padding-right: 5.5rem; }
.py_tb_rem88 { padding-top: 5.5rem; padding-bottom: 5.5rem; }
.pt_tb_rem88 { padding-top: 5.5rem; }
.pr_tb_rem88 { padding-right: 5.5rem; }  
.pb_tb_rem88 { padding-bottom: 5.5rem; }
.pl_tb_rem88 { padding-left: 5.5rem; }
.p_tb_rem96 { padding: 6rem; } 
.px_tb_rem96 { padding-left: 6rem; padding-right: 6rem; }
.py_tb_rem96 { padding-top: 6rem; padding-bottom: 6rem; }
.pt_tb_rem96 { padding-top: 6rem; }
.pr_tb_rem96 { padding-right: 6rem; }  
.pb_tb_rem96 { padding-bottom: 6rem; }
.pl_tb_rem96 { padding-left: 6rem; }
.p_tb_rem104 { padding: 6.5rem; } 
.px_tb_rem104 { padding-left: 6.5rem; padding-right: 6.5rem; }
.py_tb_rem104 { padding-top: 6.5rem; padding-bottom: 6.5rem; }
.pt_tb_rem104 { padding-top: 6.5rem; }
.pr_tb_rem104 { padding-right: 6.5rem; }  
.pb_tb_rem104 { padding-bottom: 6.5rem; }
.pl_tb_rem104 { padding-left: 6.5rem; }

  }

  @media screen and (width >= 993px) {

  .p_pc_0 { padding: 0px; } 
.px_pc_0 { padding-left: 0px; padding-right: 0px; }
.py_pc_0 { padding-top: 0px; padding-bottom: 0px; }
.pt_pc_0 { padding-top: 0px; }
.pr_pc_0 { padding-right: 0px; }  
.pb_pc_0 { padding-bottom: 0px; }
.pl_pc_0 { padding-left: 0px; }
.p_pc_2 { padding: 2px; } 
.px_pc_2 { padding-left: 2px; padding-right: 2px; }
.py_pc_2 { padding-top: 2px; padding-bottom: 2px; }
.pt_pc_2 { padding-top: 2px; }
.pr_pc_2 { padding-right: 2px; }  
.pb_pc_2 { padding-bottom: 2px; }
.pl_pc_2 { padding-left: 2px; }
.p_pc_4 { padding: 4px; } 
.px_pc_4 { padding-left: 4px; padding-right: 4px; }
.py_pc_4 { padding-top: 4px; padding-bottom: 4px; }
.pt_pc_4 { padding-top: 4px; }
.pr_pc_4 { padding-right: 4px; }  
.pb_pc_4 { padding-bottom: 4px; }
.pl_pc_4 { padding-left: 4px; }
.p_pc_8 { padding: 8px; } 
.px_pc_8 { padding-left: 8px; padding-right: 8px; }
.py_pc_8 { padding-top: 8px; padding-bottom: 8px; }
.pt_pc_8 { padding-top: 8px; }
.pr_pc_8 { padding-right: 8px; }  
.pb_pc_8 { padding-bottom: 8px; }
.pl_pc_8 { padding-left: 8px; }
.p_pc_12 { padding: 12px; } 
.px_pc_12 { padding-left: 12px; padding-right: 12px; }
.py_pc_12 { padding-top: 12px; padding-bottom: 12px; }
.pt_pc_12 { padding-top: 12px; }
.pr_pc_12 { padding-right: 12px; }  
.pb_pc_12 { padding-bottom: 12px; }
.pl_pc_12 { padding-left: 12px; }
.p_pc_16 { padding: 16px; } 
.px_pc_16 { padding-left: 16px; padding-right: 16px; }
.py_pc_16 { padding-top: 16px; padding-bottom: 16px; }
.pt_pc_16 { padding-top: 16px; }
.pr_pc_16 { padding-right: 16px; }  
.pb_pc_16 { padding-bottom: 16px; }
.pl_pc_16 { padding-left: 16px; }
.p_pc_20 { padding: 20px; } 
.px_pc_20 { padding-left: 20px; padding-right: 20px; }
.py_pc_20 { padding-top: 20px; padding-bottom: 20px; }
.pt_pc_20 { padding-top: 20px; }
.pr_pc_20 { padding-right: 20px; }  
.pb_pc_20 { padding-bottom: 20px; }
.pl_pc_20 { padding-left: 20px; }
.p_pc_24 { padding: 24px; } 
.px_pc_24 { padding-left: 24px; padding-right: 24px; }
.py_pc_24 { padding-top: 24px; padding-bottom: 24px; }
.pt_pc_24 { padding-top: 24px; }
.pr_pc_24 { padding-right: 24px; }  
.pb_pc_24 { padding-bottom: 24px; }
.pl_pc_24 { padding-left: 24px; }
.p_pc_32 { padding: 32px; } 
.px_pc_32 { padding-left: 32px; padding-right: 32px; }
.py_pc_32 { padding-top: 32px; padding-bottom: 32px; }
.pt_pc_32 { padding-top: 32px; }
.pr_pc_32 { padding-right: 32px; }  
.pb_pc_32 { padding-bottom: 32px; }
.pl_pc_32 { padding-left: 32px; }
.p_pc_40 { padding: 40px; } 
.px_pc_40 { padding-left: 40px; padding-right: 40px; }
.py_pc_40 { padding-top: 40px; padding-bottom: 40px; }
.pt_pc_40 { padding-top: 40px; }
.pr_pc_40 { padding-right: 40px; }  
.pb_pc_40 { padding-bottom: 40px; }
.pl_pc_40 { padding-left: 40px; }
.p_pc_48 { padding: 48px; } 
.px_pc_48 { padding-left: 48px; padding-right: 48px; }
.py_pc_48 { padding-top: 48px; padding-bottom: 48px; }
.pt_pc_48 { padding-top: 48px; }
.pr_pc_48 { padding-right: 48px; }  
.pb_pc_48 { padding-bottom: 48px; }
.pl_pc_48 { padding-left: 48px; }
.p_pc_56 { padding: 56px; } 
.px_pc_56 { padding-left: 56px; padding-right: 56px; }
.py_pc_56 { padding-top: 56px; padding-bottom: 56px; }
.pt_pc_56 { padding-top: 56px; }
.pr_pc_56 { padding-right: 56px; }  
.pb_pc_56 { padding-bottom: 56px; }
.pl_pc_56 { padding-left: 56px; }
.p_pc_64 { padding: 64px; } 
.px_pc_64 { padding-left: 64px; padding-right: 64px; }
.py_pc_64 { padding-top: 64px; padding-bottom: 64px; }
.pt_pc_64 { padding-top: 64px; }
.pr_pc_64 { padding-right: 64px; }  
.pb_pc_64 { padding-bottom: 64px; }
.pl_pc_64 { padding-left: 64px; }
.p_pc_72 { padding: 72px; } 
.px_pc_72 { padding-left: 72px; padding-right: 72px; }
.py_pc_72 { padding-top: 72px; padding-bottom: 72px; }
.pt_pc_72 { padding-top: 72px; }
.pr_pc_72 { padding-right: 72px; }  
.pb_pc_72 { padding-bottom: 72px; }
.pl_pc_72 { padding-left: 72px; }
.p_pc_80 { padding: 80px; } 
.px_pc_80 { padding-left: 80px; padding-right: 80px; }
.py_pc_80 { padding-top: 80px; padding-bottom: 80px; }
.pt_pc_80 { padding-top: 80px; }
.pr_pc_80 { padding-right: 80px; }  
.pb_pc_80 { padding-bottom: 80px; }
.pl_pc_80 { padding-left: 80px; }
.p_pc_88 { padding: 88px; } 
.px_pc_88 { padding-left: 88px; padding-right: 88px; }
.py_pc_88 { padding-top: 88px; padding-bottom: 88px; }
.pt_pc_88 { padding-top: 88px; }
.pr_pc_88 { padding-right: 88px; }  
.pb_pc_88 { padding-bottom: 88px; }
.pl_pc_88 { padding-left: 88px; }
.p_pc_96 { padding: 96px; } 
.px_pc_96 { padding-left: 96px; padding-right: 96px; }
.py_pc_96 { padding-top: 96px; padding-bottom: 96px; }
.pt_pc_96 { padding-top: 96px; }
.pr_pc_96 { padding-right: 96px; }  
.pb_pc_96 { padding-bottom: 96px; }
.pl_pc_96 { padding-left: 96px; }
.p_pc_104 { padding: 104px; } 
.px_pc_104 { padding-left: 104px; padding-right: 104px; }
.py_pc_104 { padding-top: 104px; padding-bottom: 104px; }
.pt_pc_104 { padding-top: 104px; }
.pr_pc_104 { padding-right: 104px; }  
.pb_pc_104 { padding-bottom: 104px; }
.pl_pc_104 { padding-left: 104px; }
.p_pc_xs { padding: 8px; } 
.px_pc_xs { padding-left: 8px; padding-right: 8px; }
.py_pc_xs { padding-top: 8px; padding-bottom: 8px; }
.pt_pc_xs { padding-top: 8px; }
.pr_pc_xs { padding-right: 8px; }  
.pb_pc_xs { padding-bottom: 8px; }
.pl_pc_xs { padding-left: 8px; }
.p_pc_sm { padding: 16px; } 
.px_pc_sm { padding-left: 16px; padding-right: 16px; }
.py_pc_sm { padding-top: 16px; padding-bottom: 16px; }
.pt_pc_sm { padding-top: 16px; }
.pr_pc_sm { padding-right: 16px; }  
.pb_pc_sm { padding-bottom: 16px; }
.pl_pc_sm { padding-left: 16px; }
.p_pc_md { padding: 24px; } 
.px_pc_md { padding-left: 24px; padding-right: 24px; }
.py_pc_md { padding-top: 24px; padding-bottom: 24px; }
.pt_pc_md { padding-top: 24px; }
.pr_pc_md { padding-right: 24px; }  
.pb_pc_md { padding-bottom: 24px; }
.pl_pc_md { padding-left: 24px; }
.p_pc_lg { padding: 40px; } 
.px_pc_lg { padding-left: 40px; padding-right: 40px; }
.py_pc_lg { padding-top: 40px; padding-bottom: 40px; }
.pt_pc_lg { padding-top: 40px; }
.pr_pc_lg { padding-right: 40px; }  
.pb_pc_lg { padding-bottom: 40px; }
.pl_pc_lg { padding-left: 40px; }
.p_pc_xl { padding: 64px; } 
.px_pc_xl { padding-left: 64px; padding-right: 64px; }
.py_pc_xl { padding-top: 64px; padding-bottom: 64px; }
.pt_pc_xl { padding-top: 64px; }
.pr_pc_xl { padding-right: 64px; }  
.pb_pc_xl { padding-bottom: 64px; }
.pl_pc_xl { padding-left: 64px; }
.p_pc_xxl { padding: 104px; } 
.px_pc_xxl { padding-left: 104px; padding-right: 104px; }
.py_pc_xxl { padding-top: 104px; padding-bottom: 104px; }
.pt_pc_xxl { padding-top: 104px; }
.pr_pc_xxl { padding-right: 104px; }  
.pb_pc_xxl { padding-bottom: 104px; }
.pl_pc_xxl { padding-left: 104px; }
.p_pc_rem0 { padding: 0rem; } 
.px_pc_rem0 { padding-left: 0rem; padding-right: 0rem; }
.py_pc_rem0 { padding-top: 0rem; padding-bottom: 0rem; }
.pt_pc_rem0 { padding-top: 0rem; }
.pr_pc_rem0 { padding-right: 0rem; }  
.pb_pc_rem0 { padding-bottom: 0rem; }
.pl_pc_rem0 { padding-left: 0rem; }
.p_pc_rem2 { padding: 0.125rem; } 
.px_pc_rem2 { padding-left: 0.125rem; padding-right: 0.125rem; }
.py_pc_rem2 { padding-top: 0.125rem; padding-bottom: 0.125rem; }
.pt_pc_rem2 { padding-top: 0.125rem; }
.pr_pc_rem2 { padding-right: 0.125rem; }  
.pb_pc_rem2 { padding-bottom: 0.125rem; }
.pl_pc_rem2 { padding-left: 0.125rem; }
.p_pc_rem4 { padding: 0.25rem; } 
.px_pc_rem4 { padding-left: 0.25rem; padding-right: 0.25rem; }
.py_pc_rem4 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.pt_pc_rem4 { padding-top: 0.25rem; }
.pr_pc_rem4 { padding-right: 0.25rem; }  
.pb_pc_rem4 { padding-bottom: 0.25rem; }
.pl_pc_rem4 { padding-left: 0.25rem; }
.p_pc_rem8 { padding: 0.5rem; } 
.px_pc_rem8 { padding-left: 0.5rem; padding-right: 0.5rem; }
.py_pc_rem8 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.pt_pc_rem8 { padding-top: 0.5rem; }
.pr_pc_rem8 { padding-right: 0.5rem; }  
.pb_pc_rem8 { padding-bottom: 0.5rem; }
.pl_pc_rem8 { padding-left: 0.5rem; }
.p_pc_rem12 { padding: 0.75rem; } 
.px_pc_rem12 { padding-left: 0.75rem; padding-right: 0.75rem; }
.py_pc_rem12 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.pt_pc_rem12 { padding-top: 0.75rem; }
.pr_pc_rem12 { padding-right: 0.75rem; }  
.pb_pc_rem12 { padding-bottom: 0.75rem; }
.pl_pc_rem12 { padding-left: 0.75rem; }
.p_pc_rem16 { padding: 1rem; } 
.px_pc_rem16 { padding-left: 1rem; padding-right: 1rem; }
.py_pc_rem16 { padding-top: 1rem; padding-bottom: 1rem; }
.pt_pc_rem16 { padding-top: 1rem; }
.pr_pc_rem16 { padding-right: 1rem; }  
.pb_pc_rem16 { padding-bottom: 1rem; }
.pl_pc_rem16 { padding-left: 1rem; }
.p_pc_rem20 { padding: 1.25rem; } 
.px_pc_rem20 { padding-left: 1.25rem; padding-right: 1.25rem; }
.py_pc_rem20 { padding-top: 1.25rem; padding-bottom: 1.25rem; }
.pt_pc_rem20 { padding-top: 1.25rem; }
.pr_pc_rem20 { padding-right: 1.25rem; }  
.pb_pc_rem20 { padding-bottom: 1.25rem; }
.pl_pc_rem20 { padding-left: 1.25rem; }
.p_pc_rem24 { padding: 1.5rem; } 
.px_pc_rem24 { padding-left: 1.5rem; padding-right: 1.5rem; }
.py_pc_rem24 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.pt_pc_rem24 { padding-top: 1.5rem; }
.pr_pc_rem24 { padding-right: 1.5rem; }  
.pb_pc_rem24 { padding-bottom: 1.5rem; }
.pl_pc_rem24 { padding-left: 1.5rem; }
.p_pc_rem28 { padding: 1.75rem; } 
.px_pc_rem28 { padding-left: 1.75rem; padding-right: 1.75rem; }
.py_pc_rem28 { padding-top: 1.75rem; padding-bottom: 1.75rem; }
.pt_pc_rem28 { padding-top: 1.75rem; }
.pr_pc_rem28 { padding-right: 1.75rem; }  
.pb_pc_rem28 { padding-bottom: 1.75rem; }
.pl_pc_rem28 { padding-left: 1.75rem; }
.p_pc_rem32 { padding: 2rem; } 
.px_pc_rem32 { padding-left: 2rem; padding-right: 2rem; }
.py_pc_rem32 { padding-top: 2rem; padding-bottom: 2rem; }
.pt_pc_rem32 { padding-top: 2rem; }
.pr_pc_rem32 { padding-right: 2rem; }  
.pb_pc_rem32 { padding-bottom: 2rem; }
.pl_pc_rem32 { padding-left: 2rem; }
.p_pc_rem40 { padding: 2.5rem; } 
.px_pc_rem40 { padding-left: 2.5rem; padding-right: 2.5rem; }
.py_pc_rem40 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
.pt_pc_rem40 { padding-top: 2.5rem; }
.pr_pc_rem40 { padding-right: 2.5rem; }  
.pb_pc_rem40 { padding-bottom: 2.5rem; }
.pl_pc_rem40 { padding-left: 2.5rem; }
.p_pc_rem48 { padding: 3rem; } 
.px_pc_rem48 { padding-left: 3rem; padding-right: 3rem; }
.py_pc_rem48 { padding-top: 3rem; padding-bottom: 3rem; }
.pt_pc_rem48 { padding-top: 3rem; }
.pr_pc_rem48 { padding-right: 3rem; }  
.pb_pc_rem48 { padding-bottom: 3rem; }
.pl_pc_rem48 { padding-left: 3rem; }
.p_pc_rem56 { padding: 3.5rem; } 
.px_pc_rem56 { padding-left: 3.5rem; padding-right: 3.5rem; }
.py_pc_rem56 { padding-top: 3.5rem; padding-bottom: 3.5rem; }
.pt_pc_rem56 { padding-top: 3.5rem; }
.pr_pc_rem56 { padding-right: 3.5rem; }  
.pb_pc_rem56 { padding-bottom: 3.5rem; }
.pl_pc_rem56 { padding-left: 3.5rem; }
.p_pc_rem64 { padding: 4rem; } 
.px_pc_rem64 { padding-left: 4rem; padding-right: 4rem; }
.py_pc_rem64 { padding-top: 4rem; padding-bottom: 4rem; }
.pt_pc_rem64 { padding-top: 4rem; }
.pr_pc_rem64 { padding-right: 4rem; }  
.pb_pc_rem64 { padding-bottom: 4rem; }
.pl_pc_rem64 { padding-left: 4rem; }
.p_pc_rem72 { padding: 4.5rem; } 
.px_pc_rem72 { padding-left: 4.5rem; padding-right: 4.5rem; }
.py_pc_rem72 { padding-top: 4.5rem; padding-bottom: 4.5rem; }
.pt_pc_rem72 { padding-top: 4.5rem; }
.pr_pc_rem72 { padding-right: 4.5rem; }  
.pb_pc_rem72 { padding-bottom: 4.5rem; }
.pl_pc_rem72 { padding-left: 4.5rem; }
.p_pc_rem80 { padding: 5rem; } 
.px_pc_rem80 { padding-left: 5rem; padding-right: 5rem; }
.py_pc_rem80 { padding-top: 5rem; padding-bottom: 5rem; }
.pt_pc_rem80 { padding-top: 5rem; }
.pr_pc_rem80 { padding-right: 5rem; }  
.pb_pc_rem80 { padding-bottom: 5rem; }
.pl_pc_rem80 { padding-left: 5rem; }
.p_pc_rem88 { padding: 5.5rem; } 
.px_pc_rem88 { padding-left: 5.5rem; padding-right: 5.5rem; }
.py_pc_rem88 { padding-top: 5.5rem; padding-bottom: 5.5rem; }
.pt_pc_rem88 { padding-top: 5.5rem; }
.pr_pc_rem88 { padding-right: 5.5rem; }  
.pb_pc_rem88 { padding-bottom: 5.5rem; }
.pl_pc_rem88 { padding-left: 5.5rem; }
.p_pc_rem96 { padding: 6rem; } 
.px_pc_rem96 { padding-left: 6rem; padding-right: 6rem; }
.py_pc_rem96 { padding-top: 6rem; padding-bottom: 6rem; }
.pt_pc_rem96 { padding-top: 6rem; }
.pr_pc_rem96 { padding-right: 6rem; }  
.pb_pc_rem96 { padding-bottom: 6rem; }
.pl_pc_rem96 { padding-left: 6rem; }
.p_pc_rem104 { padding: 6.5rem; } 
.px_pc_rem104 { padding-left: 6.5rem; padding-right: 6.5rem; }
.py_pc_rem104 { padding-top: 6.5rem; padding-bottom: 6.5rem; }
.pt_pc_rem104 { padding-top: 6.5rem; }
.pr_pc_rem104 { padding-right: 6.5rem; }  
.pb_pc_rem104 { padding-bottom: 6.5rem; }
.pl_pc_rem104 { padding-left: 6.5rem; }

  }
  