:root {
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: transparent;
  --color-brand50: ;
  --color-brand100: ;
  --color-brand200: ;
  --color-brand300: ;
  --color-brand400: ;
  --color-brand500: ;
  --color-brand600: ;
  --color-brand700: ;
  --color-brand800: ;
  --color-brand900: ;
  --color-brand1000: ;
  --color-brand1100: ;
  --color-brand1200: ;
  --color-grey50: #f2f2f2;
  --color-grey100: #e6e6e6;
  --color-grey200: #ccc;
  --color-grey300: #b3b3b3;
  --color-grey400: #999;
  --color-grey417: #959595;
  --color-grey500: #7f7f7f;
  --color-grey536: #767676;
  --color-grey600: #666;
  --color-grey700: #4d4d4d;
  --color-grey800: #333;
  --color-grey900: #1a1a1a;
  --color-opacity-grey0: rgb(0 0 0 / 0%);
  --color-opacity-grey50: rgb(0 0 0 / 5%);
  --color-opacity-grey100: rgb(0 0 0 / 10%);
  --color-opacity-grey200: rgb(0 0 0 / 20%);
  --color-opacity-grey300: rgb(0 0 0 / 30%);
  --color-opacity-grey400: rgb(0 0 0 / 40%);
  --color-opacity-grey417: rgb(0 0 0 / 41.7%);
  --color-opacity-grey500: rgb(0 0 0 / 50%);
  --color-opacity-grey536: rgb(0 0 0 / 53.6%);
  --color-opacity-grey600: rgb(0 0 0 / 60%);
  --color-opacity-grey700: rgb(0 0 0 / 70%);
  --color-opacity-grey800: rgb(0 0 0 / 80%);
  --color-opacity-grey900: rgb(0 0 0 / 90%);
  --color-blue50: #e8f1fe;
  --color-blue100: #d9e6ff;
  --color-blue200: #c5d7fb;
  --color-blue300: #9db7f9;
  --color-blue400: #7096f8;
  --color-blue500: #4979f5;
  --color-blue600: #3460fb;
  --color-blue700: #264af4;
  --color-blue800: #0031d8;
  --color-blue900: #0017c1;
  --color-blue1000: #00118f;
  --color-blue1100: #000071;
  --color-blue1200: #000060;
  --color-light-blue50: #f0f9ff;
  --color-light-blue100: #dcf0ff;
  --color-light-blue200: #c0e4ff;
  --color-light-blue300: #97d3ff;
  --color-light-blue400: #57b8ff;
  --color-light-blue500: #39abff;
  --color-light-blue600: #008bf2;
  --color-light-blue700: #0877d7;
  --color-light-blue800: #0066be;
  --color-light-blue900: #0055ad;
  --color-light-blue1000: #00428c;
  --color-light-blue1100: #00316a;
  --color-light-blue1200: #00234b;
  --color-cyan50: #e6fcff;
  --color-cyan100: #c8f8ff;
  --color-cyan200: #99f2ff;
  --color-cyan300: #79e2f2;
  --color-cyan400: #2bc8e4;
  --color-cyan500: #01b7d6;
  --color-cyan600: #00a3bf;
  --color-cyan700: #008da6;
  --color-cyan800: #008299;
  --color-cyan900: #006f83;
  --color-cyan1000: #006173;
  --color-cyan1100: #004c59;
  --color-cyan1200: #003741;
  --color-green50: #e6f5ec;
  --color-green100: #c2e5d1;
  --color-green200: #9bd4b5;
  --color-green300: #71c598;
  --color-green400: #51b883;
  --color-green500: #2cac6e;
  --color-green600: #259d63;
  --color-green700: #1d8b56;
  --color-green800: #197a4b;
  --color-green900: #115a36;
  --color-green1000: #0c472a;
  --color-green1100: #08351f;
  --color-green1200: #032213;
  --color-lime50: #ebfad9;
  --color-lime100: #d0f5a2;
  --color-lime200: #c0f354;
  --color-lime300: #ade830;
  --color-lime400: #9ddd15;
  --color-lime500: #8cc80c;
  --color-lime600: #7eb40d;
  --color-lime700: #6fa104;
  --color-lime800: #618e00;
  --color-lime900: #507500;
  --color-lime1000: #3e5a00;
  --color-lime1100: #2c4100;
  --color-lime1200: #1e2d00;
  --color-yellow50: #fbf5e0;
  --color-yellow100: #fff0b3;
  --color-yellow200: #ffe380;
  --color-yellow300: #ffd43d;
  --color-yellow400: #ffc700;
  --color-yellow500: #ebb700;
  --color-yellow600: #d2a400;
  --color-yellow700: #b78f00;
  --color-yellow800: #a58000;
  --color-yellow900: #927200;
  --color-yellow1000: #806300;
  --color-yellow1100: #6e5600;
  --color-yellow1200: #604b00;
  --color-orange50: #ffeee2;
  --color-orange100: #ffdfca;
  --color-orange200: #ffc199;
  --color-orange300: #ffa66d;
  --color-orange400: #ff8d44;
  --color-orange500: #ff7628;
  --color-orange600: #fb5b01;
  --color-orange700: #e25100;
  --color-orange800: #c74700;
  --color-orange900: #ac3e00;
  --color-orange1000: #8b3200;
  --color-orange1100: #6d2700;
  --color-orange1200: #541e00;
  --color-red50: #fdeeee;
  --color-red100: #ffdada;
  --color-red200: #fbb;
  --color-red300: #ff9696;
  --color-red400: #ff7171;
  --color-red500: #ff5454;
  --color-red600: #fe3939;
  --color-red700: #fa0000;
  --color-red800: #ec0000;
  --color-red900: #ce0000;
  --color-red1000: #a90000;
  --color-red1100: #850000;
  --color-red1200: #620000;
  --color-magenta50: #f3e5f4;
  --color-magenta100: #ffd0ff;
  --color-magenta200: #ffaeff;
  --color-magenta300: #ff8eff;
  --color-magenta400: #f661f6;
  --color-magenta500: #f137f1;
  --color-magenta600: #db00db;
  --color-magenta700: #c000c0;
  --color-magenta800: #a0a;
  --color-magenta900: #8b008b;
  --color-magenta1000: #6c006c;
  --color-magenta1100: #500050;
  --color-magenta1200: #3b003b;
  --color-purple50: #f1eafa;
  --color-purple100: #ecddff;
  --color-purple200: #ddc2ff;
  --color-purple300: #cda6ff;
  --color-purple400: #bb87ff;
  --color-purple500: #a565f8;
  --color-purple600: #8843e1;
  --color-purple700: #6f23d0;
  --color-purple800: #5c10be;
  --color-purple900: #5109ad;
  --color-purple1000: #41048e;
  --color-purple1100: #30016c;
  --color-purple1200: #21004b;
  --color-background-primary: #fff;
  --color-background-secondary: #e6e6e6;
  --color-background-tertiary: #f2f2f2;
  --color-background-primary-dark: #1a1a1a;
  --color-background-secondary-dark: #4d4d4d;
  --color-background-tertiary-dark: #333;
  --color-text-base: #1a1a1a;
  --color-text-description: #4d4d4d;
  --color-text-place-holder: #666;
  --color-text-on-fill: #fff;
  --color-text-link: #0031d8;
  --color-text-hover: #0017c1;
  --color-text-active: #0017c1;
  --color-text-visited: #0017c1;
  --color-text-disabled: #7f7f7f;
  --color-text-base-dark: #fff;
  --color-text-description-dark: #999;
  --color-text-place-holder-dark: #7f7f7f;
  --color-text-link-dark: #4979f5;
  --color-text-hover-dark: #9db7f9;
  --color-text-active-dark: #9db7f9;
  --color-text-visited-dark: #9db7f9;
  --color-text-disabled-dark: #666;
  --color-status-information: #0877d7;
  --color-status-information-contrast: #fff;
  --color-status-success: #197a4b;
  --color-status-success-contrast: #fff;
  --color-status-alert: #ec0000;
  --color-status-alert-contrast: #fff;
  --color-status-warning: #c74700;
  --color-status-warning-contrast: #fff;
  --color-status-information-dark: #39abff;
  --color-status-success-dark: #1d8b56;
  --color-status-alert-dark: #fe3939;
  --color-status-warning-dark: #fb5b01;
  --color-icon-label: #1a1a1a;
  --color-icon-active: #0031d8;
  --color-icon-alert: #ec0000;
  --color-icon-disabled: #7f7f7f;
  --color-icon-label-dark: #fff;
  --color-icon-active-dark: #4979f5;
  --color-icon-alert-dark: #fe3939;
  --color-icon-disabled-dark: #666;
  --color-button-primary-normal: #0031d8;
  --color-button-primary-hover: #0017c1;
  --color-button-primary-active: #000071;
  --color-button-primary-contrast: #fff;
  --color-button-secondary-normal: #fff;
  --color-button-secondary-hover: #d9e6ff;
  --color-button-secondary-active: #c5d7fb;
  --color-button-secondary-contrast: #0031d8;
  --color-button-tertiary-normal: #fff;
  --color-button-tertiary-hover: #d9e6ff;
  --color-button-tertiary-active: #c5d7fb;
  --color-button-tertiary-contrast: #0031d8;
  --color-button-disabled: #7f7f7f;
  --color-button-disabled-contrast: #b3b3b3;
  --color-button-disabled-dark: #666;
  --color-chart-primary: #0031d8;
  --color-chart-primary-light: #7096f8;
  --color-chart-secondary: #c5d7fb;
  --color-chart-secondary-dark: #4979f5;
  --size0: 0px;
  --size2: 2px;
  --size4: 4px;
  --size8: 8px;
  --size12: 12px;
  --size16: 16px;
  --size20: 20px;
  --size24: 24px;
  --size32: 32px;
  --size40: 40px;
  --size48: 48px;
  --size56: 56px;
  --size64: 64px;
  --size72: 72px;
  --size80: 80px;
  --size88: 88px;
  --size96: 96px;
  --size104: 104px;
  --size-rem0: 0rem;
  --size-rem2: 0.125rem;
  --size-rem4: 0.25rem;
  --size-rem8: 0.5rem;
  --size-rem12: 0.75rem;
  --size-rem16: 1rem;
  --size-rem20: 1.25rem;
  --size-rem24: 1.5rem;
  --size-rem28: 1.75rem;
  --size-rem32: 2rem;
  --size-rem40: 2.5rem;
  --size-rem48: 3rem;
  --size-rem56: 3.5rem;
  --size-rem64: 4rem;
  --size-rem72: 4.5rem;
  --size-rem80: 5rem;
  --size-rem88: 5.5rem;
  --size-rem96: 6rem;
  --size-rem104: 6.5rem;
  --size-space-xs: 8px;
  --size-space-sm: 16px;
  --size-space-md: 24px;
  --size-space-lg: 40px;
  --size-space-xl: 64px;
  --size-space-xxl: 104px;
  --size-radius-xs: 2px;
  --size-radius-sm: 4px;
  --size-radius-md: 8px;
  --size-radius-lg: 12px;
  --size-radius-xl: 16px;
  --size-radius-xxl: 32px;
  --size-radius-full: 50%;
  --font-family: "Noto Sans JP", sans-serif;
  --font-size12: 0.75rem;
  --font-size14: 0.875rem;
  --font-size16: 1rem;
  --font-size17: 1.0625rem;
  --font-size18: 1.125rem;
  --font-size20: 1.25rem;
  --font-size22: 1.375rem;
  --font-size24: 1.5rem;
  --font-size26: 1.625rem;
  --font-size28: 1.75rem;
  --font-size32: 2rem;
  --font-size36: 2.25rem;
  --font-size44: 2.75rem;
  --font-size48: 3rem;
  --font-size56: 3.5rem;
  --font-size64: 4rem;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.05em;
  --letter-spacing-wider: 0.1em;
  --letter-spacing-widest: 0.2em;
  --line-height100: 1;
  --line-height120: 1.2;
  --line-height130: 1.3;
  --line-height140: 1.4;
  --line-height150: 1.5;
  --line-height160: 1.6;
  --line-height170: 1.7;
  --line-height175: 1.75;
  --font-h1-l: normal bold 64px/1.2 "Noto Sans JP", sans-serif;
  --font-h1-m: normal bold 48px/1.3 "Noto Sans JP", sans-serif;
  --font-h2-l: normal bold 44px/1.3 "Noto Sans JP", sans-serif;
  --font-h2-m: normal bold 36px/1.4 "Noto Sans JP", sans-serif;
  --font-h3-l: normal bold 32px/1.4 "Noto Sans JP", sans-serif;
  --font-h3-m: normal bold 28px/1.5 "Noto Sans JP", sans-serif;
  --font-h4-l: normal bold 24px/1.5 "Noto Sans JP", sans-serif;
  --font-h4-m: normal bold 22px/1.6 "Noto Sans JP", sans-serif;
  --font-h5-l: normal bold 20px/1.6 "Noto Sans JP", sans-serif;
  --font-h5-m: normal bold 18px/1.7 "Noto Sans JP", sans-serif;
  --font-h6-l: normal bold 16px/1.7 "Noto Sans JP", sans-serif;
  --font-h6-m: normal bold 14px/1.7 "Noto Sans JP", sans-serif;
  --font-text-l: normal 16px/1.7 "Noto Sans JP", sans-serif;
  --font-text-m: normal 14px/1.7 "Noto Sans JP", sans-serif;
  --font-label-l: normal 14px/1.5 "Noto Sans JP", sans-serif;
  --font-label-m: normal 12px/1.5 "Noto Sans JP", sans-serif;
  --font-supplement-l: normal 12px/1.7 "Noto Sans JP", sans-serif;
  --font-supplement-m: normal 10px/1.7 "Noto Sans JP", sans-serif;
  --font-button-m: normal bold 16px/1.5 "Noto Sans JP", sans-serif;
  --font-button-s: normal bold 14px/1.5 "Noto Sans JP", sans-serif;
  --border-field: #1a1a1a 1px solid;
  --border-field-bold: #1a1a1a 2px solid;
  --border-divider: #959595 1px solid;
  --border-focused: #b78f00 2px solid;
  --border-selected: #0031d8 2px solid;
  --border-border-alert: #ec0000 2px solid;
  --border-disabled: #7f7f7f 1px solid;
  --border-disabled-bold: #7f7f7f 2px solid;
  --border-field-dark: #fff 1px solid;
  --border-field-dark-bold: #fff 2px solid;
  --border-divider-dark: #767676 1px solid;
  --border-focused-dark: #ebb700 2px solid;
  --border-selected-dark: #4979f5 2px solid;
  --border-alert-dark: #fe3939 2px solid;
  --border-disabled-dark: #666 1px solid;
  --border-disabled-dark-bold: #666 2px solid;
  --border-button-secondary-normal: #0031d8 1px solid;
  --height-min-button: 44px;
  --elevation1: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  --elevation2: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  --elevation3: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
  --elevation4: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  --elevation5: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
  --elevation6: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
  --elevation7: rgb(0 0 0 / 20%) 0px 7px 8px -4px, rgb(0 0 0 / 14%) 0px 12px 17px 2px, rgb(0 0 0 / 12%) 0px 5px 22px 4px;
  --elevation8: rgb(0 0 0 / 20%) 0px 8px 10px -5px, rgb(0 0 0 / 14%) 0px 16px 24px 2px, rgb(0 0 0 / 12%) 0px 6px 30px 5px;
  --elevation9: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
  --elevation-overlay1: linear-gradient(rgb(255 255 255 / 5.1%), rgb(255 255 255 / 5.1%));
  --elevation-overlay2: linear-gradient(rgb(255 255 255 / 6.9%), rgb(255 255 255 / 6.9%));
  --elevation-overlay3: linear-gradient(rgb(255 255 255 / 8.2%), rgb(255 255 255 / 8.2%));
  --elevation-overlay4: linear-gradient(rgb(255 255 255 / 9.2%), rgb(255 255 255 / 9.2%));
  --elevation-overlay5: linear-gradient(rgb(255 255 255 / 10.8%), rgb(255 255 255 / 10.8%));
  --elevation-overlay6: linear-gradient(rgb(255 255 255 / 11.9%), rgb(255 255 255 / 11.9%));
  --elevation-overlay7: linear-gradient(rgb(255 255 255 / 13.5%), rgb(255 255 255 / 13.5%));
  --elevation-overlay8: linear-gradient(rgb(255 255 255 / 14.7%), rgb(255 255 255 / 14.7%));
  --elevation-overlay9: linear-gradient(rgb(255 255 255 / 16.5%), rgb(255 255 255 / 16.5%));
  --transition-delay-default: 0.25s cubic-bezier(0.37, 0, 0.63, 1);
  --mobile: 575px;
  --tablet: 576px;
  --desktop: 993px;
  --l-desktop: 1240px;
  --viewport-mobile: screen and (width <= 575px);
  --viewport-tablet: screen and (width >= 576px) and (width <= 992px);
  --viewport-desktop: screen and (min-width: 993) and (max-width: 1239px);
  --viewport-over-tablet: screen and (min-width: 576px);
  --viewport-over-desktop: screen and (width >= 993px);
  --viewport-l-desktop: screen and (min-width: 1240px);
}